@model ERP_GMEDINA.Models.tbSeleccionCandidatos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
	@Html.ActionLink("Regresar", "Index", null, new {@class="pull-right" })
	<h2>Edit</h2>
</div>


@using (Html.BeginForm())
{
<div class="ibox-content">
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.scan_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.per_Id, "per_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("per_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.per_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fare_Id, "fare_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fare_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fare_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scan_Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.scan_Fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.scan_Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rper_Id, "rper_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("rper_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.rper_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scan_Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.scan_Estado)
                    @Html.ValidationMessageFor(model => model.scan_Estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scan_RazonInactivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.scan_RazonInactivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.scan_RazonInactivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scan_UsuarioCrea, "scan_UsuarioCrea", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("scan_UsuarioCrea", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.scan_UsuarioCrea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scan_FechaCrea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.scan_FechaCrea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.scan_FechaCrea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scan_UsuarioModifica, "scan_UsuarioModifica", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("scan_UsuarioModifica", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.scan_UsuarioModifica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scan_FechaModifica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.scan_FechaModifica, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.scan_FechaModifica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class="btn btn-default"})
            </div>
        </div>
    </div>
</div>
}
</div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
