@model ERP_GMEDINA.Models.tbPersonas
@using ERP_GMEDINA.Models
@{
    Helpers Login = new Helpers();
    int Sesiones = 0;


    List<tbUsuario> User = Login.getUserInformation();

    foreach (tbUsuario Usuario in User)
    {
        Sesiones = (int)Usuario.usu_SesionesValidas;
    }
}
<div class="modal inmodal" id="ModalDetalles" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle Personas</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    @*<dt>Id</dt>
                        <dd id="per_Id"></dd>*@

                    <dt>Identidad</dt>
                    <dd id="per_Identidad"></dd>

                    <dt>@Html.DisplayNameFor(model => model.per_Nombres)</dt>
                    <dd id="per_Nombres"></dd>

                    <dt>@Html.DisplayNameFor(model => model.tbNacionalidades.nac_Descripcion)</dt>
                    <dd id="tbNacionalidades"></dd>

                    <dt>@Html.DisplayNameFor(model => model.per_Edad)</dt>
                    <dd id="per_Edad"></dd>

                    <dt>@Html.DisplayNameFor(model => model.per_TipoSangre)</dt>
                    <dd id="per_TipoSangre"></dd>

                    <dt>@Html.DisplayNameFor(model => model.per_Direccion)</dt>
                    <dd id="per_Direccion"></dd>

                    <dt>@Html.DisplayNameFor(model => model.per_Telefono)</dt>
                    <dd id="per_Telefono"></dd>

                    <dt>@Html.DisplayNameFor(model => model.per_CorreoElectronico)</dt>
                    <dd id="per_CorreoElectronico"></dd>




                </dl>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <table class="table table-striped table-bordered dataTable">
                            <thead>
                                <tr>
                                    <th>Acción</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Creado</td>
                                    <td><span id="tbUsuario_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                    <td><span id="per_FechaCrea">@Html.DisplayFor(model => model.per_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                </tr>
                                <tr>
                                    <td>Modificado</td>
                                    <td><span id="tbUsuario1_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                    <td><span id="per_FechaModifica">@Html.DisplayFor(model => model.per_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger pull-left" id="btnInactivar">Inactivar</button>
                
                @*<button type="button" class="btn btn-primary pull-left" data-id="" id="btnEditar">Editar</button>*@
                @*<button type="button" class="btn btn-danger pull-left" data-id="" id="btnInactivar">Inactivar</button>*@
            </div>
        </div>
    </div>
</div>

