@model  ERP_GMEDINA.Models.tbAuxilioDeCesantias
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCrearAuxCess" }))
{
	<div class="modal-body" id="Crear">

		<div class="form-group">
			<div class="row">
				<div class="col-md-6">
					Rango Inicio (Meses)<label class="asterisco" id="AsteriscoRIM">*</label>

					@Html.EditorFor(model => model.aces_RangoInicioMeses, new { htmlAttributes = new { @class = "form-control", @type = "number", @name = "aces_RangoInicioMeses", @id = "aces_RangoInicioMeses" } })

					@Html.ValidationMessageFor(model => model.aces_RangoInicioMeses, "", new { @class = "text-danger", @id = "Validation_descipcion" })
				</div>
				<div class="col-md-6">
					Rango Fin (Meses)<label class="asterisco" id="AsteriscoRFM">*</label>


					@Html.EditorFor(model => model.aces_RangoFinMeses, new { htmlAttributes = new { @class = "form-control", @type = "number", @name = "aces_RangoFinMeses", @id = "aces_RangoFinMeses" } })

					@Html.ValidationMessageFor(model => model.aces_RangoFinMeses, "", new { @class = "text-danger", @id = "Validation_descipcion2" })
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-md-6">

					Auxilio Cesantía (Días)<label class="asterisco" id="AsteriscoACD">*</label>
					@Html.EditorFor(model => model.aces_DiasAuxilioCesantia, new { htmlAttributes = new { @class = "form-control", @type = "number", @name = "aces_DiasAuxilioCesantia", @id = "aces_DiasAuxilioCesantia" } })

					@Html.ValidationMessageFor(model => model.aces_DiasAuxilioCesantia, "", new { @class = "text-danger", @id = "Validation_descipcion3" })
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-white" id="btnCerrarCrearAuxCes">Cerrar</button>
		<button type="submit" class="btn btn-primary pull-left" id="btnCrearAuxCes">Guardar</button>
	</div>
}
