@model ERP_GMEDINA.Models.tbAuxilioDeCesantias
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditarAuxCesan" }))
{
    <div class="ibox-content">
        <div class="form-horizontal">
            <table class="table no-borders">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Código Auxilio Cesantia)</td>
                        @Html.HiddenFor(model => model.aces_IdAuxilioCesantia, new { htmlAttributes = new { @class = "text-box single-line" } })
                        <td>@Html.EditorFor(model => model.aces_IdAuxilioCesantia, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</td>
                    </tr>
                    <tr>
                        <td>Rango Inicio (Meses)</td>
                        <td>@Html.EditorFor(model => model.aces_RangoInicioMeses, new { htmlAttributes = new { @class = "text-box single-line"@*, @disabled = "disabled"*@ } })</td>
                    </tr>
                    <tr>
                        <td> Rango Fin (Meses)</td>
                        <td>@Html.EditorFor(model => model.aces_RangoFinMeses, new { htmlAttributes = new { @class = "text-box single-line"@*, @disabled = "disabled"*@ } })</td>
                    </tr>
                    <tr>
                        <td> Auxilio Cesantia (Dias)</td>
                        <td>@Html.EditorFor(model => model.aces_DiasAuxilioCesantia, new { htmlAttributes = new { @class = "text-box single-line"@*, @disabled = "disabled"*@ } })</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
}