@model IEnumerable<ERP_GMEDINA.Models.tbAuxilioDeCesantias>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutBasePlanillas.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="float-e-margins">
				<div class="ibox-title">
					<h5>Listado de Auxilio de Cesantías</h5>
					<div class="ibox-tools">
						<input type="button" value="Registrar Auxilio de Cesantía" name="btnModalCrear" id="btnModalCrear" class="btn btn-primary btn-xs" />
					</div>
				</div>
                <div class="ibox-content">

                        @{
                            <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                            var oUsuario = (ERP_GMEDINA.Models.UDP_Acce_Login_Result)HttpContext.Current.Session["sesionUsuario"];
                            <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                            int rol_Usuario = ((bool)(HttpContext.Current.Session["UserLoginEsAdmin"] ?? false) ? 1 : 2);
                            bool esAdmin = ((bool)(HttpContext.Current.Session["UserLoginEsAdmin"] ?? false) ? true : false);

                            <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                            <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                        }
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="tblAuxCesantia">
                            <thead>
                                <tr role="row">
                                    <th>Número</th>
                                    <th>Rango Inicio (Meses)</th>
                                    <th>Rango Final (Meses)</th>
                                    <th>Auxilio Cesantía (Días)</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyAuxCes" name="tbodyAuxCes">
                                @foreach (var item in Model)
                                {
                                    string estado = item.aces_Activo == false ? "Inactivo" : "Activo";

                                    <tr class="gradeA odd" role="row" data-id="@item.aces_IdAuxilioCesantia">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.aces_IdAuxilioCesantia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.aces_RangoInicioMeses)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.aces_RangoFinMeses)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.aces_DiasAuxilioCesantia)
                                        </td>
                                        <td>
                                            @estado
                                        </td>
                                        <td>
                                            @{
                                                if (item.aces_Activo == true)
                                                {
                                                    <button type="button" data-id="@item.aces_IdAuxilioCesantia" class="btn btn-primary btn-xs" id="btnModalDetalles">Detalles</button>
                                                    <button type="button" data-id="@item.aces_IdAuxilioCesantia" class="btn btn-default btn-xs" id="btnModalEdit">Editar</button>
                                                }
                                                <!-- validar si el usuario es administrador para mostrar el boton "activar" -->
                                                if (esAdmin == true && item.aces_Activo == false)
                                                {
                                                    <button type="button" data-id="@item.aces_IdAuxilioCesantia" class="btn btn-primary btn-xs" id="btnModalDetalles">Detalles</button>
                                                    <!-- ACTIVAR -->
                                                    <button type="button" data-id="@item.aces_IdAuxilioCesantia" class="btn btn-default btn-xs" id="btnModalActivarAuxCes">Activar</button>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="frmCrearAuxCes" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Crear auxilio cesantia</h4>
			</div>

			@Html.Partial("_Create", new ERP_GMEDINA.Models.tbAuxilioDeCesantias())

		</div>
	</div>
</div>


<div class="modal fade" id="frmDetailAuxCes" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Detalle auxilio de cesantia</h4>
			</div>
			<div class="modal-body" id="Detalles">
				@Html.Partial("_DetailsAuxCes", new ERP_GMEDINA.Models.tbAuxilioDeCesantias())
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="frmEditarAuxCes" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Editar auxilio de cesantia</h4>
			</div>

				@Html.Partial("_EditAuxCes", new ERP_GMEDINA.Models.tbAuxilioDeCesantias())

			<div class="modal-footer">
				<input type="button" class="btn btn-primary pull-left" id="btnUpdateAuxCes" value="Actualizar" />
				<button type="button" class="btn btn-danger pull-left" id="btnModalEliminar">Inactivar</button>
				<button type="button" data-dismiss="modal" class="btn btn-white pull-right" id="btnCerrarEditar">Cerrar</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ConfirmarEdicion" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Editar auxilio de cesantía</h4>
			</div>
			<div class="modal-body" id="confirmarEditar">
				¿Está seguro que desea editar este registro?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="btnConfirmarEditar">Si</button>
				<button type="button" class="btn btn-white" id="btnCerrarConfirmarEditar">No</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="frmEliminarAuxCes" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Inactivar auxilio de cesantía</h4>
			</div>
			<div class="modal-body" id="Eliminar">
				¿Está seguro que desea inactivar este registro?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger " id="btnEliminarAuxCes">Si</button>
				<button type="button" class="btn btn-white" id="btnCerrarInactivar" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="frmActivarAuxCes" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Activar auxilio de cesantía</h4>
			</div>
			<div class="modal-body" id="Activar">
				¿Está seguro que desea activar este registro?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="btnActivarAuxCes">Si</button>
				<button type="button" class="btn btn-white" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/plugins/dataTables")
	@Scripts.Render("~/Scripts/app/general/AuxilioCesantia.js")
}

@section Styles {
	@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
