@model ERP_GMEDINA.Models.tbHistorialIncapacidades
<div class="modal inmodal" id="ModalNuevo" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div  class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Agregar HistorialIncapacidades</h4>
            </div>
            
                
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormNuevo" }))
                {
                    <div class="modal-body" style="height:200px">
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group" style="width:419px; float:left;">

                                @Html.LabelFor(model => model.tbTipoIncapacidades.ticn_Descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                   @Html.DropDownList("ticn_Id", null, htmlAttributes: new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.ticn_Id, "", new { @class = "text-danger", @id = "Id" })
                                </div>
                               
                                <br><br>
                                @Html.LabelFor(model => model.hinc_Dias, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.hinc_Dias, new { htmlAttributes = new { @class = "form-contro required valid" } })
                                    @Html.ValidationMessageFor(model => model.hinc_Dias, "", new { @class = "text-danger", @id = "errorhinc_CentroMedico" })
                                </div>

                            </div>
                            <div class="form-group" style="width:419px; float:right;">

                                @Html.LabelFor(model => model.hinc_CentroMedico, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.hinc_CentroMedico, new { htmlAttributes = new { @class = "form-contro required valid" } })
                                    @Html.ValidationMessageFor(model => model.hinc_CentroMedico, "", new { @class = "text-danger", @id = "errorhinc_Dias" })
                                </div>
                                <br><br>
                                @Html.LabelFor(model => model.hinc_Doctor, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.hinc_Doctor, new { htmlAttributes = new { @class = "form-contro required valid" } })
                                    @Html.ValidationMessageFor(model => model.hinc_Doctor, "", new { @class = "text-danger", @id = "errorhinc_CentroMedico" })
                                </div>

                            </div>

                            <div class="form-group" style="width:419px; float:left;">
                                @Html.LabelFor(model => model.hinc_FechaInicio, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.hinc_FechaInicio, new { htmlAttributes = new { @class = "form-contro required valid" } })
                                    @Html.ValidationMessageFor(model => model.hinc_FechaInicio, "", new { @class = "text-danger", @id = "errorhinc_CentroMedico" })
                                </div>

                                <br><br>
                                @Html.LabelFor(model => model.hinc_FechaFin, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.hinc_FechaFin, new { htmlAttributes = new { @class = "form-contro required valid" } })
                                    @Html.ValidationMessageFor(model => model.hinc_FechaFin, "", new { @class = "text-danger", @id = "errorhinc_FechaFin" })
                                </div>
                            </div>

                            <div class="form-group" style="width:419px; float:right;">

                                @Html.LabelFor(model => model.hinc_Diagnostico, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.hinc_Diagnostico, new { htmlAttributes = new { @class = "form-contro required valid" } })
                                    @Html.ValidationMessageFor(model => model.hinc_Diagnostico, "", new { @class = "text-danger", @id = "errorhinc_Diagnostico" })
                                </div>

                                <br><br>
                           
                                <div hidden="hidden" class="col-md-8">
                                    <input class="form-contro required valid text-box single-line" data-val="true"  id="emp_Id" name="emp_Id" type="text" value="">
                                </div>
                            </div>





                        </div>
                    </div>
                }
                    
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary pull-left" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/app/General")
    @Scripts.Render("~/Scripts/app/General/IndexHistorialIncapacidades")
}


