@model ERP_GMEDINA.Models.tbInstitucionesFinancieras
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditInstitucionFinanciera" }))
{
    <div class="modal-body" id="Editar">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*@Html.HiddenFor(model => model.insf_UsuarioCrea)
                @Html.HiddenFor(model => model.insf_FechaCrea)*@
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.insf_IdInstitucionFinanciera, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.insf_IdInstitucionFinanciera, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @autocomplete = "off" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.insf_DescInstitucionFinanc, htmlAttributes: new { @class = "control-label" })
                    <label class="" id="Asterisco_insf_DescInstitucionFinanc">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.insf_DescInstitucionFinanc, new { htmlAttributes = new { @class = "form-control", @onkeyup = "DataAnnotationsEditar(this.value, '-1', '-1', '-1')", @autocomplete = "off", @maxlength = "100" } })
                    <span class="text-danger" style="display:block;" id="Span_insf_DescInstitucionFinanc">El campo Descripción es requerido.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.insf_Contacto, htmlAttributes: new { @class = "control-label" })
                    <label class="" id="Asterisco_insf_Contacto">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.insf_Contacto, new { htmlAttributes = new { @class = "form-control", @onkeyup = "DataAnnotationsEditar('-1', this.value, '-1', '-1')", @autocomplete = "off" } })
                    <span class="text-danger" style="display:block;" id="Span_insf_Contacto">El campo Contacto es requerido.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.insf_Telefono, htmlAttributes: new { @class = "control-label" })
                    <label class="" id="Asterisco_insf_Telefono">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.insf_Telefono, new { htmlAttributes = new { @class = "Telefono form-control", @onkeyup = "DataAnnotationsEditar('-1', '-1', this.value, '-1')", @autocomplete = "off" } })
                    <span class="text-danger" style="display:block;" id="Span_insf_Telefono">El campo Teléfono es requerido.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.insf_Correo, htmlAttributes: new { @class = "control-label" })
                    <label class="" id="Asterisco_insf_Correo">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.insf_Correo, new { htmlAttributes = new { @class = "form-control Email", @onkeyup = "DataAnnotationsEditar('-1', '-1', '-1', this.value)", @autocomplete = "off" } })
                    <span class="text-danger" style="display:block;" id="Span_insf_Correo">El campo correo es requerido.</span>
                    <span class="text-danger" style="display:none;" id="Span_insf_Correo_Validar">Ingrese un correo válido.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" value="Cerrar" id="btnCerrarEditar" class="btn btn-default pull-right" />
        <input type="submit" value="Actualizar" id="btnModalActualizarINFS" class="btn btn-primary pull-left" />
        <input type="button" value="Inactivar" id="btnModalInactivarINFS" class="btn btn-danger pull-left" />
    </div>
}
