@model ERP_GMEDINA.Models.tbInstitucionesFinancieras

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<h2>Instituciones Financieras</h2>
@*<h2>Eliminar</h2>*@

<h3>Esta seguro que desea eliminar este registro?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.insf_DescInstitucionFinanc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insf_DescInstitucionFinanc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insf_Contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insf_Contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insf_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insf_Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insf_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insf_Correo)
        </dd>

     

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
