@model IEnumerable<ERP_GMEDINA.Models.tbInstitucionesFinancieras>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_LayoutBasePlanillas.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Instituciones Financieras</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Cargar Planilla Deducción", "CargaDocumento", null, new { @class = "btn btn-primary btn-xs" })
                       @*@Html.ActionLink("Registrar Institución Financiera", "Create", null, new { @class = "btn btn-primary btn-xs"})*@
                        <button type="button" class="btn btn-primary btn-xs" id="btnAgregarInstitucion">Agregar Institución Financiera</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{
                        <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                        var oUsuario = (ERP_GMEDINA.Models.UDP_Acce_Login_Result)HttpContext.Current.Session["sesionUsuario"];

                        <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                        int rol_Usuario = ((bool)(HttpContext.Current.Session["UserLoginEsAdmin"] ?? false) ? 1 : 2);

                        <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                        <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                    }
                  <table class="table table-striped table-bordered table-hover dataTables-example" id="IndexTabla">
                    <thead>
                        <tr role="row">
                            <th>@Html.DisplayNameFor(model => model.insf_IdInstitucionFinanciera)</th>
                            <th>@Html.DisplayNameFor(model => model.insf_DescInstitucionFinanc)</th>
                            <th>@Html.DisplayNameFor(model => model.insf_Contacto)</th>
                            <th>@Html.DisplayNameFor(model => model.insf_Telefono)</th>
                            <th>@Html.DisplayNameFor(model => model.insf_Correo)</th>
                            <th>@Html.DisplayNameFor(model => model.insf_Activo)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyINFS">
                      @foreach (var item in Model)
                      {
                         string estado = item.insf_Activo == false ? "Inactivo" : "Activo";

                        <tr class="gradeA odd" role="row" data-id="@item.insf_IdInstitucionFinanciera">
                            <td>
                                @Html.DisplayFor(modelItem => item.insf_IdInstitucionFinanciera)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.insf_DescInstitucionFinanc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.insf_Contacto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.insf_Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.insf_Correo)
                            </td>
                            <td>
                                @estado
                            </td>
							<td>
                                @{
                                    if (item.insf_Activo == true)
                                    {
                                                <button type="button" data-id="@item.insf_IdInstitucionFinanciera" class="btn btn-primary btn-xs" id="btnModalDetallesINFS">Detalles</button>
                                                <button type="button" data-id="@item.insf_IdInstitucionFinanciera" class="btn btn-default btn-xs" id="btnModalEditarINFS">Editar</button>
                                    }
                                    if (oUsuario?.usu_EsAdministrador == true && item.insf_Activo == false)
                                    {
                                        <button type="button" data-id="@item.insf_IdInstitucionFinanciera" class="btn btn-primary btn-xs" id="btnModalDetallesINFS">Detalles</button>
                                                 <!-- ACTIVAR -->
                                        <button type="button" data-id="@item.insf_IdInstitucionFinanciera" class="btn btn-default btn-xs" id="btnModalActivarINFS">Activar</button>
                                    }
                                }
								
							</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
 </div>



<div class="modal fade" id="CrearInstitucion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear Institución Financiera</h4>
            </div>
            @Html.Partial("_Create", new ERP_GMEDINA.Models.tbInstitucionesFinancieras())
        </div>
    </div>
</div>

<div class="modal fade" id="EditarInstitucion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Institución Financiera</h4>
            </div>
            @Html.Partial("_Edit", new ERP_GMEDINA.Models.tbInstitucionesFinancieras())
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmarEdicion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Institución Financiera</h4>
            </div>
            <div class="modal-body" id="confirmarEditar">
                ¿Está seguro que desea editar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnConfirmarEditar2">Si</button>
                <button type="button" class="btn btn-white" id="btnCerrarConfirmarEditar">No</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetailsInstitucion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle Institución Financiera</h4>
            </div>
            <div class="modal-body" id="Detalles">
                @Html.Partial("_Details", new ERP_GMEDINA.Models.tbInstitucionesFinancieras())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" id="btnCerrarDetailsInstitucion" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="frmInactivarINFS" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inactivar</h4>
            </div>
            <div class="modal-body" id="Inactivar">
                ¿Está seguro que desea inactivar este registro?
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger " id="btnInactivarINFS">Si</button>
                <button type="button" class="btn btn-white" id="InactivarInstitucionCerrar" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="frmActivarINFS" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activar</h4>
            </div>
            <div class="modal-body" id="Activar">
                ¿Está seguro que desea activar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnActivarINFS">Si</button>
                <button type="button" class="btn btn-white" id="ActivarInstitucionCerrar" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
    
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

    
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/app/General/InstitucionesFinancierasIndex.js")
}
