@model IEnumerable<ERP_GMEDINA.Models.tbRazonSalidas>

@{
    ViewBag.Title = "View2";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>tbRazonSalidas</h2>
        <ol class="breadcrumb">
            <li class="active">
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de tbRazonSalidas</h5>
                    <div class="ibox-tools">
                       @Html.ActionLink("Registrar tbRazonSalidas", "Create", null, new { @class = "btn btn-primary btn-xs"})
                    </div>
                </div>
                <div class="ibox-content">
                  <table class="table table-striped table-bordered table-hover dataTables-example" id="IndexTable">
                    <thead>
                        <tr role="row">
                            <th>@Html.DisplayNameFor(model => model.rsal_Descripcion)</th>
                            <th>@Html.DisplayNameFor(model => model.rsal_Estado)</th>
                            <th>@Html.DisplayNameFor(model => model.rsal_RazonInactivo)</th>
                            <th>@Html.DisplayNameFor(model => model.rsal_FechaCrea)</th>
                            <th>@Html.DisplayNameFor(model => model.rsal_FechaModifica)</th>
                            <th>@Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)</th>
                            <th>@Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      @foreach (var item in Model) {
                        <tr class="gradeA odd" role="row" data-id="@item.rsal_Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.rsal_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rsal_Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rsal_RazonInactivo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rsal_FechaCrea)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rsal_FechaModifica)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario.usu_NombreUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario1.usu_NombreUsuario)
                            </td>
                            <td>
                              @Html.ActionLink("Detalles", "Details", new { id=item.rsal_Id },  new {@class = "btn btn-primary btn-xs" })
                              @Html.ActionLink("Editar", "Edit", new { id=item.rsal_Id }, new {@class = "btn btn-default btn-xs" })
                            </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
 </div>
    
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
  @Scripts.Render("~/plugins/dataTables")
}
