@model ERP_GMEDINA.Models.tbFormaPago

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditFormaPago" }))
{
    <div class="modal-body" id="Editar">

        <div class="ibox-content">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.fpa_IdFormaPago)

                            @Html.HiddenFor(model => model.fpa_UsuarioModifica)
                            @Html.LabelFor(model => model.fpa_IdFormaPago, htmlAttributes: new { @class = "control-label", @disabled = "disabled" })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.fpa_IdFormaPago, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.fpa_IdFormaPago, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.fpa_Descripcion, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.fpa_Descripcion, new { htmlAttributes = new { @class = "text-box single-line" } })
                            @Html.ValidationMessageFor(model => model.fpa_Descripcion, "", new { @class = "text-danger", @id = "Validation_descripcion" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" value="Cerrar" id="btnCerrarEditar" class="btn btn-default" />
            <input type="submit" value="Actualizar" id="btnUpdateFormaPago" class="btn btn-primary pull-left" />
            <input type="button" value="Inactivar" id="btnInactivarFormaPago" class="btn btn-danger pull-left" />
        </div>
    </div>
}

