@model ERP_GMEDINA.Models.tbFormaPago

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditFormaPago" }))
{
    <div class="modal-body" id="Editar">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.fpa_IdFormaPago)
            @Html.HiddenFor(model => model.fpa_UsuarioModifica)

            <div class="form-group">
                @Html.LabelFor(model => model.fpa_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fpa_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fpa_Descripcion, "", new { @class = "text-danger", @id = "Validation_descripcion" })
                </div>
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" value="Cerrar" id="btnCerrarEditar" class="btn btn-default" />
        <input type="submit" value="Aceptar" id="btnUpdateFormaPago" class="btn btn-primary" />
        <input type="button" value="Inactivar" id="btnInactivarFormaPago" class="btn btn-danger" />
    </div>
}

