@model IEnumerable<ERP_GMEDINA.Models.tbFormaPago>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasePlanillas.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado formas de pago</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary pull-right btn-xs" id="btnAgregarFormaPago">Registrar forma de pago</button>
                    </div>
                </div>
                <div class="ibox-content">

                    @{
                        <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                        var oUsuario = (ERP_GMEDINA.Models.UDP_Acce_Login_Result)HttpContext.Current.Session["sesionUsuario"];

                        <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                        int rol_Usuario = ((bool)(HttpContext.Current.Session["UserLoginEsAdmin"] ?? false) ? 1 : 2);

                        <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                        <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                    }

                  <table id="tblFormaPago" class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc col-md-4" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">Número</th>
                            <th class="sorting_asc  col-md-4" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.fpa_Descripcion)</th>
                            <th class="sorting_asc  col-md-4" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.fpa_Activo)</th>
                            <th class="sorting_asc  col-md-4">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyFormaPago">
                      @foreach (var item in Model) {
                          var EsActivo = (item.fpa_Activo) ? "Activo" : "Inactivo";
                        <tr class="gradeA odd" role="row" data-id="@item.fpa_IdFormaPago">
                            <td>
                                @Html.DisplayFor(modelItem => item.fpa_IdFormaPago)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fpa_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => EsActivo)
                            </td>
                            <td>
                                @if (item.fpa_Activo == true)
                                {
                                    <button data-id="@item.fpa_IdFormaPago" type="button" class="btn btn-primary btn-xs" id="btnDetallesFormaPago">Detalles</button>
                                    <button data-id="@item.fpa_IdFormaPago" type="button" class="btn btn-default btn-xs" id="btnEditarFormaPago">Editar</button>
                                }
                                @if (rol_Usuario == 1 && item.fpa_Activo == false)
                                {
                                    <button data-id="@item.fpa_IdFormaPago" type="button" class="btn btn-primary btn-xs" id="btnDetallesFormaPago">Detalles</button>
                                    <!-- ACTIVAR -->
                                    <button type="button" data-id="@item.fpa_IdFormaPago" class="btn btn-default btn-xs" id="btnActivarFormaPago">Activar</button>
                                }
                            </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
 </div>


<div class="modal fade" id="CrearFormaPago" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear forma de pago</h4>
            </div>
            @Html.Partial("_Create", new ERP_GMEDINA.Models.tbFormaPago())
        </div>
    </div>
</div>

<div class="modal fade" id="EditarFormaPago" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar forma de pago</h4>
            </div>
            @Html.Partial("_Edit", new ERP_GMEDINA.Models.tbFormaPago())
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmarEdicion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body" id="confirmarEditar">
                ¿Está seguro que desea editar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnConfirmarEditar2">Si</button>
                <button type="button" class="btn btn-white" id="btnCerrarConfirmarEditar">No</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="frmDetailFormaPago" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle de forma de pago</h4>
            </div>
            <div class="modal-body" id="Detalles">
                @Html.Partial("_Details", new ERP_GMEDINA.Models.tbFormaPago())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*INACTIVAR*@
<div class="modal fade" id="InactivarFormaPago" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inactivar</h4>
            </div>
            <div class="modal-body" id="Inactivar">
                ¿Está seguro que desea inactivar este registro?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="btnInactivarFormaPagoConfirm">Si</button>
                <button type="button" class="btn btn-white Asterisco" id="btnCerrarInactivar" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@*ACTIVAR*@
<div class="modal fade" id="ActivarFormaPago" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activar</h4>
            </div>
            <div class="modal-body" id="Activar">
                ¿Está seguro que desea activar este registro?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnActivarFormaPagoConfirm">Si</button>
                <button type="button" class="btn btn-white" id="btnCerrarActivar" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Scripts.Render("~/Scripts/plugins/iziToast/iziToast")
    @Scripts.Render("~/Scripts/plugins/iziToast/iziToast.min")
}

@section Scripts {

  @Scripts.Render("~/plugins/dataTables")
  @Scripts.Render("~/Scripts/app/General/FormaPago")
}
