@model ERP_GMEDINA.Models.tbCatalogoDePlanillas
@{
	ViewBag.Title = "Crear";
	Layout = "~/Views/Shared/_LayoutBasePlanillas.cshtml";
}
<link href="~/Content/plugins/switchery/switchery.css" rel="stylesheet" />
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default pull-right" })
					<h2>Registrar Planilla</h2>
				</div>
				<div class="ibox-content">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						<div class="form-horizontal">
							@Html.HiddenFor(model => model.cpla_IdPlanilla, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="row">
								<div class="form-group">
									<div class="col-md-1"></div>
									<div class="col-md-2">
										<label class="control-label">Descripción</label><label class="" id="asteriscoDescripcion">*</label>
									</div>
									<div class="col-md-4">
										@Html.EditorFor(model => model.cpla_DescripcionPlanilla, new { htmlAttributes = new { @class = "form-control" } })
										<span class="field-validation-valid text-danger" style="display:none" id="validacionDescripcionPlanilla" data-valmsg-for="cpla_DescripcionPlanilla" data-valmsg-replace="true">El campo descripción planilla es obligatorio.</span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group">
									<div class="col-md-1"></div>
									<div class="col-md-2">
										<label class="control-label">Frecuencia de pago</label><label class="" id="asteriscoFrecuenciaPago">*</label>
									</div>
									<div class="col-md-4">
										<select id="cpla_FrecuenciaEnDias" name="cpla_FrecuenciaEnDias" class="form-control valid">
										</select>
										<span class="field-validation-valid text-danger" style="display:none" id="validacionFrecuenciaDias" data-valmsg-for="cpla_FrecuenciaEnDias" data-valmsg-replace="true">El campo Frecuencia en días es obligatorio.</span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group">
									<div class="col-md-1"></div>
									<div class="col-md-2">
										<label class="control-label">Recibe Comisiones</label>
									</div>
									<div class="col-md-4">
										<input type="checkbox" checked="@false" class="i-checks" id="check-recibe-comision" />
									</div>
								</div>
							</div>
						</div>
						<div class="ibox-content">
							<div class="col-lg-6" id="catalogoDeIngresos">
								<div class="ibox float-e-margins">
									<h3 style="margin-left:85px;">Lista del catálogo de Ingresos</h3>
									<div class="col-lg-offset-2">
										<hr />
										<div class="col-xs-offset-1" style="display:none; margin-bottom: 10px">
											<span class="field-validation-valid text-danger" id="validacionCatalogoIngresos" data-valmsg-replace="true">Debe de seleccionar por lo menos un ingreso</span>
											<br />
										</div>
										<input type="checkbox" id="checkSeleccionarTodosIngresos" class="js-switch js-check-change" /> &nbsp; &nbsp; &nbsp; <label id="seleccionarTodosLosIngresos">Seleccionar todos los Ingresos</label><br /><br />
										<div class="data" style="padding:5px">
											<table id="tblCatalogoIngresos" class="table table-striped table-bordered table-hover tbl-catalogos">
												<thead>
													<tr>
														<th style="background: white"></th>
														<th>Descripción</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-5" id="catalogoDeDeducciones">
								<div class="ibox float-e-margins">
                                    <h3 style="margin-left:85px;">Lista del catálogo de Deducciones</h3>
									<div class="col-lg-offset-2">
										<hr class="" />
										<div class="col-xs-offset-1" style="display:none; margin-bottom: 10px">
											<span class="field-validation-valid text-danger" id="validacionCatalogoDeducciones" data-valmsg-replace="true">Debe de seleccionar por lo menos una deducción</span>
										</div>
										&nbsp; &nbsp; &nbsp;<input type="checkbox" id="checkSeleccionarTodasDeducciones" class="js-switch js-check-change" />&nbsp;&nbsp;<label id="seleccionarTodasLasDeducciones">Seleccionar todas las deducciones</label>
										<div class="data" style="padding:5px">
											<table id="tblCatalogoDeducciones" class="table table-striped table-bordered table-hover tbl-catalogos-d">
												<thead>
													<tr>
														<th style="background: white"></th>
														<th>Descripción</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
										<div class="form-horizontal col-xs-offset-1">
											<div class="form-group">
												<input type="checkbox" class="i-checks-no-aplica" id="noAplica" checked="@false" /> No Aplica
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-5 col-md-10">
									<input type="button" id="btnGuardarCatalogoDePlanillasIngresosDeducciones" value="Guardar" class="btn btn-primary" />
									<div style="display:none" class="btn" id="cargandoCrear">
									</div>
									@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/Scripts_Base/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/app/General/CatalogoPlanillas.js"></script>
<script src="~/Scripts/plugins/iziToast/iziToast.js"></script>
@section Scripts {
	@Scripts.Render("~/plugins/iCheck")
	@Scripts.Render("~/plugins/dataTablesSelvin")
	@Scripts.Render("~/plugins/dataTables")
}
@section Styles {
	@Styles.Render("~/Content/plugins/izitoast/iziToast")
	@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
	@Styles.Render("~/Content/app/General")
}
<script src="~/Scripts/plugins/switchery/switchery.js"></script>
<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />