@model ERP_GMEDINA.Models.tbCatalogoDePlanillas
@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default pull-right" })
					<h2>Detalle Catálogo de Planilla</h2>
				</div>
				<div class="ibox-content">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-md-3">
								<label>Descripción planilla</label>
							</div>
							<div class="col-md-4">
								<span>@Html.DisplayFor(model => model.cpla_DescripcionPlanilla)</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label>Frecuencia en días</label>
							</div>
							<div class="col-md-3">
								<span>@Html.DisplayFor(model => model.tbPeriodos.peri_DescripPeriodo)</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label>Recibe comisión</label>
							</div>
							<div class="col-md-4">
								<span>
									@if (Model.cpla_RecibeComision)
									{
										@Html.Raw("Si")
									}
									else
									{
										@Html.Raw("No")
									}
								</span>
							</div>
						</div>
					</div>
					<p>
						@Html.ActionLink("Editar", "Edit", new { id = Model.cpla_IdPlanilla }, new { @class = "btn btn-primary col-xs-offset-1" })
					</p>
				</div>
				<br />
				<div class="col-lg-1"></div>
				<div class="col-lg-5" id="catalogoDeIngresos">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Lista del catálogo de Ingresos</h5>
						</div>
						<div class="ibox-content">
							<table id="tblCatalogoIngresos" class="table table-striped table-bordered table-hover tbl-catalogos">
								<thead>
									<tr>
										<th style="background: white"></th>
										<th>Descripción</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in ViewBag.CatalogoIngresos)
									{
										<tr>
											<td>
												<input type="checkbox" class="i-checks" id="check-@item.id" disabled checked="@item.check" />
											</td>
											<td>@item.descripcion</td>
										</tr>
									}
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div class="col-lg-5" id="catalogoDeDeducciones">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Lista del catálogo de Deducciones</h5>
						</div>
						<div class="ibox-content">
							<table id="tblCatalogoDeducciones" class="table table-striped table-bordered table-hover tbl-catalogos">
								<thead>
									<tr>
										<th style="background: white"></th>
										<th>Descripción</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in ViewBag.CatalogoDeducciones)
									{
										<tr>
											<td>
												<input type="checkbox" class="i-checks" id="check-@item.id" disabled checked="@item.check" />
											</td>
											<td>@item.descripcion</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h4>Auditoría</h4>
				</div>
				<div class="ibox-content">
					<div class="form-horizontal">
						<table class="table table-striped table-bordered dataTable">
							<thead>
								<tr>
									<th>Acción</th>
									<th>Usuario</th>
									<th>Fecha</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Creado</td>
									<td><span>@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)</span></td>
									<td><span>@Html.DisplayFor(model => model.cpla_FechaCrea)</span></td>
								</tr>
								<tr>
									<td>Modificado</td>
									<td>
										<span>@Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)</span>
									</td>
									<td><span>@Html.DisplayFor(model => model.cpla_FechaModifica)</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/Scripts_Base/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/app/General/CatalogoPlanillas.js"></script>
@section Scripts {
	@Scripts.Render("~/plugins/iCheck")
	@Scripts.Render("~/plugins/dataTablesSelvin")
	@Scripts.Render("~/plugins/dataTables")
}
@section Styles {
	@Styles.Render("~/Content/plugins/izitoast/iziToast")
}
<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />
<script>
	$(document).ready(function () {
		$('.i-checks').iCheck({
			checkboxClass: 'icheckbox_square-green',
			radioClass: 'iradio_square-green',
		});
	});
</script>
