@model ERP_GMEDINA.Models.tbRazonSalidas

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCreate" }))
        {       
            @Html.AntiForgeryToken()
              <div class="form-horizontal">
			    @Html.HiddenFor(model => model.rsal_Id)
                @Html.HiddenFor(model => model.rsal_FechaCrea)
                @Html.HiddenFor(model => model.rsal_UsuarioCrea)


                  <div class="form-group">
                    @Html.LabelFor(model => model.rsal_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                      @Html.EditorFor(model => model.rsal_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(model => model.rsal_Descripcion, "", new { @class = "text-danger" })
                    </div>
                  </div>

   



                </div>
          }



