@model ERP_GMEDINA.Models.tbDeduccionesExtraordinarias

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Agregar Deducción por Equipo de Trabajo</h2>
                </div>

                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCreate" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.eqem_Id)<span id="asteriscoEquipoEmpleado">*</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownList("eqem_Id", null, "Seleccione una Opción...", htmlAttributes: new { @class = "form-control", @id = "eqemp_Id" })
                                    <label class="text-danger" id="validacionEquipoEmpleado" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Equipo Empleado Requerido.</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.dex_MontoInicial)<span id="asteriscoMontoInicial">*</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.dex_MontoInicial, new { htmlAttributes = new { @class = "form-control", @min = 0.01, @max = 9999999999.99 } })
                                    @Html.ValidationMessageFor(model => model.dex_MontoInicial, "", new { @class = "text-danger", @id = "validacionMontoInicial" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.dex_MontoRestante)<span id="asteriscoMontoRestante">*</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.dex_MontoRestante, new { htmlAttributes = new { @class = "form-control", @min = 0.01, @max = 9999999999.99 } })
                                    @Html.ValidationMessageFor(model => model.dex_MontoRestante, "", new { @class = "text-danger", @id = "validacionMontoRestante" })
                                    <span id="MontoRestanteCrear" class="text-danger" style="display:none;">Campo monto restante no puede ser mayor que monto incial</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.dex_ObservacionesComentarios)<span id="asteriscoObservaciones">*</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.dex_ObservacionesComentarios, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.dex_ObservacionesComentarios, "", new { @class = "text-danger", @id = "validacionObservaciones" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.cde_IdDeducciones)<span id="asteriscoIdDeducciones">*</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownList("cde_IdDeducciones", null, "Seleccione una Opción...", htmlAttributes: new { @class = "form-control", @id = "cde_Id" })
                                    <label class="text-danger" id="validacionIdDeducciones" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Deducción Requerido.</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.dex_Cuota)<span id="asteriscoCuota">*</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.dex_Cuota, new { htmlAttributes = new { @class = "form-control", @min = 0.01, @max = 9999999999.99 } })
                                    @Html.ValidationMessageFor(model => model.dex_Cuota, "", new { @class = "text-danger", @id = "validacionCuota" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" id="btnAgregar" value="Guardar" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </div>
                </div>
                }
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/izitoast")
    @Scripts.Render("~/Scripts/app/general/DeduccionesExtraordinarias")
}

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
}
