@model ERP_GMEDINA.Models.V_DeduccionesExtraordinarias_Detalles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBasePlanillas.cshtml";
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h2>Detalle de Deducción por Equipo de Trabajo</h2>
        </div>

        <div class="ibox-content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.eqtra_Codigo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.eqtra_Codigo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.eqtra_Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.eqtra_Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dex_ObservacionesComentarios)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dex_ObservacionesComentarios)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dex_MontoInicial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dex_MontoInicial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dex_MontoRestante)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dex_MontoRestante)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dex_Cuota)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dex_Cuota)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.cde_DescripcionDeduccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cde_DescripcionDeduccion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.per_Empleado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.per_Empleado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.car_Cargo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.car_Cargo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.area_Area)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.area_Area)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.depto_Departamento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.depto_Departamento)
                </dd>

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>Auditoría</h4>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <table class="table table-striped table-bordered dataTable">
                                <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Usuario</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Creado</td>
                                        @Html.HiddenFor(model => model.dex_UsuarioCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                                        <td><span id="usu_UsuarioCrea">@Html.DisplayFor(model => model.usu_UsuarioCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                        <td><span id="dex_FechaCrea">@Html.DisplayFor(model => model.dex_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                    </tr>
                                    <tr>
                                        <td>Modificado</td>
                                        @Html.HiddenFor(model => model.dex_UsuarioModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                                        <td><span id="usu_UsuarioModifica">@Html.DisplayFor(model => model.usu_UsuarioModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                        <td><span id="dex_FechaModifica">@Html.DisplayFor(model => model.dex_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </dl>
            <p>
                @Html.ActionLink("Cerrar", "Index", null, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
</div>
