@model ERP_GMEDINA.Models.tbDeduccionesExtraordinarias

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h2>Editar Deducción por Equipo de Trabajo</h2>
        </div>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditar"} ))
        {
            <div class="ibox-content">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.dex_IdDeduccionesExtra)

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.eqem_Id)<span>*</span>
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownList("eqem_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.eqem_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.dex_MontoInicial)<span id="asteriscMontoInicial">*</span>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.dex_MontoInicial, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dex_MontoInicial, "", new { @class = "text-danger", @id = "validMontoInicial" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.dex_MontoRestante)<span id="asteriscMontoRestante">*</span>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.dex_MontoRestante, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dex_MontoRestante, "", new { @class = "text-danger", @id = "validMontoRestante" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.dex_ObservacionesComentarios)<span id="asteriscObservaciones">*</span>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.dex_ObservacionesComentarios, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dex_ObservacionesComentarios, "", new { @class = "text-danger", @id = "validObservaciones" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.cde_IdDeducciones)<span>*</span>
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownList("cde_IdDeducciones", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.cde_IdDeducciones, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.dex_Cuota)<span id="asteriscCuota">*</span>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.dex_Cuota, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dex_Cuota, "", new { @class = "text-danger", @id = "validCuota" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="btnEditar" value="Actualizar" class="btn btn-primary" />
                            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/izitoast")
    @Scripts.Render("~/Scripts/app/general/DeduccionesExtraordinarias")
}

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
}

