@model ERP_GMEDINA.Models.tbPeriodos

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCreatePeriodo" }))
{
    <div class="modal-body" id="Crear">
        <div class="ibox-content">

            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.peri_UsuarioCrea)
                @Html.HiddenFor(model => model.peri_FechaCrea)

                <div class="form-group">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.peri_DescripPeriodo, new { htmlAttributes = new { @class = "text-box single-line" } })
                        <label class="" id="AsteriscoDescripPeriodo" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    </div>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.peri_DescripPeriodo, new { htmlAttributes = new { @class = "text-box single-line", @autocomplete = "off", @onkeyup = "ValidarCamposCrear(this.value, '-1')", @maxlength = "100" } })
                        <span class="text-danger" id="Validar_peri_DescripPeriodo" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo es requerido</span>
                        @*<span class="text-danger" id="validation_DescripcionNumerico" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo no admite datos numérico</span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.peri_CantidadDias, htmlAttributes: new { @class = "control-label" })
                        <label class="" id="AsteriscoCantidadDias" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    </div>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.peri_CantidadDias, new { htmlAttributes = new { @class = "text-box single-line", @autocomplete = "off", @onkeyup = "ValidarCamposCrear('-1', this.value)" } })
                        <span class="text-danger" id="Validar_peri_CantidadDias" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo es requerido.</span>
                        @*<span class="text-danger" id="validation_peri_CantidadDiasNumerico" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo debe ser mayor que cero.</span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.peri_RecibeSeptimoDia, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        <input type="checkbox" name="peri_RecibeSeptimoDia" id="peri_RecibeSeptimoDia" class="icheckbox_square-green">
                        @*@Html.EditorFor(model => model.peri_RecibeSeptimoDia, new { htmlAttributes = new { @class = "text-box single-line", @autocomplete = "off" } })*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" id="btnCrearPeriodoConfirmar" value="Guardar" class="btn btn-primary pull-left" />
        <div style="display:none" class="btn" id="cargandoCrear"></div>
        <input type="button" value="Cerrar" id="btnCerrarCrear" class="btn btn-default" />
    </div>
}
