@model ERP_GMEDINA.Models.tbPeriodos
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmDetailsPeriodo" }))
{
    <div class="ibox-content">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.peri_IdPeriodo)

            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.peri_IdPeriodo)
                </div>
                <div class="col-md-6">
                    <span id="peri_IdPeriodo">@Html.DisplayFor(model => model.peri_IdPeriodo, new { htmlAttributes = new { @class = "text-box single-line", disabled = "disabled" } })</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.peri_DescripPeriodo)
                </div>
                <div class="col-md-6">
                    <span id="peri_DescripPeriodo">@Html.DisplayFor(model => model.peri_DescripPeriodo, new { htmlAttributes = new { @class = "text-box single-line", disabled = "disabled" } })</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.peri_CantidadDias)
                </div>
                <div class="col-md-6">
                    <span id="peri_CantidadDias">@Html.DisplayFor(model => model.peri_CantidadDias, new { htmlAttributes = new { @class = "text-box single-line", disabled = "disabled" } })</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.peri_RecibeSeptimoDia)
                </div>
                <div class="col-md-6">
                    <span id="peri_RecibeSeptimoDia">@Html.DisplayFor(model => model.peri_RecibeSeptimoDia, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>

        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h4>Auditoría</h4>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <table class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Creado</td>
                                @Html.HiddenFor(model => model.peri_UsuarioCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                                <td><span id="tbUsuario_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                <td><span id="peri_FechaCrea">@Html.DisplayFor(model => model.peri_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            </tr>
                            <tr>
                                <td>Modificado</td>
                                @Html.HiddenFor(model => model.peri_UsuarioModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                                <td><span id="tbUsuario1_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                <td><span id="peri_FechaModifica">@Html.DisplayFor(model => model.peri_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

