@model ERP_GMEDINA.Models.tbPeriodos
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditPeriodo" }))
{
    <div class="modal-body" id="Editar">
        <div class="ibox-content">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-5">
                        @Html.HiddenFor(model => model.peri_IdPeriodo)
                        @Html.HiddenFor(model => model.peri_UsuarioModifica)
                        @Html.LabelFor(model => model.peri_IdPeriodo, htmlAttributes: new { @class = "control-label", @disabled = "disabled" })
                    </div>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.peri_IdPeriodo, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.peri_DescripPeriodo, htmlAttributes: new { @class = "control-label" })
                        <label class="" id="AsteriscoDescripPeriodo" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    </div>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.peri_DescripPeriodo, new { htmlAttributes = new { @class = "text-box single-line", @autocomplete = "off", @onkeyup = "ValidarCamposEditar(this.value, '-1')", @maxlength = "100" } })

                        <span class="text-danger" id="Validar_peri_DescripPeriodo" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo es requerido.</span>
                        <span class="text-danger" id="validation_EditDescripcionNumerico" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo no admite datos numérico.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.peri_CantidadDias, htmlAttributes: new { @class = "control-label" })
                        <label class="" id="AsteriscoCantidadDias" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    </div>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.peri_CantidadDias, new { htmlAttributes = new { @class = "text-box single-line", @autocomplete = "off", @onkeyup = "ValidarCamposEditar('-1', this.value)" } })
                        <span class="text-danger" id="Validar_peri_CantidadDias" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo es requerido.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.peri_RecibeSeptimoDia, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        <input type="checkbox" name="peri_RecibeSeptimoDia" id="peri_RecibeSeptimoDia" class="icheckbox_square-green">
                        @*@Html.EditorFor(model => model.peri_RecibeSeptimoDia, new { htmlAttributes = new { @class = "text-box single-line", @autocomplete = "off" } })*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" value="Cerrar" id="btnCerrarEditar" class="btn btn-default" />
        <input type="submit" value="Actualizar" id="btnUpdatePeriodo" class="btn btn-primary pull-left" />
        <input type="button" value="Inactivar" id="btnInactivarPeriodo" class="btn btn-danger pull-left" />
    </div>
}

