@model ERP_GMEDINA.Models.cHistorialSalidas_Empleados
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormEmpleados" }))
    {
<div class="col-md-4 b-r">
    @*@*//---emp_Id---*@

    <div class="form-group">
        @Html.LabelFor(model => model.Id,"Empleado", htmlAttributes: new { @class = "control-label col-md-2" ,@value="Empleado"})
        <div class="col-md-10">
            @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control required valid", @id = "DDOWNEmpleados" })
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger", @id = "errorDDOWNEmpleados" })
        </div>
    </div>

    @*//---emp_RazonInactivo---*@
    <div class="form-group">
        @Html.LabelFor(model => model.Razon,"Razón", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Razon, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return alphanumeric(event)" ,@maxleght = 100} })
            @Html.ValidationMessageFor(model => model.Razon, "", new { @class = "text-danger", @id = "erroremp_RazonInactivo" })
        </div>
    </div>
    <input type="button" class="btn btn-primary" id="add" value="Agregar" />
</div>
    }
