@model ERP_GMEDINA.Models.tbHistorialSalidas

<dl class="dl-horizontal">
    <dt>
        Observación
    </dt>

    <dd id="hsal_Observacion">
        @Html.DisplayFor(model => model.hsal_Observacion)
    </dd>
</dl>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h4>Auditoría</h4>
    </div>
    <div class="ibox-content">
        <div class="form-horizontal">
            <table class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Creado</td>
                        @Html.HiddenFor(model => model.hsal_UsuarioCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                        <td><span id="tbUsuario_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                        <td><span id="hsal_FechaCrea">@Html.DisplayFor(model => model.hsal_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        @Html.HiddenFor(model => model.hsal_UsuarioModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                        <td><span id="tbUsuario1_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                        <td><span id="hsal_FechaModifica">@Html.DisplayFor(model => model.hsal_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



@*MODAL EDITAR*@
<div class="modal inmodal" id="ModalEditar" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>

                <h4 class="modal-title">Editar salida</h4>

            </div>
            <div class="modal-body" id="ModalEdit">

                @Html.Partial("_EditHistorialSalidas", new ERP_GMEDINA.Models.tbHistorialSalidas())

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary pull-left" id="btnEditarModal" data-dismiss="modal">Editar</button>*@
                <button type="button" class="btn btn-danger pull-left" id="btnInactivarModal" data-toggle="modal" data-target="#ModalInactivar">Inactivar</button>
                <button type="button" class="btn btn-white  pull-right" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/app/general/IndexHistorialSalidas")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
}
