@model ERP_GMEDINA.Models.tbHistorialSalidas


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormEditar" }))
{

    @*@Html.AntiForgeryToken()*@
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        

        <div class="form-group">
            @Html.LabelFor(model => model.hsal_Observacion, "Observación", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hsal_Observacion, new { htmlAttributes = new { @class = "form-control required valid", @maxlength = 50, @onkeypress = "return alphanumeric(event)" } })
                @Html.ValidationMessageFor(model => model.hsal_Observacion, "", new { @class = "text-danger", @id = "errorhsal_Observacion" })
            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
