@model ERP_GMEDINA.Models.tbHistorialSalidas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbHistorialSalidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rsal_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rsal_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsal_FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsal_FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsal_Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsal_Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsal_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsal_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsal_RazonInactivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsal_RazonInactivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsal_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsal_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsal_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsal_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados.emp_CuentaBancaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados.emp_CuentaBancaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoSalidas.tsal_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoSalidas.tsal_Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
