@model ERP_GMEDINA.Models.tbEmpleadoBonos

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoBonosCreate" }))
        {
            <div class="modal-body" id="Crear">

                @*@Html.AntiForgeryToken()*@
                @*<div class="form-horizontal">*@
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            Colaborador
                            <label  id="Validation_descipcion9" opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                            <label class="text-danger" id="Validation_descipcion1" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                            <select id="emp_IdEmpleado" name="emp_Id" class="form-control"></select>
                            <label class="text-danger" id="Validation_descipcion2" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Empleado Requerido</label>
                        </div>
                        <div class="col-md-6">
                            Bono
                            <label id="Validation_descipcion7"  opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                             <label class="text-danger" id="Validation_descipcion3" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                            <select id="cin_IdIngreso" name="cin_IdIngreso" class="form-control"></select>
                            <label class="text-danger" id="Validation_descipcion4" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Bono requerido</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                             Monto
                            <label id="Validation_descipcion8"  opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                            <label class="text-danger" id="Validation_descipcion5" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>  
                            @Html.EditorFor(model => model.cb_Monto, new { htmlAttributes = new { @class = "col-md-9", @type = "number", @name = "cb_Monto", @id = "cb_Monto", @autocomplete = "off" } })
                             <br />
                                 @Html.ValidationMessageFor(model => model.cb_Monto, "", new { @class = "text-danger", @id = "Validation_descipcion6" })
                            
                        </div>
                        <div class="Col-md-6" style="display: none">
                            @Html.LabelFor(model => model.cb_FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cb_FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cb_FechaRegistro, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                   

                    <div class="form-group" style="display: none">
                        @Html.LabelFor(model => model.cb_Pagado, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.cb_Pagado)
                                @Html.ValidationMessageFor(model => model.cb_Pagado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                @*</div>*@
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal" id="btnCerrarCrearBono">Cerrar</button>
                <button type="submit" class="btn btn-primary pull-left" id="btnCreateRegistroBonos">Guardar</button>
            </div>
        }

