@model ERP_GMEDINA.Models.tbEmpleadoBonos

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoBonosDetalle" }))
{
    @Html.HiddenFor(model => model.cb_Id)

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <label for="emp_Id" htmlattributes="{ class = text-box single-line, disabled = disabled }">Colaborador</label>
                </div>
                <div class="col-md-6">
                    <span id="emp_Id">@Html.DisplayFor(model => model.emp_Id, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="cin_IdIngreso" htmlattributes="{ class = text-box single-line, disabled = disabled }">Bono</label>
                </div>
                <div class="col-md-6">
                    <span id="cin_IdIngreso">@Html.DisplayFor(model => model.cin_IdIngreso, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.cb_Monto, new { htmlAttributes = new { @class = "text-box single-line" } })
                </div>
                <div class="col-md-6">
                    <span id="cb_Monto">@Html.DisplayFor(model => model.cb_Monto, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.cb_FechaRegistro, new { htmlAttributes = new { @class = "text-box single-line" } })
                </div>
                <div class="col-md-6">
                    <span id="cb_FechaRegistro">@Html.DisplayFor(model => model.cb_FechaRegistro, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.cb_Pagado, new { htmlAttributes = new { @class = "text-box single-line" } })
                </div>
                <div class="col-md-6">
                    <span id="cb_Pagado">@Html.DisplayFor(model => model.cb_Pagado, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>
        </div>


    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4>Auditoría</h4>
        </div>
        <div class="ibox-content">
            <div class="form-horizontal">
                <table class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>Acción</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Creado</td>
                            @Html.HiddenFor(model => model.cb_UsuarioCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                            <td><span id="tbUsuario_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            <td><span id="cb_FechaCrea">@Html.DisplayFor(model => model.cb_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                        </tr>
                        <tr>
                            <td>Modificado</td>
                            @Html.HiddenFor(model => model.cb_UsuarioModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                            <td><span id="tbUsuario1_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            <td><span id="cb_FechaModifica">@Html.DisplayFor(model => model.cb_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

