@model ERP_GMEDINA.Models.tbEmpleadoBonos
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoBonos" }))
{
    <div class="modal-body" id="Editar">

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.cb_Id)
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="pull-left">Número</label>
                    </div>
                    <div class="col-md-8 pull-right">
                        @Html.EditorFor(model => model.cb_Id, new { htmlAttributes = new { @class = "form-control", @id = "cb_Id", @disabled = "disabled", @autocomplete = "off" } })
                        <label class="text-danger" id="Validation_descipcion" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">No puede dejar campos vacios.</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        @*@Html.HiddenFor(model => model.emp_Id, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })*@
                        <label for="emp_Id" htmlattributes="{ class = text-box single-line, disabled = disabled }">Colaborador</label>
                        <label class="" id="AsteriscoEmpleado">*</label>
                    </div>
                    <div class="col-md-8">
                        <select id="emp_IdEmpleado" name="emp_Id" class="form-control" onchange="ValidarCamposEditar(this.value, '-1', '-1')"></select>
                        <span class="field-validation-valid text-danger" style="display: none;" id="Validation_IdEmpleado">El campo colaborador es requerido</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="cin_IdIngreso" htmlattributes="{ class = text-box single-line, disabled = disabled }">Bono</label>
                        <label class="" id="AsteriscoBono">*</label>
                    </div>
                    <div class="col-md-8">
                        <select id="cin_IdIngreso" name="cin_IdIngreso" class="form-control" onchange="ValidarCamposEditar('-1', this.value, '-1')"></select>
                        <span class="field-validation-valid text-danger" style="display: none;" id="Validation_IdIngreso">El campo bono es requerido</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="cb_Monto" htmlattributes="{ class = text-box single-line, disabled = disabled }">Monto</label>
                        <label class="" id="AsteriscoMonto">*</label>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.cb_Monto, new { htmlAttributes = new { @class = "text-box single-line MascaraCantidad soloNumero", @autocomplete = "off", @onkeyup = "ValidarCamposEditar('-1', '-1', this.value)"} })
                        <span class="field-validation-valid text-danger" style="display: none;" id="Validation_Monto">El campo monto es requerido</span>
                    </div>
                </div>
            </div>


            <div class="form-group" style="display: none">
                @Html.LabelFor(model => model.cb_FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cb_FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => model.cb_FechaRegistro, "", new { @class = "text-danger" })*@
                    <span class="field-validation-valid text-danger" style="display: none;" id="Validation_FechaRegistro">El campo fecha es requerido</span>
                </div>
            </div>

            <div class="form-group" style="display: none">
                @Html.LabelFor(model => model.cb_Pagado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        <input type="checkbox" name="cb_Pagado" id="cb_Pagado">
                        @Html.ValidationMessageFor(model => model.cb_Pagado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary pull-left" id="btnUpdateBonos">Actualizar</button>
            <button type="button" class="btn btn-danger pull-left" id="btnmodalInactivarEmpleadoBonos">Inactivar</button>
        </div>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoBonosInactivar" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.cb_Id)
}
