@model ERP_GMEDINA.Models.tbEmpleadoBonos
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoBonos" }))
{
    <div class="modal-body" id="Editar">
        <div class="ibox-content">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.cb_Id)

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @*@Html.HiddenFor(model => model.emp_Id, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })*@
                            <label for="emp_Id" htmlattributes="{ class = text-box single-line, disabled = disabled }">Colaborador</label>
                            <label id="Validation_descipcion1" opacity 1; font-family open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight normal;">*</label>
                        </div>
                        <div class="col-md-6">
                            <select id="emp_IdEmpleado" name="emp_Id" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @*@Html.HiddenFor(model => model.cin_IdIngreso, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })*@
                            <label for="cin_IdIngreso" htmlattributes="{ class = text-box single-line, disabled = disabled }">Bono</label>
                            <label id="Validation_descipcion2" opacity 1; font-family open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight normal;">*</label>
                        </div>
                        <div class="col-md-6">
                            <select id="cin_IdIngreso" name="cin_IdIngreso" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="cb_Monto" htmlattributes="{ class = text-box single-line, disabled = disabled }">Monto</label>           
                            <label id="Validation_descipcion3" opacity 1; font-family open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight normal;">*</label>
                            <label class="text-danger" id="Validation_descipcion5" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.cb_Monto, new { htmlAttributes = new { @class = "text-box single-line", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.cb_Monto, "", new { @class = "text-danger", @id = "Validation_descipcion6" })
                        </div>
                    </div>
                </div>


                <div class="form-group" style="display: none">
                    @Html.LabelFor(model => model.cb_FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cb_FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cb_FechaRegistro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display: none">
                    @Html.LabelFor(model => model.cb_Pagado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            <input type="checkbox" name="cb_Pagado" id="cb_Pagado">
                            @Html.ValidationMessageFor(model => model.cb_Pagado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary pull-left" id="btnUpdateBonos">Actualizar</button>
        <button type="button" class="btn btn-danger pull-left" id="btnmodalInactivarEmpleadoBonos">Inactivar</button>
    </div>
}

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoBonosInactivar" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.cb_Id)
        }
