@using ERP_GMEDINA.Models
@{
    Helpers Login = new Helpers();
    int Sesiones = 0;


    List<tbUsuario> User = Login.getUserInformation();

    foreach (tbUsuario Usuario in User)
    {
        Sesiones = (int)Usuario.usu_SesionesValidas;
    }
}


<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">

            @{
                //var idmenu = Session["sesionIdMenu"];
                int idmenu = (int)(HttpContext.Current.Session["sesionIdMenu"] ?? -1);
                if (idmenu == -1)
                {
                    <script>
                        location.href = '/';
                    </script>
                }
                if (idmenu == 0)
                {
                    <!-- #region Header Recursos Humanos -->
                    <li class="nav-header" style="background-image: url(../../Content/img/header-profile.png);">
                        <div class="dropdown profile-element">

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">Recursos Humanos </strong>
                                    </span> <span class="text-muted text-xs block">Otras Acciones<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">


                                <li><a href="@Url.Action("CerrarSesion", "Login")">Cerrar Sesión</a></li>

                            </ul>
                        </div>
                        <div class="logo-element">
                            ERP
                        </div>
                    </li>
                    <!-- #endregion-->

                    <!-- #region Menu Recursos Humanos -->

                    @* INICIO *@
                    <li>
                        <a href="@Url.Action("MenuPrincipal", "Menu")"><i class="fa fa-home"></i>Menú Principal</a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Inicio", action: "Index")">
                        <a href="@Url.Action("Index", "Inicio", new { idmenu = 0 })"><i class="fa fa-home"></i>Inicio</a>
                    </li>
                    @* INICIO *@

                    @*MENU GENERAL*@
                    <li id="General" class="@Html.IsSelected(controller: "General")">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">General</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "General", cssClass: "in") General">
                            @if (Login.GetUserRols("Cargos/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Cargos", action: "Index")"><a href="@Url.Action("Index", "Cargos")">Cargos</a></li>
                            }
                            @if (Login.GetUserRols("Empresas/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Empresas", action: "Index")"><a href="@Url.Action("Index", "Empresas")">Empresas</a></li>
                            }
                            @if (Login.GetUserRols("Sucursales/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Sucursales", action: "Index")"><a href="@Url.Action("Index", "Sucursales")">Sucursales</a></li>
                            }
                            @if (Login.GetUserRols("TipoMonedas/Index"))
                            {
                              <li class="@Html.IsSelected(controller: "TipoMonedas", action: "Index")"><a href="@Url.Action("Index", "TipoMonedas")">Monedas</a></li>
                            }
                             @if (Login.GetUserRols("Jornadas/Index"))
                             {
                               <li class="@Html.IsSelected(controller: "Jornadas")"><a href="@Url.Action("Index", "Jornadas")">Jornadas y Horarios</a></li>
                             }
                            @if (Login.GetUserRols("Areas/Index"))
                            {
                                <li class="@Html.IsSelected(controller: "Areas")"><a href="@Url.Action("Index", "Areas")">Áreas y Departamentos</a></li>
                            }
                            @if (Login.GetUserRols("TipoHoras/Index"))
                            {
                                <li class="@Html.IsSelected(controller: "TipoHoras")"><a href="@Url.Action("Index", "TipoHoras")">Tipos de Horas</a></li>
                            }
                        </ul>
                    </li>
                    @*MENU GENERAL*@

                    @*DATOS PROFESIONALES*@
                    <li id="Datos_Profesionales" class="@Html.IsSelected(action: "Dashboard_5")">
                        <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label" data-i18n="nav.dashboard">Datos Profesionales</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level Datos_Profesionales">
                        @if (Login.GetUserRols("Competencias/Index"))
                        {
                            <li class="@Html.IsSelected(controller: "Competencias")">
                                <a href="@Url.Action("Index", "Competencias")">Listado de Competencias</a>
                            </li>
                        }
                            @if (Login.GetUserRols("Habilidades/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Habilidades")">
                                <a href="@Url.Action("Index", "Habilidades")">Listado de Habilidades</a>
                            </li>
                            }
                            @if (Login.GetUserRols("Titulos/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Titulos")">
                                <a href="@Url.Action("Index", "Titulos")">Listado de Títulos</a>
                            </li>
                            }
                            @if (Login.GetUserRols("FasesReclutamiento/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "FasesReclutamiento")">
                                <a href="@Url.Action("Index", "FasesReclutamiento")">Fases de Reclutamiento</a>
                            </li>
                            }
                            @if (Login.GetUserRols("Idiomas/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Idiomas", action: "Index")"><a href="@Url.Action("Index", "Idiomas")">Idiomas</a></li>
                            }
                            @if (Login.GetUserRols("Nacionalidades/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Nacionalidades", action: "Index")"><a href="@Url.Action("Index", "Nacionalidades")">Nacionalidades</a></li>
                            }

                            @if (Login.GetUserRols("RequerimientosEspeciales/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "RequerimientosEspeciales")">
                                <a href="@Url.Action("Index", "RequerimientosEspeciales")">Requerimientos Especiales</a>
                            </li>
                            }
                        </ul>
                    </li>
                    @*DATOS PROFESIONALES*@

                    @*RECLUTAMIENTO*@
                    <li id="Reclutamiento" class="@Html.IsSelected(action: "Dashboard_5")">
                        <a href="#"><i class="fa fa-user-plus"></i> <span class="nav-label" data-i18n="nav.dashboard">Reclutamiento</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level Reclutamiento">
                            @if (Login.GetUserRols("Personas/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Personas")">
                                <a href="@Url.Action("Index", "Personas")">Personas</a>
                            </li>
                            }
                            @if (Login.GetUserRols("Requisiciones/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Requisiciones")">
                                <a href="@Url.Action("Index", "Requisiciones")">Requisiciones</a>
                            </li>
                            }
                            @if (Login.GetUserRols("SeleccionCandidatos/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "SeleccionCandidatos")">
                                <a href="@Url.Action("Index", "SeleccionCandidatos")">Selección de Candidatos</a>
                            </li>
                            }
                        </ul>
                    </li>
                    @*RECLUTAMIENTO*@

                    @*EMPLEADOS*@
                    <li id="Empleados" class="@Html.IsSelected(action: "Dashboard_5")">
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.dashboard">Empleados</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Empleados", cssClass: "in") Empleados">
                            @if (Login.GetUserRols("Empleados/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "Empleados")"><a href="@Url.Action("Index", "Empleados")">Listado de Empleados</a></li>
                            }
                             @if (Login.GetUserRols("Sueldos/Index"))
                             {
                            <li class="@Html.IsSelected(controller: "Sueldos")"><a href="@Url.Action("Index", "Sueldos")">Listado de Sueldos</a></li>
                             }
                            @if (Login.GetUserRols("HistorialVacaciones/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "HistorialVacaciones")"> <a href="@Url.Action("Index", "HistorialVacaciones")">Historial de Vacaciones</a></li>
                            }
                            @if (Login.GetUserRols("HistorialHorasTrabajadas/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "HistorialHorasTrabajadas")"><a href="@Url.Action("Index", "HistorialHorasTrabajadas")">Historial de Horas Trabajadas</a></li>
                            }
                            @if (Login.GetUserRols("HistorialCargos/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "HistorialCargos")"><a href="@Url.Action("Index", "HistorialCargos")">Historial de Puestos</a></li>
                            }
                            @if (Login.GetUserRols("HistorialContrataciones/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "HistorialContrataciones")"><a href="@Url.Action("Index", "HistorialContrataciones")">Historial de Contrataciones</a></li>
                            }
                        </ul>
                    </li>
                    @*EMPLEADOS*@

                    @*EQUIPO DE TRABAJO*@
                    <li id="Equipo_Trabajo" class="@Html.IsSelected(action: "Dashboard_5")">
                        <a href="#"><i class="fa fa-suitcase"></i> <span class="nav-label" data-i18n="nav.dashboard">Herramientas</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Equipo_Trabajo", cssClass: "in") Equipo_Trabajo">
                        @if (Login.GetUserRols("EquipoTrabajo/Index"))
                        {
                            <li class="@Html.IsSelected(controller: "EquipoTrabajo")"><a href="@Url.Action("Index", "EquipoTrabajo")">Listado de Herramientas</a></li>
                        }
                        @if (Login.GetUserRols("EquipoEmpleados/Index"))
                        {
                            <li class="@Html.IsSelected(controller: "EquipoEmpleados")"><a href="@Url.Action("Index", "EquipoEmpleados")">Herramientas por Empleado</a></li>
                        }
                        </ul>
                    </li>
                    @*EQUIPO DE TRABAJO*@

                    @*INCAPACIDADES*@
                    <li id="Incapacidades" class="@Html.IsSelected(action: "Dashboard_5")">
                        <a href="#"><i class="fa fa-plus-square-o"></i> <span class="nav-label" data-i18n="nav.dashboard">Incapacidades</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level Incapacidades">
                            @if (Login.GetUserRols("TipoIncapacidades/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "TipoIncapacidades")">
                                <a href="@Url.Action("Index", "TipoIncapacidades")">Tipos de Incapacidades</a>
                            </li>
                            }
                                @if (Login.GetUserRols("HistorialIncapacidades/Index"))
                                {
                            <li class="@Html.IsSelected(controller: "HistorialIncapacidades")">
                                <a href="@Url.Action("Index", "HistorialIncapacidades")">Historial de Incapacidades</a>
                            </li>
                                }
                        </ul>
                    </li>
                    @*INCAPACIDADES*@

                    @*PERMISOS*@
                    <li id="Permisos" class="@Html.IsSelected(action: "Dashboard_5")">
                        <a href="#"><i class="fa fa-check-square-o"></i> <span class="nav-label" data-i18n="nav.dashboard">Permisos</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level Permisos">
                            @if (Login.GetUserRols("TipoPermisos/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "TipoPermisos")">
                                <a href="@Url.Action("Index", "TipoPermisos")">Tipos de Permisos</a>
                            </li>
                            }
                        @if (Login.GetUserRols("HistorialPermisos/Index"))
                        {
                            <li class="@Html.IsSelected(controller: "HistorialPermisos")">
                                <a href="@Url.Action("Index", "HistorialPermisos")">Historial de Permisos</a>
                            </li>
                        }
                        </ul>
                    </li>
                    @*PERMISOS*@

                    @*AMONESTACIONES*@
                    <li id="Amonestaciones" class="@Html.IsSelected(action: "Dashboard_5")">
                        <a href="#"><i class="fa fa-warning"></i> <span class="nav-label" data-i18n="nav.dashboard">Amonestaciones</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level Amonestaciones">
                            @if (Login.GetUserRols("TipoAmonestaciones/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "TipoAmonestaciones")"><a href="@Url.Action("Index", "TipoAmonestaciones")">Tipos de Amonestaciones</a></li>
                            }
                            @if (Login.GetUserRols("AudienciasDescargo/Index"))
                            {
                             <li class="@Html.IsSelected(controller: "HistorialAudienciaDescargo")"><a href="@Url.Action("Index", "HistorialAudienciaDescargos")">Audiencias de Descargo</a></li>
                            }
                            @if (Login.GetUserRols("HistorialAmonestaciones/Index"))
                            {
                            <li class="@Html.IsSelected(controller: "HistorialAmonestaciones")"><a href="@Url.Action("Index", "HistorialAmonestaciones")">Historial de Amonestaciones</a></li>
                            }
                        </ul>
                    </li>
                    @*AMONESTACIONES*@

                    @*Salidas*@
                    <li id="Salidas" class="@Html.IsSelected(action: "Dashboard_5")">
                        <a href="#"><i class="fa fa-external-link"></i> <span class="nav-label" data-i18n="nav.dashboard">Finalización Laboral</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level Salidas">
                             @if (Login.GetUserRols("RazonSalidas/Index"))
                             {
                            <li class="@Html.IsSelected(controller: "RazonSalidas")">
                                <a href="@Url.Action("Index", "RazonSalidas")">Razones de Salidas</a>
                            </li>
                             }
                              @if (Login.GetUserRols("TipoSalidas/Index"))
                              {
                            <li class="@Html.IsSelected(controller: "TipoSalidas")">
                                <a href="@Url.Action("Index", "TipoSalidas")">Tipos de Salida</a>
                            </li>
                              }
                             @if (Login.GetUserRols("HistorialSalidas/Index"))
                             {
                            <li class="@Html.IsSelected(controller: "HistorialSalidas")">
                                <a href="@Url.Action("Index", "HistorialSalidas")">Finalizaciones Laborales</a>
                            </li>
                             }

                        </ul>
                    </li>
                    @*Salidas*@

                    @*REPORTES*@
                    <li id="ReportesRRHH" class="@Html.IsSelected(action: "Dashboard_5")">
                        <a href="#"><i class="fa fa-clipboard"></i> <span class="nav-label" data-i18n="nav.dashboard">Reportes</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level  @Html.IsSelected(controller: "ReportesRRHH", cssClass: "in")">
                            @if (Login.GetUserRols("ReportesRRHH/HistorialAmonestacionesRPT"))
                            {
                            <li class="@Html.IsSelected(action: "HistorialAmonestacionesRPT")">
                                <a href="@Url.Action("HistorialAmonestacionesRPT", "ReportesRRHH")">Amonestaciones</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/HistorialAudienciaDescargoRPT"))
                            {
                            <li class="@Html.IsSelected(action: "HistorialAudienciaDescargoRPT")">
                                <a href="@Url.Action("HistorialAudienciaDescargoRPT", "ReportesRRHH")">Audiencias de Descargo</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/EquipoEmpleadosRPT"))
                            {
                            <li class="@Html.IsSelected(action: "EquipoEmpleadosRPT")">
                                <a href="@Url.Action("EquipoEmpleadosRPT", "ReportesRRHH")">Equipos por Empleado</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/FaseSeleccionRPT"))
                            {
                            <li class="@Html.IsSelected(action: "FaseSeleccionRPT")">
                                <a href="@Url.Action("FaseSeleccionRPT", "ReportesRRHH")">Fases de Selección</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/Empleado"))
                            {
                            <li class="@Html.IsSelected(action: "Empleado")">
                                <a href="@Url.Action("Empleado", "ReportesRRHH")">Empleados</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/HorasTrabajadas"))
                            {
                            <li class="@Html.IsSelected(action: "HorasTrabajadas")">
                                <a href="@Url.Action("HorasTrabajadas", "ReportesRRHH")">Horas Trabajadas</a>
                            </li>
                            }
                             @if (Login.GetUserRols("ReportesRRHH/HistorialContratacionesRPT"))
                             {
                            <li class="@Html.IsSelected(action: "HistorialContratacionesRPT")">
                                <a href="@Url.Action("HistorialContratacionesRPT", "ReportesRRHH")">Contrataciones</a>
                            </li>
                             }
                            @if (Login.GetUserRols("ReportesRRHH/HistorialIncapacidadesRPT"))
                            {
                            <li class="@Html.IsSelected(action: "HistorialIncapacidadesRPT")">
                                <a href="@Url.Action("HistorialIncapacidadesRPT", "ReportesRRHH")">Incapacidades</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/HistorialCargosRPT"))
                            {
                            <li class="@Html.IsSelected(action: "HistorialCargosRPT")">
                                <a href="@Url.Action("HistorialCargosRPT", "ReportesRRHH")">Puestos</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/HistorialSalidasRPT"))
                            {
                            <li class="@Html.IsSelected(action: "HistorialSalidasRPT")">
                                <a href="@Url.Action("HistorialSalidasRPT", "ReportesRRHH")">Finalizaciones Laborales</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/SueldosRPT"))
                            {
                            <li class="@Html.IsSelected(action: "SueldosRPT")">
                                <a href="@Url.Action("SueldosRPT", "ReportesRRHH")">Sueldos</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/Permisos"))
                            {
                            <li class="@Html.IsSelected(action: "Permisos")">
                                <a href="@Url.Action("Permisos", "ReportesRRHH")">Permisos</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/HistorialVacacionesRPT"))
                            {
                            <li class="@Html.IsSelected(action: "HistorialVacacionesRPT")">
                                <a href="@Url.Action("HistorialVacacionesRPT", "ReportesRRHH")">Vacaciones</a>
                            </li>
                            }
                            @if (Login.GetUserRols("ReportesRRHH/Requisicion"))
                            {
                            <li class="@Html.IsSelected(action: "Requisicion")">
                                <a href="@Url.Action("Requisicion", "ReportesRRHH")">Requisiciones</a>
                            </li>
                            }

                        </ul>
                    </li>
                    @*REPORTES*@

                    @*MENUS DE RRHH*@
                    <!-- #endregion  -->

                }
                else if (idmenu == 1)
                {
                    <!-- #region Header Planillas -->
                    <li class="nav-header" style="background-image: url(../../Content/img/header-profile.png);">
                        <div class="dropdown profile-element">

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">Módulo de Planillas</strong>
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="logo-element">
                            ERP
                        </div>
                    </li>
                    <!-- #endregion-->

                    if (Sesiones > 1)
                    {
                        <!-- #region Menu Planillas -->

                            <!--#region Menú Principal-->
                        //Menu principal (donde están todos los modulos)
                        if (Login.GetUserRols("Menu/MenuPrincipal"))
                        {
                                    <li class="">
                                        <a href="@Url.Action("MenuPrincipal", "Menu")"><i class="fa fa-home"></i> <span class="nav-label" data-i18n="nav.dashboard">Menú Principal</span></a>
                                    </li>
                        }
                            <!--#endregion-->

                            <!--#region Inicio-->
                        //Menu de planillas
                        if (Login.GetUserRols("Menu/Index"))
                        {
                                    <li class="@Html.IsSelected(controller: "Menu")">
                                        <a href="@Url.Action("Index", "Menu", new { idmenu = 1 })"><i class="fa fa-home"></i> <span class="nav-label" data-i18n="nav.dashboard">Inicio</span></a>
                                    </li>
                        }
                            <!--#endregion-->

                            <!--#region Planilla-->
                        if (Login.GetUserRols("Planilla/Index") ||
                            Login.GetUserRols("DecimoTercerMes/Index") ||
                            Login.GetUserRols("CatalogoDePlanillas/Index") ||
                            Login.GetUserRols("Liquidacion/Index") ||
                            Login.GetUserRols("PagoDeCesantiaDetalle/Index") ||
                            Login.GetUserRols("PlanillaImpuestoVecinal/Index")
                        )
                        {
                                    <li class="@Html.IsSelected(controller: "Planilla")  @Html.IsSelected(controller: "CatalogoDePlanillas")  @Html.IsSelected(controller: "DecimoCuartoMes")  @Html.IsSelected(controller: "DecimoTercerMes") @Html.IsSelected(controller: "Liquidacion") @Html.IsSelected(controller: "FechaPlanilla") @Html.IsSelected(controller: "PagoDeCesantiaDetalle") @Html.IsSelected(controller: "PlanillaImpuestoVecinal")">
                                        <a href="#"><i class="fa fa-group"></i> <span class="nav-label" data-i18n="nav.dashboard">Planilla</span> <span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "CatalogoDePlanillas", cssClass: "in") @Html.IsSelected(controller: "DecimoCuartoMes", cssClass: "in") @Html.IsSelected(controller: "DecimoTercerMes", cssClass: "in") @Html.IsSelected(controller: "Planilla", cssClass: "in")">
                                            @{
                                                //Planillas
                                                if (Login.GetUserRols("Planilla/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "Planilla")"><a href="@Url.Action("index", "Planilla")">Generar Planillas</a></li>
                                                }

                                                //Decimo tercer mes
                                                if (Login.GetUserRols("DecimoTercerMes/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "DecimoTercerMes")"><a href="@Url.Action("index", "DecimoTercerMes")">Generar Decimotercer Mes</a></li>
                                                }

                                                //Decimo cuarto mes
                                                if (Login.GetUserRols("DecimoCuartoMes/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "DecimoCuartoMes")"><a href="@Url.Action("index", "DecimoCuartoMes")">Generar Decimocuarto Mes</a></li>
                                                }

                                                //Gestionar planillas
                                                if (Login.GetUserRols("CatalogoDePlanillas/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "CatalogoDePlanillas")"><a href="@Url.Action("Index", "CatalogoDePlanillas")">Crear Planillas</a></li>
                                                }

                                                //Liquidar colaborador
                                                if (Login.GetUserRols("Liquidacion/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "Liquidacion")"><a href="@Url.Action("Index", "Liquidacion")">Liquidar Colaborador</a></li>
                                                }

                                                //Pago de cesantia
                                                if (Login.GetUserRols("PagoDeCesantiaDetalle/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "PagoDeCesantiaDetalle")"><a href="@Url.Action("Index", "PagoDeCesantiaDetalle")">Pago de Cesantía</a></li>
                                                }

                                                //Pago de impuesto vecinal
                                                if (Login.GetUserRols("PlanillaImpuestoVecinal/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "PlanillaImpuestoVecinal")"><a href="@Url.Action("Index", "PlanillaImpuestoVecinal")">Cálculo de impuesto vecinal</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                                }
                            <!--#endregion-->

                            <!--#region Ingresos-->
                                                // Ingresos
                                                if (Login.GetUserRols("CatalogoDeIngresos/Index") ||
                                                Login.GetUserRols("AdelantoSueldo/Index") ||
                                                Login.GetUserRols("EmpleadoBonos/Index") ||
                                                Login.GetUserRols("EmpleadoComisiones/Index") ||
                                                Login.GetUserRols("IngresosIndividuales/Index") ||
                                                Login.GetUserRols("IngresosIndividuales/Index")
                                                )
                                                {
                                    <li class="@Html.IsSelected(controller: "CatalogoDeIngresos") @Html.IsSelected(controller: "EmpleadoBonos") @Html.IsSelected(controller: "EmpleadoComisiones") @Html.IsSelected(controller: "IngresosIndividuales") @Html.IsSelected(controller: "AdelantoSueldo")">
                                        <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-money"></i> <span class="nav-label" data-i18n="nav.dashboard">Ingresos</span> <span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                                            @{
                                                //Catalogo de ingresos
                                                if (Login.GetUserRols("CatalogoDeIngresos/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "CatalogoDeIngresos")"><a href="@Url.Action("Index", "CatalogoDeIngresos")">Catálogo Ingresos</a></li>
                                                }

                                                //Adelanto de sueldo
                                                if (Login.GetUserRols("AdelantoSueldo/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "AdelantoSueldo")"><a href="@Url.Action("Index", "AdelantoSueldo")">Adelanto de Sueldo</a></li>
                                                }

                                                //Bonos por empleado
                                                if (Login.GetUserRols("EmpleadoBonos/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "EmpleadoBonos")"><a href="@Url.Action("Index", "EmpleadoBonos")">Bonos</a></li>
                                                }

                                                if (Login.GetUserRols("EmpleadoComisiones/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "EmpleadoComisiones")"><a href="@Url.Action("Index", "EmpleadoComisiones")">Comisiones</a></li>
                                                }

                                                //Ingresos extras
                                                if (Login.GetUserRols("IngresosIndividuales/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "IngresosIndividuales")"><a href="@Url.Action("Index", "IngresosIndividuales")">Ingresos Extras</a></li>
                                                }

                                            }
                                        </ul>
                                    </li>
                                                }
                            <!--#endregion-->

                            <!--#region Deducciones-->
                                                //Deducciones
                                                if (Login.GetUserRols("CatalogoDeDeducciones/Index") ||
                                                        Login.GetUserRols("IngresosIndividuales/Index") ||
                                                        Login.GetUserRols("DeduccionAFP/Index") ||
                                                        Login.GetUserRols("DeduccionesExtraordinarias/Index")
                                                  )
                                                {
                                    <li class="@Html.IsSelected(controller: "CatalogoDeDeducciones") @Html.IsSelected(controller: "DeduccionesExtraordinarias") @Html.IsSelected(controller: "DeduccionAFP") @Html.IsSelected(controller: "DeduccionesIndividuales")">
                                        <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-money"></i> <span class="nav-label" data-i18n="nav.dashboard">Deducciones</span> <span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                                            @{
                                                //Catalogo de deducciones
                                                if (Login.GetUserRols("CatalogoDeDeducciones/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "CatalogoDeDeducciones")"><a href="@Url.Action("Index", "CatalogoDeDeducciones")">Catálogo de Deducciones</a></li>
                                                }

                                                //Ingresos individuales
                                                if (Login.GetUserRols("DeduccionesAFP/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "DeduccionAFP")"><a href="@Url.Action("Index", "DeduccionAFP")">Deducciones AFP</a></li>
                                                }

                                                //Deduccion AFP
                                                if (Login.GetUserRols("DeduccionesIndividuales/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "DeduccionesIndividuales")"><a href="@Url.Action("Index", "DeduccionesIndividuales")">Deducciones Extras</a></li>
                                                }

                                                //Deducciones por equipo de trabajo
                                                if (Login.GetUserRols("DeduccionesExtraordinarias/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "DeduccionesExtraordinarias")"><a href="@Url.Action("Index", "DeduccionesExtraordinarias")">Deducciones Equipo de Trabajo</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                                }
                                    <!--#endregion-->

                            <!--#region Configuraciones-->
                                                //Configuraciones
                                                if (Login.GetUserRols("AcumuladosISR/Index") ||
                                                    Login.GetUserRols("AFP/Index") ||
                                                    Login.GetUserRols("AuxilioDeCesantias/Index") ||
                                                    Login.GetUserRols("FormaPago/Index") ||
                                                    Login.GetUserRols("InstitucionesFinancieras/Index") ||
                                                    Login.GetUserRols("ISR/Index") ||
                                                    Login.GetUserRols("Periodos/Index") ||
                                                    Login.GetUserRols("Preaviso/Index") ||
                                                    Login.GetUserRols("TechosComisiones/Index") ||
                                                    Login.GetUserRols("TechosDeducciones/Index") ||
                                                    Login.GetUserRols("TechoImpuestoVecinal/Index") ||
                                                    Login.GetUserRols("TipoDeducciones/Index")
                                                )
                                                {
                                    <li class="@Html.IsSelected(controller: "ISR") @Html.IsSelected(controller: "AcumuladosISR") @Html.IsSelected(controller: "TechosComisiones") @Html.IsSelected(controller: "AuxilioDeCesantias") @Html.IsSelected(controller: "InstitucionesFinancieras") @Html.IsSelected(controller: "FormaPago") @Html.IsSelected(controller: "TechosDeducciones") @Html.IsSelected(controller: "TipoDeducciones") @Html.IsSelected(controller: "AFP") @Html.IsSelected(controller: "Preaviso") @Html.IsSelected(controller: "Periodos") @Html.IsSelected(controller: "TechoImpuestoVecinal")">
                                        <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-cog"></i> <span class="nav-label" data-i18n="nav.dashboard">Configuraciones</span> <span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                                            @{
                                                //Acumulados ISR
                                                if (Login.GetUserRols("AcumuladosISR/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "AcumuladosISR")"><a href="@Url.Action("Index", "AcumuladosISR")">Acumulados ISR</a></li>
                                                }

                                                //AFP
                                                if (Login.GetUserRols("AFP/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "AFP")"><a href="@Url.Action("Index", "AFP")">AFP</a></li>
                                                }

                                                //Auxilio de cesantias
                                                if (Login.GetUserRols("AuxilioDeCesantias/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "AuxilioDeCesantias")"><a href="@Url.Action("Index", "AuxilioDeCesantias")">Auxilio de Cesantías</a></li>
                                                }

                                                //Forma de pago
                                                if (Login.GetUserRols("FormaPago/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "FormaPago")"><a href="@Url.Action("Index", "FormaPago")">Formas de Pago</a></li>
                                                }

                                                //Institucioens financieras
                                                if (Login.GetUserRols("InstitucionesFinancieras/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "InstitucionesFinancieras")"><a href="@Url.Action("Index", "InstitucionesFinancieras")">Instituciones Financieras</a></li>
                                                }

                                                //Impuesto sobre renta
                                                if (Login.GetUserRols("ISR/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "ISR")"><a href="@Url.Action("Index", "ISR")">ISR</a></li>
                                                }

                                                //Periodos de pagos
                                                if (Login.GetUserRols("Periodos/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "Periodos")"><a href="@Url.Action("Index", "Periodos")">Períodos de Pago</a></li>
                                                }

                                                //Preaviso
                                                if (Login.GetUserRols("Preaviso/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "Preaviso")"><a href="@Url.Action("Index", "Preaviso")">Preaviso</a></li>
                                                }

                                                if (Login.GetUserRols("TechosComisiones/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "TechosComisiones")"><a href="@Url.Action("Index", "TechosComisiones")">Techos Comisiones</a></li>
                                                }

                                                //Techos de de ducciones
                                                if (Login.GetUserRols("TechosDeducciones/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "TechosDeducciones")"><a href="@Url.Action("Index", "TechosDeducciones")">Techos de Deducciones</a></li>
                                                }

                                                //Techo del impuesto vecinal
                                                if (Login.GetUserRols("TechoImpuestoVecinal/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "TechoImpuestoVecinal")"><a href="@Url.Action("Index", "TechoImpuestoVecinal")">Techo del Impuesto Vecinal</a></li>
                                                }

                                                //Tipos de deducciones
                                                if (Login.GetUserRols("TipoDeducciones/Index"))
                                                {
                                                    <li class="@Html.IsSelected(controller: "TipoDeducciones")"><a href="@Url.Action("Index", "TipoDeducciones")">Tipo de Deducciones</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                                }
                            <!--#endregion-->

                            <!--#region Reportes Planillas-->
                                                //Reportes del modulo de planillas
                                                if (Login.GetUserRols("ReportesPlanilla/InstitucionesFinancierasParametros") ||
                                                    Login.GetUserRols("ReportesPlanilla/DeduccionesParametros") ||
                                                    Login.GetUserRols("ReportesPlanilla/DecimoTercerParametros") ||
                                                    Login.GetUserRols("ReportesPlanilla/DecimoCuartoParametros") ||
                                                    Login.GetUserRols("ReportesPlanilla/IngresosParametros") ||
                                                    Login.GetUserRols("ReportesPlanilla/ReportesVariosParametros")
                                                    )
                                                {
                                    <li class="@Html.IsSelected(controller: "ReportesPlanilla")">
                                        <a href="#"><i class="fa fa-print"></i> <span class="nav-label" data-i18n="nav.dashboard">Reportes</span> <span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "ReportesPlanilla", cssClass: "in")">
                                            @{
                                                //Reporte de deducciones
                                                if (Login.GetUserRols("ReportesPlanilla/DeduccionesParametros"))
                                                {
                                                    <li class="@Html.IsSelected(action: "DeduccionesParametros")"><a href="@Url.Action("DeduccionesParametros", "ReportesPlanilla")">Deducciones</a></li>
                                                }

                                                //Reporte de decimo tercer mes
                                                if (Login.GetUserRols("ReportesPlanilla/DecimoTercerParametros"))
                                                {
                                                    <li class="@Html.IsSelected(action: "DecimoTercerParametros")"><a href="@Url.Action("DecimoTercerParametros", "ReportesPlanilla")">Decimotercer Mes</a></li>
                                                }

                                                //Reporte de decimo cuarto mes
                                                if (Login.GetUserRols("ReportesPlanilla/DecimoCuartoParametros"))
                                                {
                                                    <li class="@Html.IsSelected(action: "DecimoCuartoParametros")"><a href="@Url.Action("DecimoCuartoParametros", "ReportesPlanilla")">Decimocuarto Mes</a></li>
                                                }

                                                //Reporte de ingresos
                                                if (Login.GetUserRols("ReportesPlanilla/IngresosParametros"))
                                                {
                                                    <li class="@Html.IsSelected(action: "IngresosParametros")"><a href="@Url.Action("IngresosParametros", "ReportesPlanilla")">Ingresos</a></li>
                                                }

                                                //Varios reportes
                                                if (Login.GetUserRols("ReportesPlanilla/ReportesVariosParametros"))
                                                {
                                                    <li class="@Html.IsSelected(action: "ReportesVariosParametros")"><a href="@Url.Action("ReportesVariosParametros", "ReportesPlanilla")">Reportes Varios</a></li>
                                                }

                                                //Reporte de instituciones financiereas
                                                if (Login.GetUserRols("ReportesPlanilla/InstitucionesFinancierasParametros"))
                                                {
                                                    <li class="@Html.IsSelected(action: "InstitucionesFinancierasParametros")"><a href="@Url.Action("InstitucionesFinancierasParametros", "ReportesPlanilla")">Instituciones Financieras</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                                }
                              <!--#endregion-->

                      <!-- #endregion -->
                     }
                      }
                 else if (idmenu == 3)
              {

                        <!-- #region Header Inventario -->
                     <li class="nav-header" style="background-image: url(../../Content/img/header-profile.png);">
                                                        <div class="dropdown profile-element">

                                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                                <span class="clear">
                                                                    <span class="block m-t-xs">
                                                                        <strong class="font-bold">Inventario </strong>
                                                                    </span> <span class="text-muted text-xs block">Otras Acciones<b class="caret"></b></span>
                                                                </span>
                                                            </a>
                                                            <ul class="dropdown-menu animated fadeInRight m-t-xs">


                                                                <li><a href="@Url.Action("CerrarSesion", "Login")">Cerrar Sesión</a></li>

                                                            </ul>
                                                        </div>
                                                        <div class="logo-element">
                                                            ERP
                                                        </div>
                                                    </li>
                    <!-- #endregion-->
               @* INICIO *@
                     <li>
                        <a href="@Url.Action("MenuPrincipal", "Menu")"><i class="fa fa-home"></i>Menú Principal</a>
                     </li>
                  <li class="@Html.IsSelected(controller: "Home", action: "Index")">
                       <a href="@Url.Action("Index", "Home", new { idmenu = 3 })"><i class="fa fa-home"></i>Inicio</a>
                    </li>
               @* INICIO *@

                <li>
                    <a href="#"><i class="fa fa-tag"></i><span class="nav-label">Inventario</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (Login.GetUserAccesoRol("Bodega/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Bodega")"><i class="fa fa-home fa-fw"></i>Bodegas<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Entrada/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Entrada")"><i class="fa fa-folder-open-o fa-fw"></i>Entradas<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Salida/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Salida")"><i class="fa fa-folder-open-o fa-fw"></i>Salidas<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("ConsultarExistenciaProductos/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "ConsultarExistenciaProductos")"><i class="fa fa-search"></i>Consultar Existencias <span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Box/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Box")"><i class="fa fa-cube fa-fw"></i> Caja <span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("InventarioFisico/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "InventarioFisico")"><i class="fa fa-file fa-fw"></i>Inventario Fisico<span class="nav-label"></span> </a>
                            </li>
                        }
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-folder-open"></i><span class="nav-label">Catálagos</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (Login.GetUserAccesoRol("Producto/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Producto")"><i class="fa fa-cube fa-fw"></i>Producto <span class="nav-label"></span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("ProductoCategoria/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "ProductoCategoria")"><i class="fa fa-cubes fa-fw"></i>Producto Categoría<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("UnidadMedida/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "UnidadMedida")"><i class="fa fa-balance-scale"></i><span class="nav-label">Unidades de Medida</span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("Departamento/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Departamento")"><i class="fa fa-map fa-fw"></i><span class="nav-label">División Política</span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("TipoEntrada/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "TipoEntrada")"><i class="fa fa-bookmark-o fa-fw"></i>Tipo Entrada<span class="nav-label"></span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("TipoSalida/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "TipoSalida")"><i class="fa fa-bookmark-o fa-fw"></i><span class="nav-label">Tipos Salidas</span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("TipoDevolucion/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "TipoDevolucion")"><i class="fa fa-recycle fa-fw"></i><span class="nav-label">Tipo Devolucion</span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("EstadoMovimiento/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "EstadoMovimiento")"><i class="fa fa-bar-chart-o fa-fw"></i>Estado Movimiento<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("EstadoInventarioFisico/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "EstadoInventarioFisico")"><i class="fa fa-bar-chart-o fa-fw"></i>Estado Inventario Fisico<span class="nav-label"></span> </a>
                            </li>
                        }
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-cogs fa-fw"></i><span class="nav-label">Configuración</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (Login.GetUserAccesoRol("Empleado/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Empleado")"><i class="fa fa-user"></i>Empleado <span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Proveedor/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Proveedor")"><i class="fa fa-truck fa-fw"></i>Proveedor <span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Parametro/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Parametro")"><i class="fa fa-desktop fa-fw"></i><span class="nav-label">Parametro</span> </a>
                            </li>
                        }

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-lock"></i><span class="nav-label">Seguridad</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (Login.GetUserAccesoRol("Usuario/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Usuario")"><i class="fa fa-users fa-fw"></i>Usuario <span class="nav-label"></span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("Rol/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Rol")"><i class="fa fa-ticket fa-fw"></i>Roles<span class="nav-label"></span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("Objeto/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Objeto")"><i class="fa fa-desktop fa-fw"></i><span class="nav-label">Objeto</span> </a>
                            </li>
                        }
                    </ul>

                </li>
                }
              }

        </ul>
    </div>
</nav>