@model ERP_GMEDINA.Models.tbPreaviso

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCreatePreaviso" }))
{

    <div class="modal-body" id="Crear">
        <div class="ibox-content">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.prea_UsuarioCrea)
                @Html.HiddenFor(model => model.prea_FechaCrea)

                <div class="form-group">
                    <div class="col-md-6">
                        <div class="input-group date">
                            Rango de Inicio del Mes
                            <label class="" id="AsteriscoInicio">*</label> 
                            @Html.EditorFor(model => model.prea_RangoInicioMeses, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.prea_RangoInicioMeses, "", new { @class = "text-danger", @id = "Validation_descripcion", @min="0" ,@max="35" })
                    </div>
                    <div class="col-md-6">
                        <div class="input-group date">
                            Rango del Fin de Mes
                            <label class="" id="AsteriscoFin">*</label> 
                            @Html.EditorFor(model => model.prea_RangoFinMeses, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.prea_RangoFinMeses, "", new { @class = "text-danger", @id = "Validation_descripcion1", @min = "1", @max = "36" })
                        <span id="RangoFinCrear" class="text-danger" style="display:none;">El campo rango fin no puede ser menor que rango inicio</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <div class="input-group date">
                            Dias Preaviso
                            <label class="" id="AsteriscoDias">*</label> 
                            @Html.EditorFor(model => model.prea_DiasPreaviso, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.prea_DiasPreaviso, "", new { @class = "text-danger", @id = "Validation_descripcion2", @min = "1" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" value="Cerrar" id="btnCerrarCrear" class="btn btn-default" />
        <input type="submit" id="btnCrearPreavisoConfirmar" value="Guardar" class="btn btn-primary pull-left" />
    </div> 
}