@model ERP_GMEDINA.Models.tbPreaviso

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditPreaviso" }))
{

    <div class="modal-body" id="Editar">
        <div class="ibox-content">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.prea_IdPreaviso)
                            @Html.HiddenFor(model => model.prea_UsuarioModifica)
                            @Html.LabelFor(model => model.prea_IdPreaviso, htmlAttributes: new { @class = "control-label", @disabled = "disabled" })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.prea_IdPreaviso, new { htmlAttributes = new { @class = "form-control", @id = "prea_IdPreaviso", @disabled = "disabled" } })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.prea_RangoInicioMeses, htmlAttributes: new { @class = "control-label", @disabled = "disabled" })
                            <span class="asterisco" id="EditAsteriscoRangoInicio">*</span>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.prea_RangoInicioMeses, new { htmlAttributes = new { @class = "form-control MascaraEnteros soloNumero", @type = "text", @autocomplete = "off" } })
                            
                            <span class="text-danger" id="validation_EditRangoInicioMenorACero" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">El rango inicio no puede ser menor a cero</span>
                            <span class="text-danger" id="validation_EditRangoInicioRequerido" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo es requerido</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.prea_RangoFinMeses, htmlAttributes: new { @class = "control-label", @disabled = "disabled" })
                            <label class="asterisco" id="EditAsteriscoRangoFinal">*</label>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.prea_RangoFinMeses, new { htmlAttributes = new { @class = "form-control MascaraEnteros soloNumero", @type = "text", @autocomplete = "off" } })
                            
                            <span class="text-danger" id="validation_EditRangoFinalMenorACero" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">El rango final no puede ser menor a cero</span>
                            <span class="text-danger" id="validation_EditRangoFinalRequerido" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo es requerido</span>
                            <span class="text-danger" id="validation_EditRangoFinalMayoRangoInicio" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">El rango final debe ser mayor que el rango inicial</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.prea_DiasPreaviso, htmlAttributes: new { @class = "control-label", @disabled = "disabled" })
                            <label class="asterisco" id="EditAsteriscoCantidadDia">*</label>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.prea_DiasPreaviso, new { htmlAttributes = new { @class = "form-control MascaraEnteros soloNumero", @type = "text", @autocomplete = "off" } })
                            
                            <span class="text-danger" id="validation_EditCantidadDiasMenorACero" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">El rango final no puede ser menor a cero</span>
                            <span class="text-danger" id="validation_EditCantidadDiasRequerido" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Este campo es requerido</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" value="Cerrar" id="btnCerrarEditar" class="btn btn-default" />
        <input type="submit" value="Actualizar" id="btnUpdatePreaviso" class="btn btn-primary pull-left" />
        <input type="button" value="Inactivar" id="btnInactivarPreaviso" class="btn btn-danger pull-left" />
    </div>

    
}