@model IEnumerable<ERP_GMEDINA.Models.tbPreaviso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Configuración de preavisos</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary pull-right btn-xs" id="btnAgregarPreaviso">Registrar preaviso</button>
                    </div>
                </div>
                <div class="ibox-content">

                    @{
                        <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                        var oUsuario = (ERP_GMEDINA.Models.tbUsuario)HttpContext.Current.Session["sesionUsuario"];

                        <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                        string rol_Usuario = oUsuario?.usu_EsAdministrador == true ? "1" : "0";

                        <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                        <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                    }

                    <table id="tblPreaviso" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.prea_IdPreaviso)</th>
                                <th>@Html.DisplayNameFor(model => model.prea_RangoInicioMeses)</th>
                                <th>@Html.DisplayNameFor(model => model.prea_RangoFinMeses)</th>
                                <th>@Html.DisplayNameFor(model => model.prea_DiasPreaviso)</th>
                                <th>@Html.DisplayNameFor(model => model.prea_Activo)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPreaviso">
                            @foreach (var item in Model)
                            {

                                var UsuarioModifica = !(item.prea_UsuarioModifica > 0) ? "Sin modificaciones" : item.tbUsuario1.usu_Nombres + " " + item.tbUsuario1.usu_Apellidos;
                                var UsuarioCrea = !(item.prea_UsuarioCrea > 0) ? "Sin modificaciones" : item.tbUsuario.usu_NombreUsuario;
                                var FechaCrea = Convert.ToString(item.prea_FechaCrea) == string.Empty ? "Sin modificaciones" : Convert.ToString(item.prea_FechaCrea);
                                var FechaModifica = Convert.ToString(item.prea_FechaModifica) == string.Empty ? "Sin modificaciones" : Convert.ToString(item.prea_FechaModifica);

                        <!-- validar el estado del registro (activo/inactivo)-->
                                string estadoISR = item.prea_Activo == false ? "Inactivo" : "Activo";

                                <tr class="gradeA odd" role="row">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prea_IdPreaviso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prea_RangoInicioMeses)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prea_RangoFinMeses)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prea_DiasPreaviso)
                                    <td>
                                        <!-- variable del estado del registro creada arriba-->
                                        @estadoISR
                                    </td>
                                    <td>
                                        @{
                                            <!-- validar si el estado es activo para mostrar los botones "detalles" y "editar" -->
                                            if (item.prea_Activo == true)
                                            {
                                                <button type="button" data-id="@item.prea_IdPreaviso" class="btn btn-primary btn-xs" id="btnDetallePreaviso">Detalles</button>
                                                <button type="button" data-id="@item.prea_IdPreaviso" class="btn btn-default btn-xs" id="btnEditarPreaviso">Editar</button>
                                            }
                                            <!-- validar si el usuario es administrador para mostrar el boton "activar" -->
                                            if (oUsuario?.usu_EsAdministrador == true && item.prea_Activo == false)
                                            {
                                                 <!-- ACTIVAR -->
                                                <button type="button" data-id="@item.prea_IdPreaviso" class="btn btn-primary btn-xs" id="btnActivarPreaviso">Activar</button>
                                            }
                                        }
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CrearPreaviso" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">        
                <h4 class="modal-title">Crear preaviso</h4>
            </div>
            @Html.Partial("_Create", new ERP_GMEDINA.Models.tbPreaviso())
        </div>                
    </div>
</div>

<div class="modal fade" id="EditarPreaviso" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               
                <h4 class="modal-title">Editar preaviso</h4>
            </div>
            @Html.Partial("_Edit", new ERP_GMEDINA.Models.tbPreaviso())
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmarEdicion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body" id="confirmarEditar">
                ¿Está seguro que desea editar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnConfirmarEditar">Si</button>
                <button type="button" class="btn btn-white" id="btnCerrarConfirmarEditar">No</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetallarPreaviso" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               
                <h4 class="modal-title">Detalle preaviso</h4>
            </div>
            <div class="modal-body" id="Detalles">
                @Html.Partial("_Details", new ERP_GMEDINA.Models.tbPreaviso())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InactivarPreaviso" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               
                <h4 class="modal-title">Inactivar</h4>
            </div>
            <div class="modal-body" id="Inactivar">
                <p><b>¿Está seguro que desea inactivar este registro?</b></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="btnInactivarPreavisoConfirmar">Si</button>
                <button type="button" class="btn btn-white" id="btnCerrarInactivar" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="frmActivarPreavis" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <h4 class="modal-title">Activar</h4>
            </div>
            <div class="modal-body" id="Activar">
                ¿Está seguro que desea activar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnActivarPreavis">Si</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Scripts.Render("~/plugins/izitoast")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/app/General/Preaviso")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
}
