@model ERP_GMEDINA.Models.V_tbAdelantoSueldo

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAdelantoSueldoDetalle" }))
{
    @Html.HiddenFor(model => model.adsu_IdAdelantoSueldo)
        @Html.AntiForgeryToken()
    @*<div class="ibox-content">*@
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.per_Nombres, new { htmlAttributes = new { @class = "text-box single-line" } })
                </div>
                <div class="col-md-6">
                    <span id="per_Nombres">@Html.DisplayFor(model => model.per_Nombres, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>
          
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.adsu_FechaAdelanto, new { htmlAttributes = new { @class = "text-box single-line" } })
                </div>
                <div class="col-md-6">
                    <span id="adsu_FechaAdelanto">@Html.DisplayFor(model => model.adsu_FechaAdelanto, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.adsu_RazonAdelanto, new { htmlAttributes = new { @class = "text-box single-line" } })
                </div>
                <div class="col-md-6">
                    <span id="adsu_RazonAdelanto">@Html.DisplayFor(model => model.adsu_RazonAdelanto, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.adsu_Monto, new { htmlAttributes = new { @class = "text-box single-line" } })
                </div>
                <div class="col-md-6">
                    <span id="adsu_Monto">@Html.DisplayFor(model => model.adsu_Monto, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.adsu_Deducido, new { htmlAttributes = new { @class = "text-box single-line" } })
                </div>
                <div class="col-md-6">
                    <span id="adsu_Deducido">@Html.DisplayFor(model => model.adsu_Deducido, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>

        </div>
    @*</div>*@
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h4>Auditoría</h4>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <table class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Creado</td>
                                @Html.HiddenFor(model => model.UsuarioCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                                <td><span id="UsuarioCrea">@Html.DisplayFor(model => model.UsuarioCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                <td><span id="adsu_FechaCrea">@Html.DisplayFor(model => model.adsu_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            </tr>
                            <tr>
                                <td>Modificado</td>
                                @Html.HiddenFor(model => model.UsuarioModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                                <td><span id="UsuarioModifica">@Html.DisplayFor(model => model.UsuarioModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                <td><span id="adsu_FechaModifica">@Html.DisplayFor(model => model.adsu_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="footer">
                    <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
}
