@model ERP_GMEDINA.Models.tbAcumuladosISR
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAcumuladosISRCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.aisr_Id)
    @Html.HiddenFor(model => model.aisr_FechaCrea)
    @Html.HiddenFor(model => model.aisr_UsuarioCrea)
    <table class="table">
        <tr>
            <td>
                <div class="form-group">
                    <div class="input-group date">
                        @Html.LabelFor(model => model.aisr_Descripcion, htmlAttributes: new { /*@class = "control-label col-md-2" */})
                        @Html.EditorFor(model => model.aisr_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.aisr_Descripcion, "", new { @class = "text-danger" })
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="input-group date">
                        @Html.LabelFor(model => model.aisr_Monto, htmlAttributes: new { /*@class = "control-label col-md-2" */})
                        @Html.EditorFor(model => model.aisr_Monto, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.aisr_Monto, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
    </table>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
        <input type="submit" class="btn btn-primary pull-left" id="btnCreateAcumuladosISR" value="Guardar">
    </div>
}
