@model ERP_GMEDINA.Models.tbAcumuladosISR
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAcumuladosISRCreate" }))
{
    <div class="modal-body" id="Crear">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.aisr_Id)
            @Html.HiddenFor(model => model.aisr_FechaCrea)
            @Html.HiddenFor(model => model.aisr_UsuarioCrea)

            <div class="form-group">
                <div class="col-md-4">
                    Descripción<label class="" id="AsteriscoDescripcionAISR" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.aisr_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.aisr_Descripcion, "", new { @class = "text-danger", @id = "Validation_descripcion" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    Monto<label class="" id="AsteriscoMontoAISR" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.aisr_Monto, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                    @Html.ValidationMessageFor(model => model.aisr_Monto, "", new { @class = "text-danger", @id = "Validation_descripcion2" })
                    <label class="text-danger" id="Validation_decimal" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Número decimal válido con un máximo de 2 decimales</label>
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <input type="button" value="Cerrar" id="btnCerrarCrear" data-dismiss="modal" class="btn btn-default pull-right" />
            <input type="submit" value="Guardar" id="btnCreateAcumuladosISR" class="btn btn-primary pull-left" />
        </div>
        }
