@model ERP_GMEDINA.Models.tbAcumuladosISR
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditAcumuladosISR" }))
{
    @Html.AntiForgeryToken()
    
    <!-- CAJAS DE TEXTO -->
    <div class="modal-body" id="Editar">
        <div class="ibox-content">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.aisr_Id)
                @Html.HiddenFor(model => model.aisr_UsuarioModifica)
                @Html.HiddenFor(model => model.aisr_FechaModifica)

                <div class="form-group">
                    <div class="col-md-4">
                        Descripción<label class="" id="AsteriscoDescripcionEditAISR" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.aisr_Descripcion, new { htmlAttributes = new { @class = "text-box single-line", @id = "aisr_Descripcion" } })
                        @Html.ValidationMessageFor(model => model.aisr_Descripcion, "", new { @class = "text-danger", @id = "validatione1" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        Monto<label class="" id="AsteriscoMontoEditAISR" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.aisr_Monto, new { htmlAttributes = new { @class = "text-box single-line", @id = "aisr_Monto" } })
                        @Html.ValidationMessageFor(model => model.aisr_Monto, "", new { @class = "text-danger", @id = "validatione2" })
                        <label class="text-danger" id="Validation_decimal" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Número decimal válido con un máximo de 2 decimales</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- BOTONES -->
    <div class="modal-footer">
        <button type="button" class="btn btn-white pull-right" id="btnCerrarEditar" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary pull-left" id="btnEditarAcumulado">Actualizar</button>
        <button type="button" class="btn btn-danger pull-left" id="btnInactivarAcumuladosISR">Inactivar</button>
    </div>
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmInactivarAcumuladosISR" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.aisr_Id)
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
