@model ERP_GMEDINA.Models.tbTipoMonedas

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tmon_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tmon_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tmon_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tmon_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tmon_RazonInactivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tmon_RazonInactivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tmon_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tmon_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tmon_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tmon_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>

    </dl>

<div class="modal inmodal fade" id="ModalEditar" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Editar Moneda</h4>
            </div>
            <div class="modal-body" id="ModalEdit">
                @*--PARTIAL VIEW AQUI--*@
                @Html.Partial("_EditTipoMonedas", new ERP_GMEDINA.Models.tbTipoMonedas())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" id="btnEditarModal" data-dismiss="modal">Editar</button>
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>