@model ERP_GMEDINA.Models.V_DecimoTercerMes_RPT

@using (Html.BeginForm("DecimoTercerMesParametrosRPT", "ReportesPlanilla"))
{
	<div class="modal-body">

		<div class="form-group">
			@Html.LabelFor(model => model.dtm_FechaPago, htmlAttributes: new { @class = "font-noraml" }) <br />
			<div class="input-group date">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.EditorFor(model => model.dtm_FechaPago, new { htmlAttributes = new { @class = "form-control", @type = "date", @name = "dtm_FechaPago", @id = "dtm_FechaPago" } })
			</div>
			@Html.ValidationMessageFor(model => model.dtm_FechaPago, "", new { @class = "text-danger", @id = "Validation_descipcion" })
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.cpla_DescripcionPlanilla, htmlAttributes: new { @class = "font-noraml" }) <br />
		
				@Html.EditorFor(model => model.cpla_DescripcionPlanilla, new { htmlAttributes = new { @class = "form-control", @name = "cpla_DescripcionPlanilla", @id = "cpla_DescripcionPlanilla" } })
		
			@Html.ValidationMessageFor(model => model.cpla_DescripcionPlanilla, "", new { @class = "text-danger", @id = "Validation_descipcion" })
		</div>

		<input type="hidden" value="pdf" name="id" />



		<div class="modal-footer">
			<button type="button" class="btn btn-white" id="btnCerrarModalRPT">Cerrar</button>
			<button type="submit" class="btn btn-primary">Aceptar</button>
		</div>

	</div>
}
