
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<br />

<div class="col-lg-3">
	<div class="ibox">
		<div class="ibox-content">
			<h5 class="m-b-md">Reporte</h5>
			<h2 class="text-navy">
				<i class="fa fa-file-pdf-o"></i><a href="@Url.Action("DecimoTercerMesIndexRPT", "ReportesPlanilla")"> Consultar</a>
			</h2>
			<small>Decimo Tercer Mes</small>
		</div>
	</div>
</div>

<div class="col-lg-3">
	<div class="ibox">
		<div class="ibox-content">
			<h5 class="m-b-md">Reporte</h5>
			<h2 class="text-navy">
				<i class="fa fa-file-pdf-o"></i><a href="@Url.Action("index", "DecimoTercerMes")"> Consultar</a>
			</h2>
			<small>RAP</small>
		</div>
	</div>
</div>

<div class="col-lg-3">
	<div class="ibox">
		<div class="ibox-content">
			<h5 class="m-b-md">Reporte</h5>
			<h2 class="text-navy">
				<i class="fa fa-file-pdf-o"></i><a href="@Url.Action("index", "DecimoTercerMes")"> Consultar</a>
			</h2>
			<small>AFP</small>
		</div>
	</div>
</div>

<div class="col-lg-3">
	<div class="ibox">
		<div class="ibox-content">
			<h5 class="m-b-md">Reporte</h5>
			<h2 class="text-navy">
				<i class="fa fa-file-pdf-o"></i><a href="@Url.Action("index", "DecimoTercerMes")"> Consultar</a>
			</h2>
			<small>Decimo Cuarto Mes</small>
		</div>
	</div>
</div>

<div class="col-lg-3">
	<div class="ibox">
		<div class="ibox-content">
			<h5 class="m-b-md">Reporte</h5>
			<h2 class="text-navy">
				<i class="fa fa-file-pdf-o"></i><a href="@Url.Action("index", "DecimoTercerMes")"> Consultar</a>
			</h2>
			<small>IHSS</small>
		</div>
	</div>
</div>