@model ERP_GMEDINA.Models.tbIngresosIndividuales

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditIngresoIndividual" }))
{
        @Html.HiddenFor(model => model.ini_IdIngresosIndividuales, new { htmlAttributes = new { @class = "form-control", @id = "ini_IdIngresosIndividuales" } })
    <div class="modal-body" id="Editar">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ini_Motivo)<span id="aste1">*</span>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ini_Motivo, new { htmlAttributes = new { @class = "text-box single-line", @id = "ini_Motivo" } })
                    @Html.ValidationMessageFor(model => model.ini_Motivo, "", new { @class = "text-danger", @id = "validation1" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.emp_Id)<span id="aste2">*</span>
                </div>
                <div class="col-md-8">
                    <select id="emp_Id" name="emp_Id" class="form-control"></select>
                    @Html.ValidationMessageFor(model => model.emp_Id, "", new { @class = "text-danger", @id = "validation2" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ini_Monto)<span id="aste3">*</span>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ini_Monto, new { htmlAttributes = new { @class = "text-box single-line", @id = "ini_Monto", @min = 0.01, @max = 9999999999.99 } })
                    @Html.ValidationMessageFor(model => model.ini_Monto, "", new { @class = "text-danger", @id = "validation3" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ini_PagaSiempre)
                </div>
                <div class="col-md-8">
                    <input type="checkbox" class="icheckbox_square-green" name="ini_PagaSiempre" id="ini_PagaSiempre">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" id="btnEditIngresoIndividual" value="Actualizar" class="btn btn-primary pull-left" />
        <button type="button" class="btn btn-danger pull-left" id="btnInactivarIngresoIndividual">Inactivar</button>
        <button type="button" class="btn btn-white pull-right" id="btnCerrarEditar">Cerrar</button>
    </div>

}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmInactivarIngresoIndividual" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ini_IdIngresosIndividuales)
}

