@model IEnumerable<ERP_GMEDINA.Models.tbIngresosIndividuales>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Ingresos Extras</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" id="btnAgregarIngresoIndividual">Registrar Ingreso Extra</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{
                        <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                        var oUsuario = (ERP_GMEDINA.Models.tbUsuario)HttpContext.Current.Session["sesionUsuario"];

                        <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                        string rol_Usuario = oUsuario?.usu_EsAdministrador == true ? "1" : "0";

                        <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                        <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                    }
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="IndexTable">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.ini_IdIngresosIndividuales)</th>
                                <th>@Html.DisplayNameFor(model => model.ini_Motivo)</th>
                                <th>@Html.DisplayNameFor(model => model.emp_Id)</th>
                                <th>@Html.DisplayNameFor(model => model.ini_Monto)</th>
                                <th>@Html.DisplayNameFor(model => model.ini_Activo)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyIngresosIndividuales">
                            @foreach (var item in Model)
                            {
                           <!-- validar el estado del registro (activo/inactivo)-->
                                string estadoIngresosIndividuales = item.ini_Activo == false ? "Inactivo" : "Activo";
                                <tr class="gradeA odd" role="row" data-id="@item.ini_IdIngresosIndividuales">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ini_IdIngresosIndividuales)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ini_Motivo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbEmpleados.tbPersonas.per_Nombres) @Html.DisplayFor(modelItem => item.tbEmpleados.tbPersonas.per_Apellidos)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ini_Monto)
                                    </td>
                                    <td>
                                        @estadoIngresosIndividuales
                                    </td>
                                    <td>
                                        @{
                                            <!-- validar si el estado es activo para mostrar los botones "detalles" y "editar" -->
                                            if (item.ini_Activo == true)
                                            {
                                                <button type="button" data-id="@item.ini_IdIngresosIndividuales" class="btn btn-primary btn-xs" id="btnDetalleIngresosIndividuales">Detalles</button>
                                                <button type="button" data-id="@item.ini_IdIngresosIndividuales" class="btn btn-default btn-xs" id="btnEditarIngresosIndividuales">Editar</button>
                                            }
                                            <!-- validar si el usuario es administrador para mostrar el boton "activar" -->
                                            if (oUsuario?.usu_EsAdministrador == true && item.ini_Activo == false)
                                            {
                                                 <!-- ACTIVAR -->
                                                <button type="button" iniid="@item.ini_IdIngresosIndividuales" data-id="@item.ini_IdIngresosIndividuales" class="btn btn-primary btn-xs" id="btnActivarIngresosIndividuales">Activar</button>
                                            }
                                        }
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modales de Agregar, Editar, Detalles, Inhabilitar y Activar*@


@*Agregar*@
<div class="modal fade" id="AgregarIngresosIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear Ingreso Extra</h4>
            </div>
            @Html.Partial("_CreateIngresosIndividuales", new ERP_GMEDINA.Models.tbIngresosIndividuales())
        </div>
    </div>
</div>


@*Editar*@
<div class="modal fade" id="EditarIngresosIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Ingreso Extra</h4>
            </div>
            @*Mandamos un nuevo modelo solo para poder cargar la página *@
            @Html.Partial("_EditIngresosIndividuales", new ERP_GMEDINA.Models.tbIngresosIndividuales())
        </div>
    </div>
</div>

<div class="modal fade" id="EditarIngresosIndividualesConfirmacion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body" id="Editar">
                ¿Esta seguro que desea editar este registro?
            </div>
            <div class="modal-footer">
                <input type="button" id="btnEditIngresoIndividual2" value="Si" class="btn btn-primary " />
                <button type="button" class="btn btn-white" id="btnRegresar">No</button>
                
                </div>
            </div>
        </div>
    </div>


@*Detalles*@
<div class="modal fade" id="DetallesIngresosIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle de Ingreso Extra</h4>
            </div>
            <div class="modal-body" id="Detalles">
                @Html.Partial("_DetailsIngresosIndividuales", new ERP_GMEDINA.Models.tbIngresosIndividuales())
            </div>
        </div>
    </div>
</div>


@*Inactivar*@
<div class="modal fade" id="InactivarIngresosIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inactivar</h4>
            </div>
            <div class="modal-body" id="Inactivar">
                ¿Esta seguro que desea inactivar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnInactivarRegistroIngresoIndividual">Si</button>    
                <button type="button" class="btn btn-white pull-right" id="btnBack">No</button>
            </div>
        </div>
    </div>
</div>

@*Activar*@
<div class="modal fade" id="ActivarIngresosIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activar</h4>
            </div>
            <div class="modal-body" id="Activar">
                ¿Esta seguro que desea activar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  id="btnActivarRegistroIngresoIndividual">Si</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/izitoast")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/Scripts/app/general/IngresosIndividuales")
}

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
