@model ERP_GMEDINA.Models.tbCargos
<div class="modal inmodal" id="ModalNuevo" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Crear Cargo</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new {id= "FormNuevo" }))
                {
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
							@Html.LabelFor(model => model.car_Descripcion, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.car_Descripcion, new { htmlAttributes = new { @class = "form-control required", @onkeypress = "return alphanumeric(event)", @maxlength =50,@autocomplete = "off" } })
								@Html.ValidationMessageFor(model => model.car_Descripcion, "", new { @class = "text-danger", @id = "errorcar_Descripcion" })
                            </div>
                            <br>
                            
                           
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.car_SalarioMinimo, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                <input type="text" id="car_SalarioMinimo" name="car_SalarioMinimo" class="form-control required valid" , onkeypress="return Numericos(event)" autocomplete="off">
                                @Html.ValidationMessageFor(model => model.car_SalarioMinimo, "", new { @class = "text-danger", @id = "errorcar_SalarioMinimo" })
                            </div>
                            </div>

                            <div class="form-group">

                                @Html.LabelFor(model => model.car_SalarioMaximo, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.car_SalarioMaximo, new { htmlAttributes = new { @class = "form-control required valid", @onkeypress = "return Numericos(event)", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.car_SalarioMaximo, "", new { @class = "text-danger", @id = "errorcar_SalarioMaximo" })
                                </div>
                            </div>

                        </div>
				}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary pull-left" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

