@model ERP_GMEDINA.Models.tbISR
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmISRCreate" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body" id="Crear">

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.isr_Id)
            @Html.HiddenFor(model => model.isr_FechaCrea)
            @Html.HiddenFor(model => model.isr_UsuarioCrea)

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.isr_RangoInicial, htmlAttributes: new { @class = "control-label" })
                    <label class="AsteriscoRangoInicial" id="AsteriscoRangoInicial">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.isr_RangoInicial, new { htmlAttributes = new { @class = "form-control MascaraCantidad soloNumero", @onkeyup = "DataAnnotationsCrear(this.value, '-1', '-1', '-1')" } })
                    <span class="field-validation-valid text-danger" style="display: none;" id="isr_RangoInicialValidacion">El campo Rango Inicial es requerido.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.isr_RangoFinal, htmlAttributes: new { @class = "control-label" })
                    <label class="AsteriscoRangoFinal" id="AsteriscoRangoFinal">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.isr_RangoFinal, new { htmlAttributes = new { @class = "form-control MascaraCantidad soloNumero", @onkeyup = "DataAnnotationsCrear('-1', this.value, '-1', '-1')" } })
                    <span class="field-validation-valid text-danger" style="display: none;" id="isr_RangoFinalValidacion">El campo Rango Final es requerido.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.tde_IdTipoDedu, htmlAttributes: new { @class = "control-label" })
                    <label class="AsteriscoTipoDeduccion" id="AsteriscoTipoDeduccion">*</label>
                </div>
                <div class="col-md-8">
                    <select id="tde_IdTipoDedu" name="tde_IdTipoDedu" class="form-control" onchange = "DataAnnotationsCrear('-1', '-1', this.value, '-1')"></select>
                    <span class="field-validation-valid text-danger" style="display: none;" id="isr_TipoDeduccionValidacion">El campo Tipo Deducción es requerido.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.isr_Porcentaje, htmlAttributes: new { @class = "control-label" })
                    <label class="AsteriscoPorcentaje" id="AsteriscoPorcentaje">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.isr_Porcentaje, new { htmlAttributes = new { @class = "form-control MascaraCantidad MascaraPorcentaje soloNumero", @onkeyup = "DataAnnotationsCrear('-1', '-1', '-1', this.value)" } })
                    <span class="field-validation-valid text-danger" style="display: none;" id="isr_PorcentajeValidacion">El campo Porcentaje es requerido.</span>               
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <input type="button" data-dismiss="modal" value="Cerrar" id="btnCerrarCrear" class="btn btn-default pull-right" />
        <input type="submit" value="Guardar" id="btnCreateISR" class="btn btn-primary pull-left" />
    </div>
}