@model ERP_GMEDINA.Models.tbISR
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmISRCreate" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body" id="Crear">

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.isr_Id)
            @Html.HiddenFor(model => model.isr_FechaCrea)
            @Html.HiddenFor(model => model.isr_UsuarioCrea)

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.isr_RangoInicial, htmlAttributes: new { @class = "control-label" })
                    <label class="asterisco" id="AsteriscoRangoInicialISR">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.isr_RangoInicial, new { htmlAttributes = new { @type = "number", @class = "form-control", @min = 0, @step = 0.01 } })
                    @Html.ValidationMessageFor(model => model.isr_RangoInicial, "", new { @class = "text-danger messageValidation", @id = "Validation_RangoInicial" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.isr_RangoFinal, htmlAttributes: new { @class = "control-label" })
                    <label class="asterisco" id="AsteriscoRangoFinalISR">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.isr_RangoFinal, new { htmlAttributes = new { @type = "number", @class = "form-control", @min = 0, @step = 0.01 } })
                    @Html.ValidationMessageFor(model => model.isr_RangoFinal, "", new { @class = "text-danger messageValidation", @id = "Validation_RangoFinal" })

                    <span class="text-danger messageValidation" id="validar_rangoMontos">El rango final no puede ser menor o igual que el rango inicial</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.tde_IdTipoDedu, htmlAttributes: new { @class = "control-label" })
                    <label class="asterisco" id="Asteriscotde_IdTipoDeduISR">*</label>
                </div>
                <div class="col-md-8">
                    <select id="tde_IdTipoDedu" name="tde_IdTipoDedu" class="form-control"></select>
                    @Html.ValidationMessageFor(model => model.tde_IdTipoDedu, "El campo tipo de deducción es requerido", new { @class = "text-danger messageValidation", @id = "Validation_tde_IdTipoDedu" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.isr_Porcentaje, htmlAttributes: new { @class = "control-label" })
                    <label class="asterisco" id="Asteriscoisr_PorcentajeISR">*</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.isr_Porcentaje, new { htmlAttributes = new { @type = "number", @class = "form-control", @min = 0, @max = 100, @step = 0.01 } })
                    @Html.ValidationMessageFor(model => model.isr_Porcentaje, "", new { @class = "text-danger messageValidation", @id = "Validation_Porcentaje" })
                    <span class="text-danger messageValidation" id="porcentajeVali">El porcentaje no puede ser mayor que 100</span>                
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" data-dismiss="modal" value="Cerrar" id="btnCerrarCrear" class="btn btn-default pull-right" />
        <input type="submit" value="Guardar" id="btnCreateISR" class="btn btn-primary pull-left" />
    </div>
}