@model IEnumerable<ERP_GMEDINA.Models.tbISR>

@{
    ViewBag.Title = "Tabla progresiva ISR";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tabla progresiva de ISR</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs pull-right animated fadeInRight" id="btnAgregarISR">Registrar rango ISR</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{
                        <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                        var oUsuario = (ERP_GMEDINA.Models.tbUsuario)HttpContext.Current.Session["sesionUsuario"];

                        <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                        string rol_Usuario = oUsuario?.usu_EsAdministrador == true ? "1" : "0";

                        <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                        <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                    }
                    <table class="table table-striped table-bordered table-hover dataTables-example animated fadeInRight" id="tblISR">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.isr_RangoInicial)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.isr_RangoFinal)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.isr_Porcentaje)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">Estado</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyISR">
                            @foreach (var item in Model)
                            {
                                <!-- validar el estado del registro (activo/inactivo)-->
                                string estadoISR = item.isr_Activo == false ? "Inactivo" : "Activo";

                                <tr class="gradeA odd" role="row">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isr_RangoInicial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isr_RangoFinal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isr_Porcentaje)
                                    </td>
                                    <td>
                                        <!-- variable del estado del registro creada arriba-->
                                        @estadoISR
                                    </td>
                                    <td>
                                        @{
                                            <!-- validar si el estado es activo para mostrar los botones "detalles" y "editar" -->
                                            if (item.isr_Activo == true)
                                            {
                                                <button type="button" data-id="@item.isr_Id" class="btn btn-primary btn-xs" id="btnDetalleISR">Detalles</button>
                                                <button type="button" data-id="@item.isr_Id" class="btn btn-default btn-xs" id="btnModalEditarISR">Editar</button>
                                            }
                                            <!-- validar si el usuario es administrador para mostrar el boton "activar" -->
                                            if (oUsuario?.usu_EsAdministrador == true && item.isr_Activo == false)
                                            {
                                                 <!-- ACTIVAR -->
                                                <button type="button" data-id="@item.isr_Id" class="btn btn-primary btn-xs" id="btnActivarISRModal">Activar</button>
                                            }
                                        }
                                    </td>
                                </tr>
                                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* MODAL DE CREACIÓN *@
<div class="modal fade" id="AgregarISR" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear rango de ISR</h4>
            </div>
            @Html.Partial("_CreateISR", new ERP_GMEDINA.Models.tbISR())
        </div>
    </div>
</div>

@* MODAL DE EDICIÓN *@
<div class="modal fade" id="EditarISR" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar rango de ISR</h4>
            </div>
            @*Mandamos un nuevo modelo solo para poder cargar la página *@
            @Html.Partial("_EditISR", new ERP_GMEDINA.Models.tbISR())
        </div>
    </div>
</div>

@* MODAL DE CONFIRMACION DE EDICIÓN *@
<div class="modal fade" id="EditarISRConfirmacion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea editar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" id="btnRegresar">No</button>
                <input type="button" id="btnEditISR2" value="Si" class="btn btn-primary " />
                <div style="display:none" class="btn" id="cargandoEditar">
                </div>
            </div>
        </div>
    </div>
</div>

@* MODAL DE DETALLES *@
<div class="modal fade" id="DetailsISR" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalles del rango ISR</h4>
            </div>
            <div class="modal-body" id="Detalles">
                @Html.Partial("_DetailsISR", new ERP_GMEDINA.Models.tbISR())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*Activar*@
<div class="modal fade" id="ActivarISR" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body" id="Activar">
                ¿Esta seguro que desea activar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnActivarISR">Si</button>
                <button type="button" class="btn btn-white" id="btnBackActivar">No</button>
            </div>
        </div>
    </div>
</div>

@*Inactivar*@
<div class="modal fade" id="InactivarISR" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body" id="Inactivar">
                ¿Esta seguro que desea inactivar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnInactivarISR">Si</button>
                <button type="button" class="btn btn-white" id="btnBack">No</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/izitoast")
    @Scripts.Render("~/Scripts/app/General/ISR")
}

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
}
