@model ERP_GMEDINA.Models.tbCatalogoDeDeducciones
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCatalogoDeduccionesCreate" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.cde_IdDeducciones)
        @Html.HiddenFor(model => model.cde_FechaCrea)
        @Html.HiddenFor(model => model.cde_UsuarioCrea)
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-1">
                    <div class="input-group date">
                        Descripción
                        @Html.EditorFor(model => model.cde_DescripcionDeduccion, new { htmlAttributes = new { @class = "form-control", @id = "cde_DescripcionDeduccionA", @Value = "" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.cde_DescripcionDeduccion, "", new { @class = "text-danger", @id = "Validation_descipcionA" })
               </div>
            </div>
         </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-1">
                    <div class="input-group date">
                        Tipo de Deducción
                        <select id="tde_IdTipoDedu" name="tde_IdTipoDedu" class="form-control"></select>
                    </div>
                    <label class="text-danger" id="Validation_descipcion2A" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">No puede dejar campos vacios.</label>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-1">
                    <div class="input-group date">
                        Porcentaje Colaborador
                        @Html.EditorFor(model => model.cde_PorcentajeColaborador, new { htmlAttributes = new { @class = "form-control", @id = "cde_PorcentajeColaboradorA", @Value = "" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.cde_PorcentajeColaborador, "", new { @class = "text-danger", @id = "Validation_descipcion3A" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-1">
                    <div class="input-group date">
                        Porcentaje Empresa
                        @Html.EditorFor(model => model.cde_PorcentajeEmpresa, new { htmlAttributes = new { @class = "form-control", @id = "cde_PorcentajeEmpresaA", @Value = "" } })
                    </div>
                        @Html.ValidationMessageFor(model => model.cde_PorcentajeEmpresa, "", new { @class = "text-danger", @id = "Validation_descipcion4A" })
                </div>
            </div>
        </div>
                <div class="modal-footer">
                    <input type="submit" id="btnCreateRegistroDeduccion" value="Guardar" class="btn btn-primary pull-left" />
                    <div style="display:none" class="btn pull-left" id="cargandoCrear">
                    </div>
                    <button type="button" class="btn btn-white" data-dismiss="modal" id="btnCerrarCrear">Cerrar</button>
                </div>
            </div>

            }
