@model ERP_GMEDINA.Models.tbCatalogoDeDeducciones
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCatalogoDeducciones" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body" id="Editar">
        <div class="ibox-content">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.cde_IdDeducciones)
                @Html.HiddenFor(model => model.cde_FechaCrea)
                @Html.HiddenFor(model => model.cde_UsuarioCrea)

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Descripción<label class="" id="AsteriscoDescripcionDeduEdit" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label></strong>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.cde_DescripcionDeduccion, new { htmlAttributes = new { @class = "text-box single-line", @id = "cde_DescripcionDeduccion" } })
                            @Html.ValidationMessageFor(model => model.cde_DescripcionDeduccion, "", new { @class = "text-danger", @id = "Validation_descipcion" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Tipo de Deducción<label class="" id="AsteriscoTipoDeduEdit" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label></strong>
                        </div>
                        <div class="col-md-6">
                            <select id="tde_IdTipoDedu" name="tde_IdTipoDedu" class="form-control"></select>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Porcentaje Colaborador<label class="" id="AsteriscoPorcentajeColaboradorEdit" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label></strong>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.cde_PorcentajeColaborador, new { htmlAttributes = new { @class = "text-box single-line", @id = "cde_PorcentajeColaborador", @value = "" } })
                            @Html.ValidationMessageFor(model => model.cde_PorcentajeColaborador, "", new { @class = "text-danger", @id = "Validation_descipcion2" })

                            <span class="field-validation-valid text-danger" style="display: none" id="validareditar2">El campo Porcentaje Colaborador es obligatorio.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Porcentaje Empresa<label class="" id="AsteriscoPorcentajeEmpresaEdit" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label></strong>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.cde_PorcentajeEmpresa, new { htmlAttributes = new { @class = "text-box single-line", @id = "cde_PorcentajeEmpresa", @value = "" } })
                            @Html.ValidationMessageFor(model => model.cde_PorcentajeEmpresa, "", new { @class = "text-danger", @id = "Validation_descipcion3" })

                            <span class="field-validation-valid text-danger" style="display: none" id="validareditar3">El campo Porcentaje Empresa es obligatorio.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-left" id="btnUpdateDeduccion">Actualizar</button>
            <button type="button" class="btn btn-danger col-md-2" id="btnmodalInactivarCatalogoDeducciones">Inactivar</button>
            <button type="button" class="btn btn-white" data-dismiss="modal" id="btnCerrarEditar">Cerrar</button>
        </div>
        }
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCatalogoDeduccionesInactivar" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.cde_IdDeducciones)
        }

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCatalogoDeduccionesActivar" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.cde_IdDeducciones)
        }
