@model IEnumerable<ERP_GMEDINA.Models.tbCatalogoDeDeducciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Catálogo de Deducciones</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" id="btnAgregarCatalogoDeducciones">Registrar Deducción</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{
                        <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                        var oUsuario = (ERP_GMEDINA.Models.tbUsuario)HttpContext.Current.Session["sesionUsuario"];

                        <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                        string rol_Usuario = oUsuario?.usu_EsAdministrador == true ? "1" : "0";

                        <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                        <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                    }

                    <table id="tblCatalogoDeducciones" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 40px;">Número</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 140px;">@Html.DisplayNameFor(model => model.cde_DescripcionDeduccion)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 100px;">@Html.DisplayNameFor(model => model.cde_PorcentajeColaborador)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 100px;">@Html.DisplayNameFor(model => model.cde_PorcentajeEmpresa)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 150px;">Tipo de Deducción</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 80px;">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody id="tbodyDeducciones">
                            @foreach (var item in Model)
                            {
                                <!-- validar el estado del registro (activo/inactivo)-->
                                string estadoCDD = item.cde_Activo == false ? "Inactivo" : "Activo";

                                <tr class="gradeA odd" role="row" data-id="@item.cde_IdDeducciones">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cde_IdDeducciones)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cde_DescripcionDeduccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cde_PorcentajeColaborador)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cde_PorcentajeEmpresa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbTipoDeduccion.tde_Descripcion)
                                    </td>
                                        <td>
                                            @estadoCDD
                                        </td>
                                        <td>
                                            @{
                                                if (item.cde_Activo == true)
                                                {
                                                    <button type="button" data-id="@item.cde_IdDeducciones" class="btn btn-primary btn-xs" id="btnDetalleCatalogoDeducciones">Detalles</button>                                                 
                                                    <button type="button" data-id="@item.cde_IdDeducciones" class="btn btn-default btn-xs" id="btnEditarCatalogoDeducciones">Editar</button>
                                                }

                                                <!-- validar si el usuario es administrador para mostrar el boton "activar" -->
                                                if (oUsuario?.usu_EsAdministrador == true && item.cde_Activo == false)
                                                {
                                                 <!-- ACTIVAR -->
                                                    <button type="button" data-id="@item.cde_IdDeducciones" class="btn btn-primary btn-xs" id="btnActivarCatalogoDeducciones">Activar</button>
                                                }
                                            }
                                        </td>
                                    </tr>
                                  }
                                </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditarCatalogoDeducciones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Deducción</h4>
            </div>
            @Html.Partial("_EditCatalogoDeducciones", new ERP_GMEDINA.Models.tbCatalogoDeDeducciones())
        </div>
    </div>
</div>


<div class="modal fade" id="EditarCatalogoDeduccionesConfirmacion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body" id="ConfirmacionEditar">
                ¿Esta seguro que desea editar este registro?
            </div>
            <div class="modal-footer">
                <input type="button" id="btnUpdateDeduccion2" value="Si" class="btn btn-primary " />
                <div style="display:none" class="btn" id="cargandoEditar">
                </div>

                <button type="button" class="btn btn-white" id="btnEditarConfirmacion">No</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AgregarCatalogoDeducciones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear Deducción</h4>
            </div>
            
                @Html.Partial("_CreateCatalogoDeducciones", new ERP_GMEDINA.Models.tbCatalogoDeDeducciones())
           
        </div>
    </div>
</div>
<div class="modal fade" id="DetallesCatalogoDeducciones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle Deducción</h4>
            </div>
            <div class="modal-body" id="Detalles">
                @Html.Partial("_DetalleCatalogoDeDeducciones", new ERP_GMEDINA.Models.tbCatalogoDeDeducciones())
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="InactivarCatalogoDeducciones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inactivar</h4>
            </div>
            <div class="modal-body" id="Inactivar">
                ¿Está seguro que desea inactivar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnInactivarRegistroDeduccion">Si</button>
                <button type="button" class="btn btn-white" data-dismiss="modal" id="btnCerrarInhabilitar">No</button>
            </div>
        </div>
    </div>
</div> 
<div class="modal fade" id="ActivarCatalogoDeducciones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activar</h4>
            </div>
            <div class="modal-body" id="Activar">
                ¿Está seguro que desea activar este registro?
            </div>
            <div class="modal-footer">
                <input type="button" id="btnActivarRegistroDeduccion" value="Si" class="btn btn-primary" />
                <div style="display:none" class="btn" id="cargandoCrear">
                </div>
                <button type="button" class="btn btn-white" data-dismiss="modal" id="btnCerrarActivar">No</button>
            </div>
        </div>
    </div>
</div>   
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/izitoast")
    @Scripts.Render("~/Scripts/app/general/CatalogoDeducciones.js")
}

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
}
