@model ERP_GMEDINA.Models.tbEmpleadoComisiones

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoComisionesCreate" }))
{
    <div class="ibox-content">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.emp_Id, htmlAttributes: new { @class = "control-label col-md-2", })
                <div class="col-md-10">
                    <select id="emp_IdEmpleado" name="emp_Id" class="form-control"></select>  
                    <label class="text-danger" id="Validation_descipcion" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">No puede dejar campos vacios.</label>           
                </div> 
            </div>


            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.cin_IdIngreso, "cin_IdIngreso", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="cin_IdIngreso" name="cin_IdIngreso" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cc_Monto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cc_Monto, new { htmlAttributes = new { @class = "form-control",@id="Monto"} })
                    @Html.ValidationMessageFor(model => model.cc_Monto, "", new { @class = "text-danger", @id = "Validation_descipcion2" })
                </div>
            </div>


            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.cc_Pagado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.cc_Pagado)                        
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-white" data-dismiss="modal" id="btnCerrarModal">Cancelar</button>
        <button type="submit" class="btn btn-primary" id="btnCreateRegistroComisiones">Guardar</button>
    </div>
}









