@model ERP_GMEDINA.Models.tbEmpleadoComisiones

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoComisionesCreate" }))
{
    <div class="modal-body" id="Crear">
       
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="pull-left">Empleado</label>  
                    <label class="" id="AsteriscoEmpleado">*</label>  
                    <div class="col-md-8 pull-right">
                        <select id="emp_IdEmpleado" name="emp_Id" class="form-control" onchange="ValidarCamposCrear(this.value, '-1', '-1', '-1')"></select>
                        <label class="text-danger" id="Validation_empleado" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Colaborador requerido</label>
                    </div>
                </div>

                <div class="form-group" style="display:none" >
                    <label class="pull-left">Comisión</label>
                    <label class="" id="AsteriscoComision">*</label>  
                    <div class="col-md-8 pull-right">
                    <select id="cin_IdIngreso" name="cin_IdIngreso" class="form-control" onchange="ValidarCamposCrear('-1', this.value, '-1', '-1')"></select>
                     <label class="text-danger" id="Validation_idIngreso" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Comisión requerido</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="pull-left">Total Venta</label>
                    <label class="" id="AsteriscoTotal">*</label>  
                    <div class="col-md-8 pull-right">
                        @Html.EditorFor(model => model.cc_TotalVenta, new { htmlAttributes = new { @class = "form-control MascaraCantidad decimal soloNumero", @id = "TotalVenta", @autocomplete = "off", onkeyup = "ValidarCamposCrear('-1', '-1', this.value)" } })
                        <label class="text-danger" id="Validation_total" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Total Venta requerido</label>
                        <label class="text-danger" id="Validation_total2" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">El campo Total Venta debe ser mayor que cero</label>
                    </div>
                </div>

                @*<div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.cc_Pagado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.cc_Pagado)
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    
        <div class="modal-footer">
            <button type="submit" class="btn btn-white pull-right" data-dismiss="modal" id="btnCerrarModalCrear">Cerrar</button>
            <input type="submit" id="btnCreateRegistroComisiones" value="Guardar" class="btn btn-primary pull-left" />
            <div style="display:none" class="btn pull-left" id="cargandoCrear">
            </div>
            @*<button type="submit" class="btn btn-primary pull-left" id="btnCreateRegistroComisiones">Guardar</button>*@
        </div>
        }









