@model ERP_GMEDINA.Models.tbEmpleadoComisiones

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoComisionesCreate" }))
{
    <div class="modal-body" id="Crear">
       
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="pull-left">Empleado</label>  
                    <label class="" id="AsteriscoEmpleado">*</label>  
                    <div class="col-md-8 pull-right">
                        <select id="emp_IdEmpleado" name="emp_Id" class="form-control"></select>
                        <label class="text-danger" id="Validation_descipcion" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo empleado requerido</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="pull-left">Comisión</label>
                    <label class="" id="AsteriscoComision">*</label>  
                    <div class="col-md-8 pull-right">
                    <select id="cin_IdIngreso" name="cin_IdIngreso" class="form-control"></select>
                     <label class="text-danger" id="Validation_descipcion3" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo ingreso requerido</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="pull-left">Porcentaje Comisión</label>
                    <label class="" id="AsteriscoPorcentaje">*</label>  
                    <div class="col-md-8 pull-right">
                        @Html.EditorFor(model => model.cc_PorcentajeComision, new { htmlAttributes = new { @class = "form-control", @id = "PorcentajeComision", @type = "number", @autocomplete  = "off" } })
                        @Html.ValidationMessageFor(model => model.cc_PorcentajeComision, "", new { @class = "text-danger", @id = "Validation_descipcion1c" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="pull-left">Total Venta</label>
                    <label class="" id="AsteriscoTotal">*</label>  
                    <div class="col-md-8 pull-right">
                        @Html.EditorFor(model => model.cc_TotalVenta, new { htmlAttributes = new { @class = "form-control", @id = "TotalVenta", @type = "number", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.cc_TotalVenta, "", new { @class = "text-danger", @id = "Validation_descipcion2c" })
                    </div>
                </div>

                <div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.cc_Pagado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.cc_Pagado)
                        </div>
                    </div>
                </div>


            </div>
        </div>
    
        <div class="modal-footer">
            <button type="submit" class="btn btn-white pull-right" data-dismiss="modal" id="btnCerrarModal">Cerrar</button>
            <input type="submit" id="btnCreateRegistroComisiones" value="Guardar" class="btn btn-primary pull-left" />
            <div style="display:none" class="btn pull-left" id="cargandoCrear">
            </div>
            @*<button type="submit" class="btn btn-primary pull-left" id="btnCreateRegistroComisiones">Guardar</button>*@
        </div>
        }









