@model ERP_GMEDINA.Models.tbEmpleadoComisiones

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoComisionesEditar" }))
{
    <div class="modal-body" id="Editar">
       
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.cc_Id)

                <div class="form-group">
                    <label class="pull-left">Número</label> 
                    
                    <div class="col-md-8 pull-right">
                        @Html.EditorFor(model => model.cc_Id, new { htmlAttributes = new { @class = "form-control", @id = "cc_Id", @disabled = "disabled" } })
                       
                        <label class="text-danger" id="Validation_descipcion" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">No puede dejar campos vacios.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="pull-left">Empleado</label> 
                    <label class="" id="AsteriscoEmpleado">*</label> 
                    <div class="col-md-8 pull-right">
                        <select id="emp_IdEmpleado" name="emp_Id" class="form-control"></select>
                        <label class="text-danger" id="Validation_descipcion" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">No puede dejar campos vacios.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="pull-left">Comisión</label> 
                    <label class="" id="AsteriscoComision">*</label>  
                    <div class="col-md-8 pull-right">
                        <select id="cin_IdIngreso" name="cin_IdIngreso" class="form-control"></select>
                        <label class="text-danger" id="Validation_descipcion" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">No puede dejar campos vacios.</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="pull-left">Porcentaje Comisión</label> 
                    <label class="" id="AsteriscoPorcentaje">*</label>  
                        <div class="col-md-8 pull-right">    
                            @Html.EditorFor(model => model.cc_PorcentajeComision, new { htmlAttributes = new { @class = "form-control", @id = "cc_PorcentajeComision", @type = "number", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.cc_PorcentajeComision, "", new { @class = "text-danger", @id = "Validation_descipcion1e" , @autocomplete  = "off"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="pull-left">Total Venta</label> 
                        <label class="" id="AsteriscoTotal">*</label>  
                        <div class="col-md-8 pull-right">
                            @Html.EditorFor(model => model.cc_TotalVenta, new { htmlAttributes = new { @class = "form-control", @id = "cc_TotalVenta" , @type = "number", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.cc_TotalVenta, "", new { @class = "text-danger", @id = "Validation_descipcion2e" })
                        </div>
                    </div>

                </div>
            </div>
    <div class="modal-footer">
        @*data-dismiss="modal"*@
        <button type="submit" class="btn btn-white pull-right" data-dismiss="modal" id="btnCerrarModaledit">Cerrar</button>
        <button type="submit" class="btn btn-primary pull-left" id="btnUpdateComisionesConfirmar">Actualizar</button>

        @*<button type="submit" class="btn btn-primary pull-left" id="btnUpdateComisiones">Actualizar</button>*@
        <button type="button" class="btn btn-danger pull-left" id="btnInactivarEmpleadoComisiones">Inactivar</button>
    </div>
    }

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoComisionesInactivar" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.cc_Id)
    }
