@model IEnumerable<ERP_GMEDINA.Models.tbEmpleadoComisiones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Comisiones</h5>
                    <div class="ibox-tools">
                        <input type="button" id="btnAgregarEmpleadoComisiones" value="Registar Comisión" class="btn btn-primary btn-xs" />
                    </div>
                </div>
                <div class="ibox-content">
                    @{
                        <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                        var oUsuario = (ERP_GMEDINA.Models.tbUsuario)HttpContext.Current.Session["sesionUsuario"];

                        <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                        string rol_Usuario = oUsuario.usu_EsAdministrador == true ? "1" : "0";

                        <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                        <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                    }


                    <table id="tblEmpleadoComisiones" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.cc_Id)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">Nombre</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.tbCatalogoDeIngresos.cin_DescripcionIngreso)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.cc_PorcentajeComision)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.cc_TotalVenta)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.cc_FechaRegistro)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.cc_Activo)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.cc_Pagado)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyComisiones">
                            @foreach (var item in Model)
                            {
                                string Estado = item.cc_Activo == false ? "Inactivo" : "Activo";
                                //string Pagado = item.cc_Pagado == false ? "Sin Pagar" : "Pagado";
                                <tr class="gradeA odd" role="row" data-id="@item.cc_Id">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cc_Id)
                                    </td>
                                    <td>
                                        @{ string Nombre = item.tbEmpleados.tbPersonas.per_Nombres + " " + item.tbEmpleados.tbPersonas.per_Apellidos;}
                                        @Html.HiddenFor(modelItem => item.tbEmpleados.tbPersonas.per_Nombres)
                                        @Nombre
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbCatalogoDeIngresos.cin_DescripcionIngreso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cc_PorcentajeComision)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cc_TotalVenta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cc_FechaRegistro)
                                    </td>
                                    <td>
                                        @Estado
                                    </td> 
                                    <td>
                                              @Html.DisplayFor(modelItem => item.cc_Pagado)
                                    </td>
                                   
                                    
                                    <td>
                                        @{
                                            <!-- validar si el estado es activo para mostrar los botones "detalles" y "editar" -->
                                            if (item.cc_Activo == true)
                                            {
                                                <button type="button" data-id="@item.cc_Id"  class="btn btn-primary btn-xs" id="btnDetalleEmpleadoComisiones">Detalles</button>
                                                <button type="button" data-id="@item.cc_Id"  class="btn btn-default btn-xs" id="btnEditarEmpleadoComisiones">Editar</button>
                                               
                                            }
                                            <!-- validar si el usuario es administrador para mostrar el boton "activar" -->
                                            if (oUsuario.usu_EsAdministrador == true && item.cc_Activo == false)
                                            {
                                                 <!-- ACTIVAR -->
                                                <button type="button" data-id="@item.cc_Id" class="btn btn-primary btn-xs" id="btnActivarRegistroComisiones">Activar</button>
                                               
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AgregarEmpleadoComisiones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">          
                <h4 class="modal-title">Crear Comisiones al Empleado</h4>
            </div>
            <div class="modal-body" id="Crear">
                @Html.Partial("_CreateEmpleadoComisiones", new ERP_GMEDINA.Models.tbEmpleadoComisiones())
            </div>
            
        </div>
    </div>
</div>


<div class="modal fade" id="EditarEmpleadoComisiones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">             
                <h4 class="modal-title">Editar Comisión</h4>
            </div>
                @*Mandamos un nuevo modelo solo para poder cargar la página*@
                @Html.Partial("_EditEmpleadoComisiones", new ERP_GMEDINA.Models.tbEmpleadoComisiones())
        </div>
    </div>
</div>

<div class="modal fade" id="EditarEmpleadoComisionesConfirmacion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">               
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body" id="EditarConfirmacion">
                ¿Esta seguro que desea editar este registro?
            </div>
            <div class="modal-footer">
                <input type="button" id="btnUpdateComisionesConfirmar2" value="Si" class="btn btn-primary " />
                <div style="display:none" class="btn" id="cargandoEditar">
                </div>
               
                <button type="button" class="btn btn-white" id="btCerrarEditar">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetalleEmpleadoComisiones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              
                <h4 class="modal-title">Detalle Comisión</h4>
            </div>
            <div class="modal-body" id="Detallar">
                @Html.Partial("_DetalleEmpleadoComisiones", new ERP_GMEDINA.Models.tbEmpleadoComisiones())
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" id="btnEditarEmpleadoComisiones">Editar</button>
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="InactivarEmpleadoComisiones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              
                <h4 class="modal-title">Inactivar</h4>
            </div>
            <div class="modal-body" id="Inactivar">

                ¿Esta seguro que desea inactivar este Registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnInactivarRegistroComisiones">Si</button>
                <button type="button" class="btn btn-white"  id="btnInactivarRegistroComisionesNo">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ActivarEmpleadoComisiones" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">     
                <h4 class="modal-title">Activar</h4>
            </div>
            <div class="modal-body" id="Activar">
                ¿Esta seguro que desea activar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnActivarRegistroComisionesEjecutar">Si</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Scripts_Base/jquery-3.3.1.min.js"></script>

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/izitoast")
    @Scripts.Render("~/Scripts/app/general/EmpleadoComisiones.js")
    @Scripts.Render("~/plugins/iCheck")
}


<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
}
