@model ERP_GMEDINA.Models.tbTechosDeducciones
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmTechosDeduccionesCreate" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.tddu_IdTechosDeducciones)
        @Html.HiddenFor(model => model.tddu_FechaCrea)
        @Html.HiddenFor(model => model.tddu_UsuarioCrea)

        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label" style="margin-left:15px;">Deducción</label>
                <select id="cde_IdDeducciones" name="cde_IdDeducciones" class="form-control"></select>
            </div>
            <div class="col-md-6">
                <label class="control-label">Techo</label>
                @Html.EditorFor(model => model.tddu_Techo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tddu_Techo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.tddu_PorcentajeColaboradores, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.tddu_PorcentajeColaboradores, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tddu_PorcentajeColaboradores, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.tddu_PorcentajeEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.tddu_PorcentajeEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tddu_PorcentajeEmpresa, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
        <input type="submit" class="btn btn-primary pull-left" id="btnCreateTechoDeducciones" value="Guardar">
    </div>
}
