@model ERP_GMEDINA.Models.tbTechosDeducciones
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmDetailsTechosDeducciones" }))
{
    @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <label class="">Número</label>
                </div>
                <div class="col-md-6">
                    <span id="cde_IdDeducciones" name="cde_IdDeducciones">Código</span>
                </div>
            </div>
			<div class="row">
				<div class="col-md-6">
					<label class="">Deducción</label>
				</div>
				<div class="col-md-6">
					<span id="cde_DescripcionDeduccion" name="cde_DescripcionDeduccion">@Html.DisplayFor(model => model.tbCatalogoDeDeducciones.cde_DescripcionDeduccion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label class="">Techo</label>
				</div>
				<div class="col-md-6">
					<span id="tddu_Techo">@Html.DisplayFor(model => model.tddu_Techo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })</span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label class="">Porcentaje colaboradores</label>
				</div>
				<div class="col-md-6">
					<span id="tddu_PorcentajeColaboradores">@Html.DisplayFor(model => model.tddu_PorcentajeColaboradores, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })</span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label class="">Porcentaje empresa</label>
				</div>
				<div class="col-md-6">
					<span id="tddu_PorcentajeEmpresa">@Html.DisplayFor(model => model.tddu_PorcentajeEmpresa, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })</span>
				</div>
			</div>
        </div>


        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h4>Auditoría</h4>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <table class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Creado</td>
                                @Html.HiddenFor(model => model.tddu_UsuarioCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                                <td><span id="tbUsuario_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                <td><span id="tddu_FechaCrea">@Html.DisplayFor(model => model.tddu_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            </tr>
                            <tr>
                                <td>Modificado</td>
                                @Html.HiddenFor(model => model.tddu_UsuarioModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })
                                <td><span id="tbUsuario1_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                <td><span id="tddu_FechaModifica">@Html.DisplayFor(model => model.tddu_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
