
@using ReportViewerForMvc;
@model ERP_GMEDINA.Models.V_RPT_HistorialAudienciaDescargo
@{
    ViewBag.Title = "Reporte de Audiencias de Descargo";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}

@using (Html.BeginForm("HistorialAudienciaDescargoRPT", "ReportesRRHH", FormMethod.Post, new { id = "" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Reporte de audiencias de descargo</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Empleado</label>
                                @Html.DropDownList("per_Identidad", (IEnumerable<SelectListItem>)ViewBag.EmpleadoAUDE, "Seleccione el Empleado", new { @id = "per_Identidad", @class = "buscable form-control" })

                                @Html.ValidationMessageFor(model => model.per_Identidad, "", new { @class = "text-danger" })
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Fecha inicio</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.EditorFor(model => model.fechaAudiencia, new { htmlAttributes = new { @class = "form-control", @type = "date", @name = "fechaInicio", @id = "fechaInicio" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.fechaAudiencia, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Fecha fin</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", @type = "date", @name = "fechaFin", @id = "fechaFin"} })
                                </div>
                                @Html.ValidationMessageFor(model => model.fechaAudiencia, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary btn-sm" id="btnPrevisualizar">Previsualizar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<br />

@{
    string visibilidadPreview = ViewBag.ReportViewer == null ? "none" : "";
}


<div class="row" style="display:@visibilidadPreview;">
    <div class="col-lg-12  ibox-content">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="form-horizontal"></div>
                <div class="ibox-title">
                    <h5>Previsualización de reporte</h5>
                    <br /><br />
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="col-lg-10 ">
                    @{
                        if (ViewBag.ReportViewer != null)
                        {
                            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/select2Styles")
}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/Scripts/app/general_Fechas")
}