@using ReportViewerForMvc;
@model ERP_GMEDINA.Models.V_RPT_HistorialAmonestaciones
@{
    ViewBag.Title = "Reportes de Amonestaciones";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@using (Html.BeginForm("HistorialAmonestacionesRPT", "ReportesRRHH", FormMethod.Post, new { id = "" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Reportes de Amonestaciones</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Tipo Amonestación</label>

                                @Html.DropDownList("tamo_Id", (IEnumerable<SelectListItem>)ViewBag.TipoAmonesta, "Seleccione una opción", new {@id = "tamo_Id", @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.tamo_Id, "", new { @class = "text-danger" })
                            </div>


                            <br />
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Colaborador</label>

                                @Html.DropDownList("Identidad", (IEnumerable<SelectListItem>)ViewBag.EmpleadoAMON, "Seleccione el colaborador", new {@id = "Identidad", @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.Identidad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Fecha Inicio</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @type = "date", @name = "Fecha", @id = "fechaInicio" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Fecha Fin</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.EditorFor(model => model.FechaAnterior, new { htmlAttributes = new { @class = "form-control", @type = "date", @name = "FechaAnterior", @id = "fechaFin" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaAnterior, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        </div>
                    
                    <button type="submit" class="btn btn-primary btn-sm" id="btnPrevisualizarDeducciones">Previsualizar</button>

                </div>
            </div>
        </div>
    </div>
}

<br />

@{
    string visibilidadPreview = ViewBag.ReportViewer == null ? "none" : "";
}

<div class="row" style="display:@visibilidadPreview;">
    <div class="col-lg-12  ibox-content">
        <div class="float-e-margins ">
            <div class="ibox-title">
                <h5>Previsualización de reporte</h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="col-lg-10 col-md-offset-1">
                @{
                    if (ViewBag.ReportViewer != null)
                    {
                        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/dateRangeStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/app/general")
    @Scripts.Render("~/Scripts/app/general_Fechas")
    @Scripts.Render("~/Scripts/app/General/Reporteria/HistorialAmonestaciones")
    @Scripts.Render("~/Scripts/app/general")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/Scripts/app/general_Fechas")
}