@using ReportViewerForMvc;
@model ERP_GMEDINA.Models.V_RPT_Requisiciones
@{
    ViewBag.Title = "Reporte de Requisiciones";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}


@using (Html.BeginForm("Requisicion", "ReportesRRHH", FormMethod.Post, new { id = "" }))
{

    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Reportes de requisiciones</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Requisición</label>

                                @Html.DropDownList("req_Id", (IEnumerable<SelectListItem>)ViewBag.Requisicion, "Seleccione una opción", new { @class = "buscable form-control" })

                                @Html.ValidationMessageFor(model => model.req_Id, "", new { @class = "text-danger" })
                            </div>


                            <br />
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Fecha inicio</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control", @type = "date", @name = "Fecha_Contratacion", @id = "Fecha_Contratacion" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Fecha fin</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.EditorFor(model => model.fechaFin, new { htmlAttributes = new { @class = "form-control", @type = "date", @name = "Fecha_Contratacion", @id = "Fecha_Contratacion" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                            <button type="submit" class="btn btn-primary btn-sm" id="btnPrevisualizarDeducciones">Previsualizar</button>
                        </div>

                </div>
            </div>
        </div>
    </div>

}

<br />

@{
    string visibilidadPreview = ViewBag.ReportViewer == null ? "none" : "";
}

<div class="row" style="display:@visibilidadPreview;">
    <div class="col-lg-12  ibox-content">
        <div class="float-e-margins ">
            <div class="ibox-title">
                <h5>Previsualización de reporte</h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="col-lg-10 ">
                @{
                    if (ViewBag.ReportViewer != null)
                    {
                        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/select2Styles")
}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/Scripts/app/general_Fechas")
}