@using ReportViewerForMvc;
@model ERP_GMEDINA.Models.V_RPT_HistorialSueldos
@{
    ViewBag.Title = "Reportes de Sueldos";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}


@using (Html.BeginForm("SueldosRPT", "ReportesRRHH", FormMethod.Post, new { id = "Sueldos" }))
{

    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Reportes de sueldos</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Empleado</label>

                                @Html.DropDownList("emp_Id", (IEnumerable<SelectListItem>)ViewBag.Empleados, "Seleccione un colaborador", new { @class = "buscable form-control", @name = "emp_Id", @id = "emp_Id" })

                                @Html.ValidationMessageFor(model => model.emp_Id, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Cargo</label>

                                @Html.DropDownList("car_Id", (IEnumerable<SelectListItem>)ViewBag.Cargos, "Seleccione un cargo", new { @class = "buscable form-control", @name = "car_Id", @id = "car_Id" })

                                @Html.ValidationMessageFor(model => model.emp_Id, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Fecha inicio</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control", @type = "date", @name = "fechaInicio", @id = "fechaInicio" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="font-normal">Fecha fin</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.EditorFor(model => model.fechafin, new { htmlAttributes = new { @class = "form-control", @type = "date", @name = "fechaFin", @id = "fechaFin" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.fechafin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                      

                    <button type="submit" class="btn btn-primary btn-sm" id="btnPrevisualizarDeducciones">Previsualizar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

}

<br />


@{
    string visibilidadPreview = ViewBag.ReportViewer == null ? "none" : "";
}

<div class="row" style="display:@visibilidadPreview;">
    <div class="col-lg-12  ibox-content">
        <div class="float-e-margins ">
            <div class="ibox-title">
                <h5>Previsualización de reporte</h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="col-lg-10 ">
                @{
                    if (ViewBag.ReportViewer != null)
                    {
                        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/select2Styles")
}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/Scripts/app/general_Fechas")
}