@model ERP_GMEDINA.Models.tbEmpresas
@using (Html.BeginForm(null, null, FormMethod.Post, new {id= "FormNuevo" }))
{
<div class="modal inmodal" id="ModalNuevo" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true" data-res="false">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Crear Empresa</h4>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
							                    @Html.LabelFor(model => model.empr_Nombre, htmlAttributes: new { @class = "control-label col-md-3" })
							                    <div class="col-md-8">
								                       @Html.EditorFor(model => model.empr_Nombre, new { htmlAttributes = new { @class = "form-control required valid" } })
								                       @Html.ValidationMessageFor(model => model.empr_Nombre, "", new { @class = "text-danger", @id = "errorempr_Nombre" })
                           </div>
                        </div>
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
							                    @Html.LabelFor(model => model.empr_RTN, htmlAttributes: new { @class = "control-label col-md-3" })
							                    <div class="col-md-8">
								                       @Html.EditorFor(model => model.empr_RTN, new { htmlAttributes = new { @class = "form-control valid" } })
								                       @Html.ValidationMessageFor(model => model.empr_RTN, "", new { @class = "text-danger", @id = "errorempr_RTN" })
                           </div>
                        </div>
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
							                    @Html.LabelFor(model => model.per_Id, htmlAttributes: new { @class = "control-label col-md-3" })
							                    <div class="col-md-8">
                               @Html.DropDownList("per_id", null, htmlAttributes: new { @class = "form-control required valid" })								                       
								                       @Html.ValidationMessageFor(model => model.per_Id, "", new { @class = "text-danger", @id = "errorper_Id" })
                           </div>
                        </div>
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     <div class="form-group">
                      @Html.LabelFor(model => model.empr_Logo, htmlAttributes: new { @class = "control-label col-md-3" })
                      <div class="col-md-8">
                         <div>
                             <label title="Upload image file" for="empr_Logo" class="btn btn-primary">
                              Subir Logos
                                <input type="file"  name="empr_Logo" accept=".png,.jpeg,.jpg" id="empr_Logo" style="display:none" />
                             </label>
                         <div>
                             <h4>Previsualización</h4>
                             <div class="img-preview img-preview-sm" style="width: 200px; height: 100px;"><img id="img1" style="display: block;height: 100px ; "></div>

                         </div>    
                         </div>
                        </div>
                     </div>
					</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary pull-left" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>
}

