@model ERP_GMEDINA.Models.tbCatalogoDeIngresos
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCatalogoIngresos" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body" id="Editar">
        @Html.HiddenFor(model => model.cin_IdIngreso)
        @Html.HiddenFor(model => model.cin_FechaCrea)
        @Html.HiddenFor(model => model.cin_UsuarioCrea)
        <div class="form-group">
            @Html.LabelFor(model => model.cin_DescripcionIngreso, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cin_DescripcionIngreso, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.cin_DescripcionIngreso, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-white pull-right" id="btnCerrarEditar">Cerrar</button>
        <input type="button" id="btnUpdateIngresos" value="Actualizar" class="btn btn-primary pull-left" />
        <div style="display:none" class="btn pull-left" id="cargandoEditar">
        </div>


        <button type="button" class="btn btn-danger pull-left" id="btnModalInactivar">Inhabilitar</button>
    </div>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmInactivarCatalogoIngresos" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.cin_IdIngreso)
    @Html.HiddenFor(model => model.cin_FechaCrea)
    @Html.HiddenFor(model => model.cin_UsuarioCrea)
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}