@model ERP_GMEDINA.Models.tbCatalogoDeIngresos
<div class="modal-body" id="Editar">

    @Html.HiddenFor(model => model.cin_FechaCrea)
    @Html.HiddenFor(model => model.cin_UsuarioCrea)
    <div class="form-group">
        <div class="row">
            <div class="col-md-5">
                @Html.LabelFor(model => model.cin_IdIngreso, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })
            </div>
            <div class="col-md-7">
                @Html.EditorFor(model => model.cin_IdIngreso, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
    </div>

	<div class="form-group">
		<div class="row">
			<div class="col-md-5">
				@Html.LabelFor(model => model.cin_DescripcionIngreso, htmlAttributes: new { @class = "" }) <label class="" id="asteriscoEdit">*</label>
			</div>
			<div class="col-md-7">
				@Html.EditorFor(model => model.cin_DescripcionIngreso, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @maxlength = "50", @onkeyup = "ValidarCamposEditar(this.value)" } }) 
                <span class="field-validation-valid text-danger" style="display: none" id="DescripcionEditar">El campo Descripción Ingreso es Requerido</span>
			</div>
		</div>
	</div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-5">
                <label>Tipo de Ingreso</label><label class="" id="asteriscoTipoIngreso" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
            </div>
            <div class="col-md-7">
                <select id="idTipoIngreso" name="cin_TipoIngreso" class="form-control" onchange="ValidarTipoIngreso('Editar')">
                    <option value="0">Seleccione una opción...</option>
                    <option value="1">Bonos</option>
                    <option value="2">Comisiones</option>
                    <option value="3">Extra</option>
                    <option value="4">Otros</option>
                </select>
                <label class="text-danger" id="valTipoIngreso" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Tipo de Ingreso Requerido</label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
	<button type="button" data-dismiss="modal" class="btn btn-white pull-right" id="btnCerrarEditar">Cerrar</button>
	<button type="submit" class="btn btn-primary pull-left" id="btnUpdateIngresos">Actualizar</button>
	<button type="button" class="btn btn-danger pull-left" id="btnModalInactivar">Inactivar</button>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmInactivarCatalogoIngresos" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.cin_IdIngreso)
	@Html.HiddenFor(model => model.cin_FechaCrea)
	@Html.HiddenFor(model => model.cin_UsuarioCrea)
}

@*@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}*@
