@model IEnumerable<ERP_GMEDINA.Models.tbCatalogoDeIngresos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Catalogo de ingresos</h2>
        <ol class="breadcrumb">
            <li class="active">
            </li>
        </ol>
    </div>
</div>*@


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Catálogo de Ingresos</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" id="btnAgregarCatalogoIngresos">Registrar Catálogo de Ingreso</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{
                        <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                        var oUsuario = (ERP_GMEDINA.Models.tbUsuario)HttpContext.Current.Session["sesionUsuario"];

                        <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                        string rol_Usuario = oUsuario?.usu_EsAdministrador == true ? "1" : "0";

                        <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                        <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                    }
                    <table id="tblCatalogoIngresos" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 150px;">@Html.DisplayNameFor(model => model.cin_IdIngreso)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 380px;">@Html.DisplayNameFor(model => model.cin_DescripcionIngreso)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 380px;">@Html.DisplayNameFor(model => model.cin_Activo)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 240px;">Acción</th>

                            </tr>
                        </thead>
                        <tbody id="tbodyIngresos">


                            @foreach (var item in Model)
                            {
                                string estadoIng = item.cin_Activo == false ? "Inactivo" : "Activo";


                                <tr class="gradeA odd" role="row" data-id="@item.cin_IdIngreso">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cin_IdIngreso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cin_DescripcionIngreso)
                                    </td>
                                    <td>
                                        @estadoIng
                                    </td>
                                    <td>
                                        @{
                                            if (item.cin_Activo == true)
                                            {
                                                <button type="button" class="btn btn-primary btn-xs" id="btnDetalle" data-id="@item.cin_IdIngreso">Detalles</button>
                                                <button type="button" class="btn btn-default btn-xs" id="btnEditarIngreso" data-id="@item.cin_IdIngreso">Editar</button>
                                            }
                                            if (oUsuario?.usu_EsAdministrador == true == true && item.cin_Activo == false)
                                            {
                                                <!-- ACTIVAR -->
                                                <button type="button" class="btn btn-primary btn-xs" id="btnActivar" data-id="@item.cin_IdIngreso">Activar</button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditarCatalogoIngresos" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="IconCerrarEditar"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Editar Catalogo de Ingreso</h4>
            </div>
            <div class="modal-body" id="Editar">
                @*Mandamos un nuevo modelo solo para poder cargar la página *@
                @Html.Partial("_EditCatalogoDeIngresos", new ERP_GMEDINA.Models.tbCatalogoDeIngresos())
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-white pull-right" id="btnCerrarEditar">Cerrar</button>
                <input type="button" id="btnUpdateIngresos" value="Actualizar" class="btn btn-primary pull-left" />
                <div style="display:none" class="btn pull-left" id="cargandoEditar">
                </div>
                <button type="button" class="btn btn-danger pull-left" id="btnModalInactivar">Inhabilitar</button>
            </div>
        </div>
</div>
    </div>


<div class="modal fade" id="AgregarCatalogoIngresos" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="IconCerrarCreate" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Crear Catálogo de Ingreso</h4>
            </div>

                @Html.Partial("_CreateCatalogoDeIngresos", new ERP_GMEDINA.Models.tbCatalogoDeIngresos())

        </div>
    </div>
</div>


<div class="modal fade" id="DetailCatalogoIngresos" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Detalle Catálogo de Ingresos</h4>
            </div>
            <div class="modal-body" id="Detallar">
                @Html.Partial("_DetailCatalogoDeIngreso", new ERP_GMEDINA.Models.tbCatalogoDeIngresos())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InactivarCatalogoIngresos" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Inactivar</h4>
            </div>
            <div class="modal-body" id="Inactivar">
                ¿Esta seguro que desea Inhabilitar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger " id="btnInactivarIngresos">Si</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ActivarCatalogoIngresos" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Activar</h4>
            </div>

            @Html.Partial("_ActivarCatalogoDeIngreso", new ERP_GMEDINA.Models.tbCatalogoDeIngresos())

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/izitoast")
    @Scripts.Render("~/Scripts/app/General/CatalogoDeIngresos.js")
}

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
}
