@model ERP_GMEDINA.Models.tbAFP

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCreateAFP" }))
{
    <div class="modal-body" id="Crear">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.afp_Id)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.afp_Descripcion)<span id="ast1">*</span>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.afp_Descripcion, new { htmlAttributes = new { @class = "form-control", @id = "afp_Descripcion" } })
                    @Html.ValidationMessageFor(model => model.afp_Descripcion, "", new { @class = "text-danger", @id = "validation1" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.afp_AporteMinimoLps)<span id="ast2">*</span>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.afp_AporteMinimoLps, new { htmlAttributes = new { @class = "form-control", @id = "afp_AporteMinimoLps", @min = 0.01, @max = 9999999999.99 } })
                    @Html.ValidationMessageFor(model => model.afp_AporteMinimoLps, "", new { @class = "text-danger", @id = "validation2" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.afp_InteresAporte)<span id="ast3">*</span>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.afp_InteresAporte, new { htmlAttributes = new { @class = "form-control", @id = "afp_InteresAporte", @min = 0.01, @max = 100.00 } })
                    @Html.ValidationMessageFor(model => model.afp_InteresAporte, "", new { @class = "text-danger", @id = "validation3" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.afp_InteresAnual)<span id="ast4">*</span>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.afp_InteresAnual, new { htmlAttributes = new { @class = "form-control", @id = "afp_InteresAnual", @min = 0.01, @max = 100.00 } })
                    @Html.ValidationMessageFor(model => model.afp_InteresAnual, "", new { @class = "text-danger", @id = "validation4" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.tde_IdTipoDedu)<span id="ast5">*</span>
                </div>
                <div class="col-md-8">
                    <select id="tde_IdTipoDedu" name="tde_IdTipoDedu" class="form-control"></select>
                    <label class="text-danger" id="validation5" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">El campo Tipo Deducción es Requerido.</label>
                </div>
            </div>

        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white pull-right" id="btnCerrarCrear">Cerrar</button>
            <button type="submit" class="btn btn-primary pull-left" id="btnCreateRegistroAFP">Guardar</button>
            <div style="display:none" class="btn pull-left" id="cargandoCrear"></div>
        </div>
}



