@model ERP_GMEDINA.Models.tbAFP

@using (Html.BeginForm())
{
    <div class="ibox-content">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.afp_Id)
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.afp_Descripcion)
                </div>
                <div class="col-md-6">
                    <span id="afp_Descripcion">@Html.DisplayFor(model => model.afp_Descripcion, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                    @Html.ValidationMessageFor(model => model.afp_Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.afp_AporteMinimoLps)
                </div>
                <div class="col-md-6">
                    <span id="afp_AporteMinimoLps">@Html.DisplayFor(model => model.afp_AporteMinimoLps, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                    @Html.ValidationMessageFor(model => model.afp_AporteMinimoLps, "", new { @class = "text-danger" })
                </div>
            </div>

                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.afp_InteresAporte)
                        </div>
                        <div class="col-md-6">
                           <span id="afp_InteresAporte">@Html.DisplayFor(model => model.afp_InteresAporte, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                            @Html.ValidationMessageFor(model => model.afp_InteresAporte, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.afp_InteresAnual)
                        </div>
                        <div class="col-md-6">
                            <span id="afp_InteresAnual">@Html.DisplayFor(model => model.afp_InteresAnual, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                            @Html.ValidationMessageFor(model => model.afp_InteresAnual, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.tde_IdTipoDedu)
                        </div>
                        <div class="col-md-6">
                            <span id="tde_IdTipoDedu"> @Html.DisplayFor(model => model.tde_IdTipoDedu, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })</span>
                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h4>Auditoría</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th>Acción</th>
                                            <th>Usuario</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Creado</td>
                                            @Html.HiddenFor(model => model.afp_UsuarioCrea)
                                            <td><span id="tbUsuario_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                            <td><span id="afp_FechaCrea">@Html.DisplayFor(model => model.afp_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                        </tr>
                                        <tr>
                                            <td>Modificado</td>
                                            @Html.HiddenFor(model => model.afp_UsuarioModifica)
                                            <td><span id="tbUsuario1_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                            <td><span id="afp_FechaModifica">@Html.DisplayFor(model => model.afp_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="footer">
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
            </div>
        </div>
        </div>
}


