@model ERP_GMEDINA.Models.tbSucursales

@{
    ViewBag.Title = "Sucursales";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Sucursales</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar Sucursales", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="IndexTable">
                        <thead>
                            <tr role="row">
                                <th>@Html.DisplayNameFor(model => model.suc_Id)</th>
                                <th>@Html.DisplayNameFor(model => model.suc_Descripcion)</th>
                                <th>@Html.DisplayNameFor(model => model.suc_Direccion)</th>
                                <th>@Html.DisplayNameFor(model => model.suc_Telefono)</th>
                                <th>@Html.DisplayNameFor(model => model.suc_Estado)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*Modal*@
<div class="modal fade" id="ModalHabilitar" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Activar</h4>
            </div>
            <div class="modal-body" id="Activar">
                ¿Está seguro que desea Activar este registro?
            </div>
            <input type="hidden" value="" id="txtIdRestore">
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary pull-right" id="btnActivar" data-dismiss="modal">Si</button>
                <div style="display:none" class="btn pull-right" id="cargandoActivar"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Delete", new ERP_GMEDINA.Models.tbSucursales())
@Html.Partial("_Detalles", new ERP_GMEDINA.Models.tbSucursales())
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
    @Styles.Render("~/Content/plugins/izitoast/iziToast.min")
}

@section Scripts {
@* datatble *@
@Scripts.Render("~/Scripts/plugins/dataTablesMatutina/DatatablesConfigurations")
@Scripts.Render("~/Scripts/plugins/dataTablesMatutina/datatables.min")

@*general*@
@Scripts.Render("~/Scripts/app/general")
@Scripts.Render("~/Scripts/plugins/iziToast/iziToast.min")
@Scripts.Render("~/Scripts/plugins/iziToast/iziToast")
    @Scripts.Render("~/Scripts/app/general/Sucursales")
<script src="~/Scripts/app/General/Sucursales/Admin.js"></script>

}
