@model ERP_GMEDINA.Models.tbHabilidades

@{
    ViewBag.Title = "Habilidades";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Habilidades</h5>
                    <div class="ibox-tools">
                        <input type="button" id="btnAgregar" class="btn btn-primary btn-xs" value="Registrar una habilidad" />
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="IndexTable">
                        <thead>
                            <tr role="row">
                                <th>Número</th>
                                <th>@Html.DisplayNameFor(model => model.habi_Descripcion)</th>
                                <th>@Html.DisplayNameFor(model=>model.habi_Estado)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Activar")
@Html.Partial("_Create", new ERP_GMEDINA.Models.tbHabilidades())
@Html.Partial("_Delete", new ERP_GMEDINA.Models.tbHabilidades())
@Html.Partial("_Edit", new ERP_GMEDINA.Models.tbHabilidades())
@Html.Partial("_Detalles", new ERP_GMEDINA.Models.tbHabilidades())

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
@Styles.Render("~/Content/plugins/izitoast/iziToast")
@Styles.Render("~/Content/plugins/izitoast/iziToast.min")
}
@section Scripts {
@* datatble *@
@Scripts.Render("~/Scripts/plugins/dataTablesMatutina/DatatablesConfigurations")
@Scripts.Render("~/Scripts/plugins/dataTablesMatutina/datatables.min")

@*general*@
@Scripts.Render("~/Scripts/app/general")
@Scripts.Render("~/Scripts/plugins/iziToast/iziToast.min")
@Scripts.Render("~/Scripts/plugins/iziToast/iziToast")
    @Scripts.Render("~/Scripts/app/general/Habilidades")
    
        @Scripts.Render("~/Scripts/app/general/Habilidades/Admin")
}
