@model ERP_GMEDINA.Models.tbHistorialPermisos
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormEditar" }))
{

    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.tiho_Id)*@
        <div class="form-group">
            @Html.Label("Observación", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hper_Observacion, new { htmlAttributes = new { @class = "form-control required valid" , @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.hper_Observacion, "", new { @class = "text-danger", @id = "errorhsal_Observacion" })
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
