@model ERP_GMEDINA.Models.tbHistorialPermisos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbHistorialPermisos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hper_fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Justificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Justificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_PorcentajeIndemnizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_PorcentajeIndemnizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_RazonInactivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_RazonInactivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados.emp_CuentaBancaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados.emp_CuentaBancaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoPermisos.tper_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoPermisos.tper_Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
