@model ERP_GMEDINA.Models.tbHistorialPermisos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}

<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
	@Html.ActionLink("Regresar", "Index", null, new {@class="pull-right" })
	<h2>Details</h2>
</div>

<div class="ibox-content">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hper_fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Justificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Justificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_PorcentajeIndemnizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_PorcentajeIndemnizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_RazonInactivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_RazonInactivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados.emp_CuentaBancaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados.emp_CuentaBancaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoPermisos.tper_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoPermisos.tper_Descripcion)
        </dd>

    </dl>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.hper_Id }, new {@class="btn btn-primary" }) 
    @Html.ActionLink("Cancelar", "Index", null, new {@class="btn btn-default" })
</p>
</div>
</div>
</div>
