@model ERP_GMEDINA.Models.tbHistorialPermisos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
	@Html.ActionLink("Regresar", "Index", null, new {@class="pull-right" })
	<h2>Details</h2>
</div>

<div class="ibox-content">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hper_fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_Justificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_Justificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hper_PorcentajeIndemnizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hper_PorcentajeIndemnizado)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados.emp_CuentaBancaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados.emp_CuentaBancaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoPermisos.tper_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoPermisos.tper_Descripcion)
        </dd>

    </dl>
    <div class="ibox-content">
        <div class="form-horizontal">
            <table class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Creado</td>
                        <td><span id="tbUsuario_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                        <td><span id="hper_FechaCrea">@Html.DisplayFor(model => model.hper_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td><span id="tbUsuario1_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                        <td><span id="hper_FechaModifica">@Html.DisplayFor(model => model.hper_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.hper_Id }, new {@class="btn btn-primary" }) 
    @Html.ActionLink("Cancelar", "Index", null, new {@class="btn btn-default" })
</p>
</div>
</div>
</div>
