@model IEnumerable<ERP_GMEDINA.Models.tbHistorialPermisos>

@{
    ViewBag.Title = "Permisos";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Permisos de personal</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar permisos", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="IndexTable">
                        <thead>
                            <tr role="row">
                                <th></th>
                                <th>Nombre Completo</th>
                                <th>Tipo Permiso</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*MODAL EDITAR*@
<div class="modal inmodal" id="ModalEditar" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Editar Observaciónes del permiso</h4>
            </div>
            <div class="modal-body" id="ModalEdit">
                @Html.Partial("_EditHistorialPermisos", new ERP_GMEDINA.Models.tbHistorialPermisos())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger pull-left" id="btnInhabilitar">Inhabilitar</button>
            </div>
        </div>
    </div>
</div>
@*MODAL EDITAR*@

@*MODAL INHABILITAR*@
<div class="modal inmodal" id="ModalInhabilitar" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">¿Seguro que desea inhabilitar el registro?</h4>
            </div>
            <div class="modal-body" id="ModalInhabilitar">
                <p>
                    @Html.Partial("_InhabilitarHistorialPermisos", new ERP_GMEDINA.Models.tbHistorialPermisos())
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger pull-left" id="InActivar">Inhabilitar</button>
            </div>
        </div>
    </div>
</div>
@*MODAL INHABILITAR*@

@*MODAL DETALLES*@
<div class="modal inmodal" id="ModalDetalles" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Detalles del Permiso</h4>
            </div>
            <div class="modal-body" id="ModalDetallesAX">
                <p>
                    @Html.Partial("_DetallesHistorialPermisos", new ERP_GMEDINA.Models.tbHistorialPermisos())
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

@*@Html.Partial("_Create", new ERP_GMEDINA.Models.tbHistorialPermisos())
    @Html.Partial("_Delete", new ERP_GMEDINA.Models.tbHistorialPermisos())
    @Html.Partial("_Edit", new ERP_GMEDINA.Models.tbHistorialPermisos())
    @Html.Partial("_Detalles", new ERP_GMEDINA.Models.tbHistorialPermisos())*@

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
}
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/app/general")
    @Scripts.Render("~/Scripts/app/general/HistorialPermisos/IndexHistorialPermisos.js")
}
