@model ERP_GMEDINA.Models.tbDeduccionAFP
@using (Html.BeginForm())
{
        <div class="ibox-content">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.dafp_Id)
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.dafp_AporteLps)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dafp_AporteLps)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tbAFP.afp_Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tbAFP.afp_Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.emp_Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tbEmpleados.tbPersonas.per_Nombres) @Html.DisplayFor(model => model.tbEmpleados.tbPersonas.per_Apellidos) 
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dafp_Pagado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dafp_Pagado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dafp_UsuarioCrea)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dafp_UsuarioModifica)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dafp_FechaCrea)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dafp_FechaCrea)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dafp_FechaModifica)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dafp_FechaModifica)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dafp_Activo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dafp_Activo)
                </dd>
            </dl>
            <div class="footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-white pull-left" id="btnEditarDeduccionAFP">Editar</button>
            </div>
        </div>
}

