@model ERP_GMEDINA.Models.tbDeduccionAFP
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditDeduccionAFP" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.dafp_Id)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.emp_Id)
            </div>
            <div class="col-md-9">
                <select id="emp_Id" name="emp_Id" class="text-box single-line"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.dafp_AporteLps)
            </div>            
            <div class="col-md-9">
                @Html.EditorFor(model => model.dafp_AporteLps, new { htmlAttributes = new { @class = "text-box single-line" } })
                @Html.ValidationMessageFor(model => model.dafp_AporteLps, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.afp_Id)
            </div>            
            <div class="col-md-9">
                <select id="afp_Id" name="afp_Id" class="text-box single-line"></select>
            </div>
        </div>

    </div>
        <div class="modal-footer">
            @*data-dismiss="modal"*@
            <button type="button" class="btn btn-white pull-right" id="btnCerrarEditar">Cerrar</button>
            <button type="submit" class="btn btn-primary pull-left" id="btnEditDeduccionAFP">Actualizar</button>
            <div style="display:none" class="btn pull-left" id="cargandoEditar"></div>
            <button type="button" class="btn btn-danger pull-left" id="btnInactivarDeduccionAFP">Inactivar</button>
        </div>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmDeduccionAFPInactivar" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.dafp_Id)
}


