@model ERP_GMEDINA.Models.tbDeduccionAFP
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditDeduccionAFP" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.dafp_Id)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="pull-left">Número</label>
            <div class="col-md-8 pull-right">
                @Html.EditorFor(model => model.dafp_Id, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            <b>Colaborador</b><label class="" id="e_Asterisco1">*</label>
            <div class="col-md-8 pull-right">
                <select id="emp_Id" name="emp_Id" class="text-box single-line"></select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.dafp_AporteLps)<label class="" id="e_Asterisco2">*</label>
            <div class="col-md-8 pull-right">
                @Html.EditorFor(model => model.dafp_AporteLps, new { htmlAttributes = new { @class = "form-control", @type = "number", @autocomplete = "off", @min = 0.01, @max = 9999999999.99 } })
                <label class="text-danger" id="Validation_descripcion1" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Aporte requerido</label>
                <label class="text-danger" id="Validation_descripcion2" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">El campo Aporte debe ser mayor que cero</label>
                <label class="text-danger" id="Validation_descripcion3" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Número decimal válido con un máximo de 2 decimales</label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.afp_Id)<label class="" id="e_Asterisco3">*</label>
            <div class="col-md-8 pull-right">
                <select id="afp_Id" name="afp_Id" class="text-box single-line"></select>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmDeduccionAFPInactivar" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.dafp_Id)
}


