@model ERP_GMEDINA.Models.tbHistorialVacaciones
<div class="modal inmodal" id="ModalNuevo" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Crear vacación</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormNuevo" }))
                {
                    <div hidden="hidden" class="col-md-8">
                        <input id="emp_Id" name="emp_Id" type="text" value="">
                    </div><br>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*<div class="form-group">
							@Html.LabelFor(model => model.emp_Id, "emp_Id", htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
							@Html.DropDownList("emp_Id", null, htmlAttributes: new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.emp_Id, "", new { @class = "text-danger", @id = "erroremp_Id" })
                            </div>
                        </div>*@
                        <div class="form-group">
							@Html.LabelFor(model => model.hvac_FechaInicio,"Fecha Inicio", htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.TextBoxFor(model => model.hvac_FechaInicio, new { @class = "form-control datepicker", @type ="date" })
								@Html.ValidationMessageFor(model => model.hvac_FechaInicio, "", new { @class = "text-danger", @id = "errorhvac_FechaInicio"})
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.hvac_FechaFin, "Fecha Fin", htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.TextBoxFor(model => model.hvac_FechaFin, new { @class = "form-control datepicker", @type = "date" })
								@Html.ValidationMessageFor(model => model.hvac_FechaFin, "", new { @class = "text-danger", @id = "errorhvac_FechaFin" })
                            </div>
                        </div>
                        @*<div class="form-group">
							@Html.LabelFor(model => model.hvac_CantDias, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.hvac_CantDias, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.hvac_CantDias, "", new { @class = "text-danger", @id = "errorhvac_CantDias" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.hvac_DiasPagados, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								<div class="checkbox">
    								@Html.EditorFor(model => model.hvac_DiasPagados)
    								@Html.ValidationMessageFor(model => model.hvac_DiasPagados, "", new { @class = "text-danger", @id = "errorhvac_DiasPagados" })
									</div>
                            </div>
                        </div>*@
                        @*<div class="form-group">
							@Html.LabelFor(model => model.hvac_MesVacaciones, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.hvac_MesVacaciones, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.hvac_MesVacaciones, "", new { @class = "text-danger", @id = "errorhvac_MesVacaciones" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.hvac_AnioVacaciones, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.hvac_AnioVacaciones, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.hvac_AnioVacaciones, "", new { @class = "text-danger", @id = "errorhvac_AnioVacaciones" })
                            </div>
                        </div>*@
					</div>
				}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary pull-left" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

