@model IEnumerable<ERP_GMEDINA.Models.V_Plani_EncabezadoHistorialPlanilla>

@{
    ViewBag.Title = "ComprobanteEmpleadoEncabezado";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";

}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default btn-xs pull-right" })
                    </div>
                    <h5>Historial de Planillas</h5>
                </div>
                <div class="ibox-content">
                    <table id="tblComprobanteEmpleadoEncabezado" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 160px;">@Html.DisplayNameFor(model => model.NombreColaborador)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 160px;">@Html.DisplayNameFor(model => model.area_Descripcion)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 140px;">@Html.DisplayNameFor(model => model.car_Descripcion)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.fpa_Descripcion)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.peri_DescripPeriodo)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.hipa_FechaPago)</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyComprobanteEmpleadoEncabezado">
                            @foreach (var item in Model)
                            {
                                <tr class="gradeA odd" role="row">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreColaborador)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.area_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.car_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fpa_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.peri_DescripPeriodo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.hipa_FechaPago)
                                    </td>
                                    <td>
                                        <button data-id="@item.emp_Id" type="button" class="btn btn-default btn-xs" id="btnDetalleCatalogoDeducciones">Detalle</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/app/General/FechaPlanilla")
}

@section Styles {
    @Styles.Render("~/app/General")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}




