@model ERP_GMEDINA.Models.tbAreas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbAreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.suc_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suc_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area_Razoninactivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area_Razoninactivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area_Fechacrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area_Fechacrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area_Fechamodifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area_Fechamodifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCargos.car_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCargos.car_Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
