@model ERP_GMEDINA.Models.tbAreas

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="content-block">
 <div class="ibox">
  <div class="ibox-title">
   @Html.ActionLink("Regresar", "Index", null, new { @class = "pull-right" })
   <h2>Detalles de Area</h2>
  </div>

  <div class="ibox-content">
   <div class="row">
    <div class="col-md-6">
     <dl class="dl-horizontal">
      <dt>
       @Html.DisplayNameFor(model => model.suc_Id)
      </dt>

      <dd>
       @Html.DisplayFor(model => model.tbSucursales.suc_Descripcion)
      </dd>

      <dt>
       @Html.DisplayNameFor(model => model.area_Descripcion)
      </dt>

      <dd>
       @Html.DisplayFor(model => model.area_Descripcion)
      </dd>
     </dl>
    </div>
    <div class="col-md-6">
     <h3 class="title">Departamentos</h3>
     <table class="table">
      <thead>
       <tr>
        <th>@Html.DisplayNameFor(model => model.tbDepartamentos.First().depto_Descripcion)</th>
        <th>@Html.DisplayNameFor(model => model.tbCargos.car_Descripcion)</th>
       </tr>
      </thead>
      <tbody>
       @foreach (var item in Model.tbDepartamentos)
       {
           <tr>
            <td>@item.depto_Descripcion</td>
            <td>@item.tbCargos.car_Descripcion</td>
         </tr>
       }
      </tbody>
     </table>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h4>Auditoría</h4>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <table class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Creado</td>
                                <td><span id="tbUsuario_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                <td><span id="area_Fechacrea">@Html.DisplayFor(model => model.area_Fechacrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            </tr>
                            <tr>
                                <td>Modificado</td>
                                <td><span id="tbUsuario1_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                <td><span id="area_Fechamodifica">@Html.DisplayFor(model => model.area_Fechamodifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <p>
     @Html.ActionLink("Editar", "Edit", new { id = Model.area_Id }, new { @class = "btn btn-primary" })
     @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
    </p>
   </div>
   </div>
  </div>
 </div>
</div>
