
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}
@using ERP_GMEDINA.Models
@{
    Helpers Login = new Helpers();
    int Sesiones = 0;


    List<tbUsuario> User = Login.getUserInformation();

    foreach (tbUsuario Usuario in User)
    {
        Sesiones = (int)Usuario.usu_SesionesValidas;
    }
}


<form>
    <div class="ibox-content m-b-sm border-bottom">        
        <div class="col-lg-12">
            <h2>Recursos Humanos - Accesos Rápidos</h2>
            <hr />                              
        </div>
        
        <div class="wrapper wrapper-content animated ">
            <div class="row">                
            
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home" type="button" style="" onclick="location.href='@Url.Action("Index", "Requisiciones")'"><i class="fa fa-file-text-o fa-4x"></i><p class="font-home text-center">Requisiciones</p></button>
                </div>
             
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home" type="button" style="" onclick="location.href='@Url.Action("Index", "Personas")'"><i class="fa fa-male fa-4x"></i><p class="font-home text-center">Personas</p></button>
                </div>
           
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home" type="button" style="" onclick="location.href='@Url.Action("Index", "SeleccionCandidatos")'"><i class="fa fa-user-plus fa-4x"></i><p class="font-home text-center">Candidatos</p></button>
                </div>
          
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home btn-responsive" type="button" style="" onclick="location.href='@Url.Action("Index", "Empleados")'"><i class="fa fa-user fa-4x"></i><p class="font-home text-center">Empleados</p></button>
                </div>
             
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home" type="button" style="" onclick="location.href='@Url.Action("Index", "Sueldos")'"><i class="fa fa-money fa-4x"></i><p class="font-home text-center">Salarios</p></button>
                </div>
            
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home" type="button" style="" onclick="location.href='@Url.Action("Index", "HistorialPermisos")'"><i class="fa fa-check-square-o fa-4x"></i><p class="font-home text-center">Permisos</p></button>
                </div>
            
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home" type="button" style="" onclick="location.href='@Url.Action("Index", "HistorialVacaciones")'"><i class="fa fa-calendar fa-4x"></i><p class="font-home text-center">Vacaciones</p></button>
                </div>
            
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home" type="button" style="" onclick="location.href='@Url.Action("Index", "HistorialAmonestaciones")'"><i class="fa fa-exclamation-triangle fa-4x"></i><p class="font-home text-center">Amonestaciones</p></button>
                </div>                                
              
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home" type="button" style="" onclick="location.href='@Url.Action("Index", "Areas")'"><i class="fa fa-sitemap fa-4x"></i><p class="font-home text-center">Áreas</p></button>
                </div>
                
              
                <div class="col-md-7 col-lg-3">
                    <button class="btn btn-primary dim btn-home" type="button" style="" onclick="location.href='@Url.Action("Index", "Jornadas")'"><i class="fa fa-clock-o fa-4x"></i><p class="font-home text-center">Jornadas</p></button>
                </div>     
                
            </div>
        </div>
    </div>             
</form>




