@model ERP_GMEDINA.Models.tbDeduccionesIndividuales

@using (Html.BeginForm())
{

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.dei_IdDeduccionesIndividuales)
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.dei_Motivo)
                </div>
                <div class="col-md-6">
                    <span id="dei_Motivo">@Html.DisplayFor(model => model.dei_Motivo, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                    @Html.ValidationMessageFor(model => model.dei_Motivo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.emp_Id)
                </div>
                <div class="col-md-6">
                    <span id="emp_Id"> @Html.DisplayFor(model => model.emp_Id, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.dei_MontoInicial)
                </div>
                <div class="col-md-6">
                    <span id="dei_MontoInicial">@Html.DisplayFor(model => model.dei_MontoInicial, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                    @Html.ValidationMessageFor(model => model.dei_MontoInicial, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.dei_MontoRestante)
                </div>
                <div class="col-md-6">
                    <span id="dei_MontoRestante">@Html.DisplayFor(model => model.dei_MontoRestante, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                    @Html.ValidationMessageFor(model => model.dei_MontoRestante, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.dei_Cuota)
                </div>
                <div class="col-md-6">
                    <span id="dei_Cuota">@Html.DisplayFor(model => model.dei_Cuota, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                    @Html.ValidationMessageFor(model => model.dei_Cuota, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.dei_PagaSiempre)
                </div>
                <div class="col-md-6">
                    <span id="dei_PagaSiempre">@Html.DisplayFor(model => model.dei_PagaSiempre, new { htmlAttributes = new { @class = "text-box single-line", @disabled = "disabled" } })</span>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Auditoría</h4>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <table class="table table-striped table-bordered dataTable">
                            <thead>
                                <tr>
                                    <th>Acción</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Creado</td>
                                    @Html.HiddenFor(model => model.dei_UsuarioCrea)
                                    <td><span id="tbUsuario_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                    <td><span id="dei_FechaCrea">@Html.DisplayFor(model => model.dei_FechaCrea, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                </tr>
                                <tr>
                                    <td>Modificado</td>
                                    @Html.HiddenFor(model => model.dei_UsuarioModifica)
                                    <td><span id="tbUsuario1_usu_NombreUsuario">@Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                    <td><span id="dei_FechaModifica">@Html.DisplayFor(model => model.dei_FechaModifica, new { htmlAttributes = new { @class = "", @disabled = "disabled" } })</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
}



