@model ERP_GMEDINA.Models.tbDeduccionesIndividuales

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditarDeduccionIndividual" }))
{
    <div class="modal-body" id="Editar">
            @Html.HiddenFor(model => model.dei_IdDeduccionesIndividuales, new { htmlAttributes = new { @class = "form-control", @id = "dei_IdDeduccionesIndividuales" } })
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.dei_Motivo)<span id="aste1">*</span>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.dei_Motivo, new { htmlAttributes = new { @class = "text-box single-line", @id = "dei_Motivo" } })
                        @Html.ValidationMessageFor(model => model.dei_Motivo, "", new { @class = "text-danger", @id = "validatione1" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.emp_Id)<span id="aste2">*</span>
                    </div>
                    <div class="col-md-8">
                        <select id="emp_Id" name="emp_Id" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.dei_MontoInicial)<span id="aste3">*</span>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.dei_MontoInicial, new { htmlAttributes = new { @class = "text-box single-line", @id = "dei_MontoInicial" } })
                        @Html.ValidationMessageFor(model => model.dei_MontoInicial, "", new { @class = "text-danger", @id = "validatione3" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.dei_MontoRestante)<span id="aste4">*</span>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.dei_MontoRestante, new { htmlAttributes = new { @class = "text-box single-line", @id = "dei_MontoRestante" } })
                        @Html.ValidationMessageFor(model => model.dei_MontoRestante, "", new { @class = "text-danger", @id = "validatione4" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.dei_Cuota)<span id="aste5">*</span>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.dei_Cuota, new { htmlAttributes = new { @class = "text-box single-line", @id = "dei_Cuota" } })
                        @Html.ValidationMessageFor(model => model.dei_Cuota, "", new { @class = "text-danger", @id = "validatione5" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.dei_PagaSiempre)
                    </div>
                    <div class="col-md-8">
                        <input type="checkbox" class="icheckbox_square-green" name="dei_PagaSiempre" id="dei_PagaSiempre">
                    </div>
                </div>

            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white pull-right" id="btnCerrarEditar">Cerrar</button>
        <button type="submit" class="btn btn-primary pull-left" id="btnEditDeduccionIndividual">Actualizar</button>
        <button type="button" class="btn btn-danger pull-left" id="btnInactivarDeduccionesIndividuales">Inactivar</button>
    </div>
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmInactivarDeduccionIndividual" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.dei_IdDeduccionesIndividuales)
}
