@model IEnumerable<ERP_GMEDINA.Models.tbDeduccionesIndividuales>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>tbDeduccionesIndividuales</h2>
        <ol class="breadcrumb">
            <li class="active">
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de tbDeduccionesIndividuales</h5>
                    <div class="ibox-tools">
                       @Html.ActionLink("Registrar tbDeduccionesIndividuales", "Create", null, new { @class = "btn btn-primary btn-xs"})
                    </div>
                </div>
                <div class="ibox-content">
                  <table class="table table-striped table-bordered table-hover dataTables-example" id="IndexTable">
                    <thead>
                        <tr role="row">
                            <th>@Html.DisplayNameFor(model => model.dei_Motivo)</th>
                            <th>@Html.DisplayNameFor(model => model.dei_MontoInicial)</th>
                            <th>@Html.DisplayNameFor(model => model.dei_MontoRestante)</th>
                            <th>@Html.DisplayNameFor(model => model.dei_Cuota)</th>
                            <th>@Html.DisplayNameFor(model => model.dei_FechaCrea)</th>
                            <th>@Html.DisplayNameFor(model => model.dei_FechaModifica)</th>
                            <th>@Html.DisplayNameFor(model => model.dei_Activo)</th>
                            <th>@Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)</th>
                            <th>@Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)</th>
                            <th>@Html.DisplayNameFor(model => model.tbEmpleados.emp_CuentaBancaria)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      @foreach (var item in Model) {
                        <tr class="gradeA odd" role="row" data-id="@item.dei_IdDeduccionesIndividuales">
                            <td>
                                @Html.DisplayFor(modelItem => item.dei_Motivo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dei_MontoInicial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dei_MontoRestante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dei_Cuota)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dei_FechaCrea)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dei_FechaModifica)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dei_Activo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario.usu_NombreUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario1.usu_NombreUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbEmpleados.emp_CuentaBancaria)
                            </td>
                            <td>
                              @Html.ActionLink("Detalles", "Details", new { id=item.dei_IdDeduccionesIndividuales },  new {@class = "btn btn-primary btn-xs" })
                              @Html.ActionLink("Editar", "Edit", new { id=item.dei_IdDeduccionesIndividuales }, new {@class = "btn btn-default btn-xs" })
                            </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
 </div>
    
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
  @Scripts.Render("~/plugins/dataTables")
}
