@model IEnumerable<ERP_GMEDINA.Models.tbDeduccionesIndividuales>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de deducciones extras</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" id="btnAgregarDeduccionIndividual">Registrar deducción extra</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{
                        <!-- obtener la sesion actual del usuario para luego verificar si este es adminsitrador-->
                        var oUsuario = (ERP_GMEDINA.Models.tbUsuario)HttpContext.Current.Session["sesionUsuario"];

                        <!-- Esto es para hacer las validaciones del rol de usuario a la hora de recargar la tabla con el JS -->
                        string rol_Usuario = oUsuario.usu_EsAdministrador == true ? "1" : "0";

                        <!-- Tomaremos el valor de este input en el JS para validar si el usuario es administrador-->
                        <input type="hidden" name="rol_Usuario" id="rol_Usuario" value="@rol_Usuario" />
                    }
                   
                    <table  id="IndexTable" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.dei_IdDeduccionesIndividuales)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.dei_Motivo)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.emp_Id)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.dei_MontoInicial)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.dei_MontoRestante)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.dei_Cuota)</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 128px;">@Html.DisplayNameFor(model => model.dei_Activo)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyDeduccionesIndividuales">
                            @foreach (var item in Model)
                            {
                           <!-- validar el estado del registro (activo/inactivo)-->
                                string estadoDeduccionesIndividuales = item.dei_Activo == false ? "Inactivo" : "Activo";
                                <tr class="gradeA odd" role="row" data-id="@item.dei_IdDeduccionesIndividuales">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dei_IdDeduccionesIndividuales)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dei_Motivo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbEmpleados.tbPersonas.per_Nombres) @Html.DisplayFor(modelItem => item.tbEmpleados.tbPersonas.per_Apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dei_MontoInicial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dei_MontoRestante)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dei_Cuota)
                                    </td>
                                    <td>
                                        @estadoDeduccionesIndividuales
                                    </td>
                                    <td>
                                        @{
                                            <!-- validar si el estado es activo para mostrar los botones "detalles" y "editar" -->
                                            if (item.dei_Activo == true)
                                            {
                                                <button type="button" data-id="@item.dei_IdDeduccionesIndividuales" class="btn btn-primary btn-xs" id="btnDetalleDeduccionesIndividuales">Detalles</button>
                                                <button type="button" data-id="@item.dei_IdDeduccionesIndividuales" class="btn btn-default btn-xs" id="btnEditarDeduccionesIndividuales">Editar</button>
                                            }
                                            <!-- validar si el usuario es administrador para mostrar el boton "activar" -->
                                            if(oUsuario.usu_EsAdministrador == true && item.dei_Activo == false)
                                            {
                                                 <!-- ACTIVAR -->
                                                <button type="button" deiid="@item.dei_IdDeduccionesIndividuales" data-id="@item.dei_IdDeduccionesIndividuales" class="btn btn-primary btn-xs" id="btnActivarDeduccionesIndividuales">Activar</button>
                                            }
                                        }
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modales de Agregar, Editar, Detalles, Inhabilitar y Activar*@


@*Agregar*@
<div class="modal fade" id="AgregarDeduccionesIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear deducción extra</h4>
            </div>
            @Html.Partial("_CreateDeduccionesIndividuales", new ERP_GMEDINA.Models.tbDeduccionesIndividuales())
        </div>
    </div>
</div>


@*Editar*@
<div class="modal fade" id="EditarDeduccionesIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar deducción extra</h4>
            </div>
            @*Mandamos un nuevo modelo solo para poder cargar la página *@
            @Html.Partial("_EditDeduccionesIndividuales", new ERP_GMEDINA.Models.tbDeduccionesIndividuales())
        </div>
    </div>
</div>

<div class="modal fade" id="EditarDeduccionesIndividualesConfirmacion" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea editar este registro?
            </div>
            <div class="modal-footer">
                <input type="button" id="btnEditDeduccionIndividual2" style="margin:3px" value="Si" class="btn btn-primary " />
                <div style="display:none" class="btn" id="cargandoEditar"></div> 
                <button type="button" class="btn btn-white" id="btnRegresar">No</button>
            </div>
        </div>
    </div>
</div>


@*Detalles*@
<div class="modal fade" id="DetallesDeduccionesIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle de deducción extra</h4>
            </div>
            <div class="modal-body" id="Detalles">
                @Html.Partial("_DetailsDeduccionesIndividuales", new ERP_GMEDINA.Models.tbDeduccionesIndividuales())
            </div>
        </div>
    </div>
</div>


@*Inactivar*@
<div class="modal fade" id="InactivarDeduccionesIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inactivar</h4>
            </div>
            <div class="modal-body" id="Inactivar">
                ¿Esta seguro que desea inactivar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="margin:3px" id="btnInactivarRegistroDeduccionIndividual">Si</button>
                <div style="display:none" class="btn" id="cargandoInhabilitar"></div>
                <button type="button" class="btn btn-white" id="btnBack">No</button>
            </div>
        </div>
    </div>
</div>

@*Activar*@
<div class="modal fade" id="ActivarDeduccionesIndividuales" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activar</h4>
            </div>
            <div class="modal-body" id="Activar">
                ¿Esta seguro que desea activar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnActivarRegistroDeduccionIndividual">Si</button>
                <div style="display:none" class="btn" id="cargandoActivar"></div>
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/izitoast")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/Scripts/app/general/DeduccionesIndividuales")
}

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/izitoast/iziToast")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
