@model ERP_GMEDINA.Models.tbHistorialAmonestaciones
<div class="modal inmodal" id="ModalNuevo" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Crear Amonestación</h4>
            </div>
            <div  class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormNuevo" }))
                {
                    <div hidden="hidden" class="col-md-8">
                        <input  id="emp_Id" name="emp_Id" type="text" value="">
                    </div>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
							@Html.LabelFor(model => model.tamo_Id,"Amonestación" ,htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
							@Html.DropDownList("tamo_Id", null,"**Seleccione una opción**", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.tamo_Id, "", new { @class = "text-danger", @id = "errorhamo_Id" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.hamo_Observacion, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.hamo_Observacion, new { htmlAttributes = new { @class = "form-control required valid", @onkeypress = "return alphanumeric(event)" } })

                                @Html.ValidationMessageFor(model => model.hamo_Observacion, "", new { @class = "text-danger", @id = "errorhamo_Observacion" })
                            </div>
                        </div>
					</div>
				}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary pull-left" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/app/General")
    @Scripts.Render("~/Scripts/app/General/HistorialAmonestaciones")
    @Scripts.Render("~/Scripts/app/General/IndexHistorialAmonestaciones")

}
