@model ERP_GMEDINA.Models.tbHistorialAmonestaciones
<div class="modal inmodal" id="ModalDetalles" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle HistorialAmonestaciones</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
					<dt>@Html.DisplayNameFor(model => model.hamo_Observacion)</dt>
                    <dd id="hamo_Observacion"></dd>

					<dt>@Html.DisplayNameFor(model => model.hamo_FechaCrea)</dt>
                    <dd id="hamo_FechaCrea"></dd>

					<dt>@Html.DisplayNameFor(model => model.hamo_FechaModifica)</dt>
                    <dd id="hamo_FechaModifica"></dd>

					<dt>@Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)</dt>
                    <dd id="tbUsuario_usu_NombreUsuario"></dd>

					<dt>@Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)</dt>
                    <dd id="tbUsuario1_usu_NombreUsuario"></dd>
					<dt>@Html.DisplayNameFor(model => model.tbTipoAmonestaciones.tamo_Descripcion)</dt>
                    <dd id="tbTipoAmonestaciones"></dd>

				</dl>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cerrar</button>
				@*<button type="button" class="btn btn-primary pull-left" data-id="" id="btnEditar">Editar</button>*@
			</div>
		</div>
	</div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/app/General")
    @Scripts.Render("~/Scripts/app/General/HistorialAmonestaciones")
    @Scripts.Render("~/Scripts/app/General/IndexHistorialAmonestaciones")

}
