@model ERP_GMEDINA.Models.tbTipoDeduccion

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmTipoDeduccionEdit"}))
{
    @Html.AntiForgeryToken()
    <div class="modal-body" id="Editar">
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.tde_IdTipoDedu)
            @Html.HiddenFor(model => model.tde_UsuarioCrea)
            @Html.HiddenFor(model => model.tde_FechaCrea)
            <div class="form-group">
                @Html.LabelFor(model => model.tde_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tde_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tde_Descripcion, "", new { @class = "text-danger", @id = "Validation_descripcion" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" id="btnCerrarEditar">Cerrar</button>
        <button type="submit" class="btn btn-primary" id="btnUpdateTipoDeducciones">Aceptar</button>
        <button type="button" class="btn btn-danger" id="btnInactivarTipoDeducciones">Inactivar</button>
    </div>
}